{%
set classes = [
'paragraph',
'paragraph--type--' ~ paragraph.bundle|clean_class,
view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
not paragraph.isPublished() ? 'paragraph--unpublished',
container_class
]
%}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
      <figure>
        {{ content.field_video_embed}}
        <div class="video-info">
          <figcaption>{{ content.field_image_caption}}</figcaption>
          {{ content.field_credit_line }}
        </div>
      </figure>
    {% endblock %}
  </div>
{% endblock paragraph %}
