{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished',
    layout_class,
    content.field_image_caption|render|striptags|trim is not empty ? 'p-short-caption',
    content.field_long_caption|render|striptags|trim is not empty ? 'p-long-caption',
    content.field_credit_line|render|striptags|trim is not empty ? 'p-credit-line'
  ]
%}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    <div class="paragraph--image-list-container">
    {% block content %}
      <figure>
        <div class="paragraph--image-list-content">
          {{ content.field_images }}
        </div>
        {# <div class="paragraph--image-list-caption-credit">
          {% if content.field_image_caption|render|striptags|trim is not empty %}
            <figcaption>{{ content.field_image_caption }}</figcaption>
          {% endif %}
          {{ content.field_credit_line }}
        </div> #}
        {% if content.field_image_caption|render|striptags|trim is not empty or content.field_long_caption|render|striptags|trim is not empty or content.field_credit_line|render|striptags|trim is not empty %}
        <div class="image-info">
          {% if content.field_image_caption|render|striptags|trim is not empty and content.field_long_caption|render|striptags|trim is empty %}
            <figcaption class="image-caption">{{ content.field_image_caption }}</figcaption>
          {% endif %}
          {% if content.field_credit_line|render|striptags|trim is not empty %}
            <figcaption class="credit-line">{{ content.field_credit_line }}</figcaption>
          {% endif %}
          {% if content.field_long_caption|render|striptags|trim is not empty %}
            <figcaption class="long-caption">{{ content.field_long_caption }}</figcaption>
          {% endif %}
        </div>
      {% endif %} 
      </figure>
    {% endblock %}
    </div>
  </div>
{% endblock paragraph %}
