{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished',
    container_class,
    bg_emphasis_class,
    content.field_image_caption|render|striptags|trim is not empty ? 'p-short-caption',
    content.field_long_caption|render|striptags|trim is not empty ? 'p-long-caption',
    content.field_credit_line|render|striptags|trim is not empty ? 'p-credit-line'
  ]
%}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
    <figure>
      {% if content.field_image_render_options|render|striptags|trim == "full_bleed" %}
        <div class="image-wrapper" style="background:#ccc url({{ content.field_image_file|render|striptags|trim }}) no-repeat center center; background-size: cover;"></div>
      {% else %}
        <div class="image-wrapper"><img src="{{ content.field_image_file|render|striptags|trim }}" alt="{{ content.field_image_file['#items'].alt }} "></div>
      {% endif %}

      {% if content.field_image_caption|render|striptags|trim is not empty or content.field_long_caption|render|striptags|trim is not empty or content.field_credit_line|render|striptags|trim is not empty %}
        <div class="image-info">
          {% if content.field_image_caption|render|striptags|trim is not empty and content.field_long_caption|render|striptags|trim is empty %}
            <figcaption class="image-caption">{{ content.field_image_caption }}</figcaption>
          {% endif %}
          {% if content.field_credit_line|render|striptags|trim is not empty %}
            <figcaption class="credit-line">{{ content.field_credit_line }}</figcaption>
          {% endif %}
          {% if content.field_long_caption|render|striptags|trim is not empty %}
            <figcaption class="long-caption">{{ content.field_long_caption }}</figcaption>
          {% endif %}
        </div>
      {% endif %} 
    </figure>
    {% endblock %}
  </div>
{% endblock paragraph %}
