{%
set classes = [
'paragraph',
'paragraph--type--' ~ paragraph.bundle|clean_class,
view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
not paragraph.isPublished() ? 'paragraph--unpublished'
]
%}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
      {% if content.field_section_title|length > 0 %}
        {{ content.field_section_title }}
      {% endif %}
      {% if cta_link  %}
        <a href="{{ cta_link|render }}" {{ attributes.addClass(content.content.field_image_file.0|render|clean_class) }} tabindex="-1">
          {{ content.field_image_file }}
        </a>
      {% else %}
        {{ content.field_image_file }}
      {% endif %}
      {{ content|without('field_image_file','field_section_title','field_render_as') }}
    {% endblock %}
  </div>
{% endblock paragraph %}
