{%
  set classes = [
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished',
  content.field_long_caption|render|striptags|trim is not empty ? 'p-long-caption'
]
%}
{% block paragraph %}
  <div{{ attributes.addClass(classes, bg_emphasis_class) }}>
    {% block content %}
      <figure>
        {% if cta_link  %}
          <a href="{{ cta_link|render }}" tabindex="-1">
            {{ content.field_image_file }}
          </a>
        {% else %}
        {{ content.field_image_file }}
        {% endif %}
          {% if content.field_image_caption %}
          <div class="image-info">
            {% if content.field_long_caption %}
              <figcaption class="long-caption">
                {{ content.field_long_caption }}
              </figcaption>
            {% endif %}
            <figcaption class="image-caption">
              {{ content.field_image_caption }}
            </figcaption>
          </div>
          {% endif %}
        </figure>
        {{ content|without('field_image_file','field_image_caption','field_long_caption','field_render_as', 'field_emphasis') }}

    {% endblock %}
  </div>
{% endblock paragraph %}
