{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished',
    'row--' ~ elements['#class']
  ]
%}
 <div class="ticket-item-block-title">{{ content.field_section_title }}</div>
{% if ticket_item_include_heading %}
  {% set classes = classes|merge(['paragraph--type--ticket-item-w-header']) %}
{% endif %}

{% if (ticket_item_heading_elements and ticket_item_heading_elements|length > 1) %}
  {% set classes = classes|merge(['t--type-1']) %}
{% endif %}

{% if not(ticket_item_include_heading) %}
  {% set classes = classes|merge(['t--type-2']) %}
{% endif %}

{% if (ticket_item_heading_elements and ticket_item_heading_elements|length == 1) %}
  {% set classes = classes|merge(['t--type-3']) %}
{% endif %}

{% block paragraph %}
  <div{{ attributes.addClass(classes, padding_class) }}>
    {% block content %}
      {% if ticket_item_include_heading %}
        <div class="ticket-item-heading">
          {% if (ticket_item_heading_elements and ticket_item_heading_elements|length > 1) %}
            <div class="tickets--left-trigger"></div>
            <div class="tickets--right-trigger"></div>
          {% endif %}
          <div class="ticket-item-heading-left">
          </div>
          <div class="ticket-item-heading-right">
            <div class="ticket-item-heading-right-wrapper">
              {% for key, price_category in ticket_item_heading_elements %}
                <span class="ticket-item-heading-element {% if key == 0 %} active {% endif %}" style="flex: 0 0 {{ 100/ticket_item_heading_elements|length }}%;">
                  {% if price_category == 'None' %}
                  {% else %}
                {{ price_category }}
                  {% endif %}
              </span>
              {% endfor %}
            </div>
          </div>
        </div>
      {% endif %}
      <div class="ticket-item-row {% if (not ticket_item_heading_elements) %} no-pricing {% endif %} ">
        <div class="ticket-item-left">
          <div class="ticket-item-left-wrapper">
            {{ content|without('field_ticket_prices','field_cta', 'field_section_title') }}
          </div>
        </div>
        <div class="ticket-item-right {% if (ticket_item_heading_elements|length and ticket_item_heading_elements|length <= 1) %} inline-items {% endif %} ">
          <div class="ticket-item-right-wrapper">
            <div class="field field-name-field-ticket-prices field-type-ticketprice field-label-hidden field-item">
              {% for key, child in elements.field_ticket_prices if key|first != '#' %}
                <span class="ticket-item-price {% if key == 0 %} active {% endif %}" style="flex: 0 0 {{ 100/ticket_item_heading_elements|length }}%;">{{ content.field_ticket_prices[key] }}</span>
              {% endfor %}
            </div>
          </div>
          {{ content.field_cta }}
        </div>
      </div>
    {% endblock %}
  </div>
{% endblock paragraph %}
