{%
set classes = [
'paragraph',
'paragraph--type--' ~ paragraph.bundle|clean_class,
view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
not paragraph.isPublished() ? 'paragraph--unpublished',
container_class
]
%}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
      {{ content.field_video_upload}}
      <div class="video-info">
        {{ content.field_image_caption}}
        {{ content.field_credit_line }}
      </div>
    {% endblock %}
  </div>
{% endblock paragraph %}
