{%
set classes = [
'paragraph',
'paragraph--type--' ~ paragraph.bundle|clean_class,
view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
not paragraph.isPublished() ? 'paragraph--unpublished'
]
%}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }} style="background:#ccc url({{ mobile_background|render }}) no-repeat center center; background-size: cover;">
    <div class="c-pp"><div id="videoControl" class="c-pp__icon" tabindex="0" role="button" aria-label="Pause video"></div></div>
    {% block content %}
      <div id="video-container">
        {{ content|without('field_image_file') }}
      </div>
    {% endblock %}
  </div>
{% endblock paragraph %}
