// Adminimal Custom

// .node-form .form-item {
//   margin-bottom: 1rem;
// }

// .node-form label {
//   margin-bottom: 0.5rem;
// }

.node-form label {
  margin-bottom: 0.5rem;
}

.node-form .paragraph-type--double-column-simple-text .form-elements-inline .fieldset-wrapper {
  display: flex;
  flex-direction: row;

  > .form-wrapper {
    width: 50%;
  }

  > .form-wrapper:first-child  {
    padding-right: 10px;
  }
}

.node-form .paragraph-type--video-from-brightcove .item-container {
  display: flex;
  flex-direction: column;
  margin: 1.5rem 0;
  position: relative;

  .field {
    margin: 0 0 0.5rem 7.5rem;
  }

  //created
  .field--name-created {
    order: 3;
  }

  //decription
  .field--name-description {
    order: 4;
  }

  //duration
  .field--name-duration {
    order: 5;
  }

  //thumb
  .field--name-thumbnail {
    order: 1;
    position: absolute;
    left: 0;
    margin: 0;
  }

  //author
  .field--name-uid {
    order: 6;
  }

  //video id
  .field--name-video-id {
    order: 7;
  }

  //video name
  .field--name-name {
    order: 2;
    font-weight: bold;
  }

  .remove-button {
    order: 9;
    margin: 0 auto 0 7.5rem;
  }

  .edit-button {
    order: 8;
    margin: 0 auto 0.5rem 7.5rem;
  }
}
