/* MIXINS */

//
// Alternate buttons
//
@each $color,
$value in $theme-colors {
    .btn-#{$color} a {
        @include button-variant($value, $value);
    }
}

@each $color,
$value in $theme-colors {
    .btn-outline-#{$color} a {
        @include button-outline-variant($value);
    }
}

/* Custom style for flex basis
-------------------------------------------------*/

@each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
        $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

        //
        //.flex#{$infix}-basis-0       { flex-basis: 0 !important; }
        //.flex#{$infix}-basis-1       { flex-basis: 1 !important; }

        $i: 0;
        @while $i <= 100 {
            .flex#{$infix}-basis-#{$i} { flex-basis: percentage($i/100) !important; }
            $i: $i + 0.1;
        }
    }
}

/* Custom style for width
-------------------------------------------------*/

@each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
        $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

        //
        //.w#{$infix}       { width: 0 !important; }
        //.w#{$infix}       { width: 1 !important; }

        $i: 0;
        @while $i <= 100 {
            .w#{$infix}--#{$i} { width: percentage($i/100) !important; }
            $i: $i + 0.1;
        }
    }
}

/* Custom style for width
-------------------------------------------------*/

@each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
        $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

        //
        //.w#{$infix}       { width: 0 !important; }
        //.w#{$infix}       { width: 1 !important; }

        $i: 0;
        @while $i <= 100 {
            .h#{$infix}--#{$i} { height: percentage($i/100) !important; }
            $i: $i + 0.1;
        }
    }
}

