/* VARIABLES */

/* Colors
// ========================================== */

$primary-shade: #A8CF45;
$primary-light: lighten($primary-shade, 37%);
$primary-dark: darken($primary-shade, 12%);
$accent-shade: #0079C0;
$accent-light: lighten($accent-shade, 37%);
$accent-dark: darken($accent-shade, 12%);
// Reassign color vars to semantic color scheme
$red: #dc3545;
$yellow: #ffc107;
$green: #28a745;
$cyan: #17a2b8;
$gray-001: #f8f9fa !default;
$gray-800: #343a40 !default;
$theme-colors: ( primary: $accent-shade, secondary: $primary-shade, success: $green, info: $cyan, warning: $yellow, danger: $red, light: $gray-001, dark: $gray-800);
$brand-primary: $accent-shade;
$brand-inverse: $primary-shade;


$white        : #fff;

$gold-001     : #E6E5D8;
$green        : #3f9c35;
$green-001    : #3f9c35;

$gray-002     : #eee;
$gray-003     : #fcfcfc;
$gray-004     : #ddd;
$gray-005     : #bbb;
$gray-006     : #b6b6b6;
$gray-007     : #666;

$brown-007    : #725027;
$brown-008    : #472803;

$blue-006     : #005293;

$red-004      : #CD1753;

$orange-006   : #E98300;

// colors with opacity
$transparent  : rgba(0, 0, 0, 0);

$white-ghost  : rgba(255,255,255,0.4);

$gold-ghost   : rgba(230,229,216,0.4);

$black-ghost  : rgba(0,0,0,0.2);

$blue-ghost   : rgba(0, 82, 147, 0.2);

// Body
//

// Settings for the `<body>` element.
//$body-bg: $white;
//$body-color: $gray-dark;
$inverse-bg: $primary-shade;
//$inverse-color: $gray-lighter;
// Links
//

// Style anchor elements.
$link-color: $accent-shade;
$link-decoration: none;
$link-hover-color: $accent-dark;
$link-hover-decoration: underline;


// Comments
$comment-spacer-x: 1.25em;
$comment-spacer-y: 1.25em;

/* Breakpoints
// ========================================== */

$breakpoint_sm     : 586px;
$breakpoint_md      : 768px;
$breakpoint_lg      : 900px;
$breakpoint_xl      : 1480px;


/* Font
// ========================================== */

$calibri   : 'Calibri', Helveltica , sans-serif;


/* Timing
// ========================================== */

$duration-instantly                     : 0;
$duration-immediately                   : 0.05s;
$duration-quickly                       : 0.1s;
$duration-promptly                      : 0.2s;
$duration-slowly                        : 0.5s;
$duration-very-slowly                   : 0.75s;