//
//.block-page-title-block {
//  h1 {
//    margin: 15px 0;
//    font-size: 33px;
//    line-height: 33px;
//    font-weight: bold;
//    color: $black;
//  }
//}
//
//.page-node-page .block-page-title-block {
//  display: none;
//}
//
//.node__content {
//  font-size: 18px;
//}
//
//.content .node {
//  p,
//  li,
//  ul,
//  h1,
//  h2,
//  h3,
//  h4,
//  h5,
//  h6 {
//    color: $gray-007;
//  }
//}
//
//.content .node--type-page {
//  h1 {
//    margin: 15px 0;
//    font-size: 33px;
//    line-height: 33px;
//    font-weight: bold;
//    color: $black;
//  }
//}
//
//table {
//  h1, h2, h3, h4, h5, h6 {
//    font-weight: bold;
//    color: $black;
//  }
//}
//
//.content .node {
//  h1, h2, h3, h4, h5, h6 {
//    font-weight: bold;
//    color: $black;
//  }
//}
//
//h1,
//table h1 {
//  margin: 15px 0;
//  font-size: 33px;
//  line-height: 33px;
//}
//
//h2,
//table h2 {
//  font-size: 26px;
//  line-height: 26px;
//}
//
//h3,
//table h3 {
//  font-size: 22px;
//  line-height: 22px;
//}
//
//h4,
//table h4 {
//  font-size: 22px;
//  line-height: 22px;
//}
//
//ul {
//  display: block;
//  list-style-type: disc;
//  margin: 16px 0;
//  padding-left: 40px;
//}
//
//ul li {
//  margin-left: 0;
//  list-style-image: url("../images/icons/li_bullet.png");
//}
//
//p {
//  display: block;
//  font-size: 18px;
//  margin: 16px 0;
//
//  &:empty,
//  &:blank {
//    display: none;
//  }
//}
//
//a {
//  color: $blue-006;
//  font-weight: bold;
//  font-size: 18px;
//  text-decoration: none;
//  transition: all 125ms ease-out;
//
//  &:hover {
//    color: $black;
//    text-decoration: underline;
//    transition: all 125ms ease-out;
//  }
//}
//
//blockquote {
//  display: block;
//  margin: 5px;
//
//  @include mq($from: $breakpoint_sm) {
//    margin: 16px 40px;
//  }
//}
//
//.content .node tbody,
//.content .node tr,
//.content .node th,
//.dlfolder,
//.dlfolder ul,
//.dlfolder li {
//  list-style: none;
//}
//
//#doctree {
//  padding: 0;
//}
//
//#doctree ul {
//  padding-left: 5px;
//  margin-top: 0;
//}
//
//.dlfolder {
//  position: relative;
//  width: 100%;
//  padding-left: 18px;
//
//  &:before {
//    content: "";
//    width: 16px;
//    height: 18px;
//    display: inline-block;
//    background: url('../images/icons/dms_minus.png') no-repeat;
//    position: absolute;
//    top: 3px;
//    left: 0;
//  }
//
//  &.open:before {
//    background: url('../images/icons/dms_plus.png') no-repeat;
//  }
//}
//
//.dlfolder,
//.dlfolder a {
//  font-size: 14px;
//}
//
//.dlfolder .foldername {
//  cursor: pointer;
//  color: $black;
//  display: inline-block;
//  width: 100%;
//  background: url("../images/icons/folder.png") no-repeat;
//  background-position: 2px center;
//  background-color: transparent;
//  transition: background-color 200ms ease-out;
//  padding: 2px 0 2px 20px;
//  font-weight: bold;
//
//  &:hover{
//    background-color: #E9EEED;
//    transition: background-color 200ms ease-out;
//  }
//}
//
//.content .node colgroup {
//  display: table-column-group;
//}
//
//.tbldoclistheader {
//  width: 100%;
//  table-layout: fixed;
//  border-collapse: collapse;
//}
//
//.tbldoclist {
//  width: 100%;
//  table-layout: fixed;
//  border-collapse: collapse;
//}
//
//.content .node col.col1 {
//  width: 24px;
//}
//
//.content .node col.col2 {
//  width: 70%;
//}
//
//.content .node col.col3 {
//  width: 13%;
//  display: none;
//}
//
//.content .node col.col6 {
//  width: 13%;
//}
//
//.content .node tbody {
//  display: table-row-group;
//  vertical-align: middle;
//  border-color: inherit;
//}
//.content .node tbody tr {
//  display: table-row;
//  vertical-align: inherit;
//  border-color: inherit;
//  border-spacing: 2px;
//  list-style-image: none;
//  font-size: 14px;
//  padding: 3px 0;
//}
//
//.content .node tbody tr th {
//  text-align: left;
//  font-size: 10px;
//  color: #666;
//  padding: 3px 0;
//  background: #eee;
//  border-bottom: 1px dotted #bbb;
//  border-top: 1px dotted #bbb;
//  text-transform: uppercase;
//}
//
//.tbldoclist td {
//  overflow: hidden;
//  font-size: 11px;
//  border-bottom: 1px solid #ddd;
//}
//
//.tbldoclist tr:hover {
//  background-color: #E9EEED;
//  transition: background-color 200ms ease-out;
//}
//
//tr .icon {
//  width: 16px;
//  height: 16px;
//  display: block;
//  background: url("../images/icons/icon_pdf.png") no-repeat center center;
//  background-size: 90%;
//  margin: 3px 0;
//}
//
//ul li {
//  &.pdfbullets {
//    list-style-image: url("../images/icons/icon_list_pdf.gif");
//  }
//
//  &.iebullets{
//    list-style-image: url("../images/icons/icon_explorer_bullet.gif");
//  }
//
//  &.fileicon-pdf,
//  &.rdnpdfbullets {
//    list-style-image: url("../images/icons/icon_pdf.png");
//  }
//}
//
//.bigbuttonlink {
//  transition: all 125ms ease-out;
//  display: block;
//  border: 2px solid $gray-006;
//  padding: 10px;
//  margin: 10px;
//  text-align: center;
//  font-size: 16px;
//  background-color: $gray-003;
//  border-radius: 8px;
//}
//
//.cnt {
//  @extend .text-center;
//}