{#
/**
 * @file
 * Default theme implementation for a calendar pager.
 *
 * Available variables:
 * - items: List of pager items.
 *
 * @ingroup themeable
 */
#}
{% if (items.previous or items.next) and not exclude %}
  <nav class="pager" role="navigation" aria-labelledby="pagination-heading">
      <h4 class="visually-hidden">{{ 'Pagination'|t }}</h4>
      <ul class="js-pager__items">
          {% if items.previous %}
              <li class="pager__item pager__item--previous">
                  <a href="{{ items.previous.url }}" title="{{ 'Go to previous page'|t }}" rel="prev"{{ items.previous.attributes|without('href', 'title', 'rel') }}>
                      <span class="icon" aria-hidden="true" aria-label="{{ 'Previous'|t }}">{{ items.previous.text|default('<'|t) }}</span>
                  </a>
              </li>
          {% endif %}
          {% if items.current %}
              <li class="pager__item pager__item--current">{{ items.current }}</li>
          {% endif %}
          {% if items.next %}
              <li class="pager__item pager__item--next">
                  <a href="{{ items.next.url }}" title="{{ 'Go to next page'|t }}" rel="next"{{ items.next.attributes|without('href', 'title', 'rel') }}>
                      <span class="icon" aria-hidden="true" aria-label="{{ 'PreviouNexts'|t }}">{{ items.next.text|default('>'|t) }}</span>
                  </a>
              </li>
          {% endif %}
      </ul>
  </nav>

  <div class="calendar-mode">
    <a href="#calendar" class="calendar-toggle" aria-label="{{ 'Calendar'|t }}">&nbsp;</a>
    <a href="#list" class="list-toggle" aria-label="{{ 'List'|t }}">&nbsp;</a>
  </div>

  <div class="clearfix"></div>
{% endif %}

