{#
/**
 * @file
 * Template to display a column.
 *
 * Available variables:
 * - item: The item to render within a td element.
 *
 * @ingroup themeable
 */
#}

<td
  id="{{ item.id }}"
  date-date="{{ item.date }}"
  data-day-of-month="{{ item.day_of_month }}"
  headers="{{ item.header_id }}"
  class="{{ item.class }}"
  colspan="{{ item.colspan }}"
  rowspan="{{ item.rowspan }}">
  <a class="calendar-day-modal-link use-ajax" data-dialog-type="modal" data-dialog-options="{{ options }}" href="{{ day_details_url }}">
    <div class="inner">
      {{ item.entry }}
    </div>
  </a>
  <div class="more hidden">+<span class="count"></span> {{ 'more'|t }}</div>
</td>
