{#
/**
 * @file
 * Default theme implementation to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 *
 * @ingroup themeable
 */
#}
{%
set classes = [
'museum-listing-group',
is_special ? 'museum-listing-special' : 'museum-listing-standard',
]
%}
{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
{% for group in groups %}
  <div{{ attributes.addClass(classes) }}>
    <div class="museum-listing-heading">
      {{ group.heading }}
    </div>
    <div class="museum-listing-content">
    {% for row in group.rows %}
      {%
        set row_classes = [
          default_row_class ? 'views-row',
          'museum-listing-item'
        ]
      %}
      <div{{ row.attributes.addClass(row_classes) }}>
        {{- row.content -}}
      </div>
    {% endfor %}
    </div>
    <div class="museum-listing-nav"></div>
  </div>
  <div class="clearfix"></div>
{% endfor %}
