{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}
{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
{% for key, grouping in groups %}
<div class="grouping-container">
  {% if key != ' ' and current_page == 0 %}
  <div class="grouping-label">
  {{ key }}
  </div>
  {% endif %}
  <div class="grouping-content">
  {% for row_key in grouping %}
    {%
      set row_classes = [
        default_row_class ? 'views-row',
      ]
    %}
    {%
      set row = attribute(rows, row_key)
    %}
    <div{{ row.attributes.addClass(row_classes) }}>
      {{- row.content -}}
    </div>
  {% endfor %}
  </div>
</div>
{% endfor %}
