    {#
    /**
     * @file
     * Default theme implementation for a views mini-pager.
     *
     * Available variables:
     * - items: List of pager items.
     *
     * @see template_preprocess_views_mini_pager()
     *
     * @ingroup themeable
     */
    #}
    {% if items.previous or items.next %}
      <nav aria-label="Page navigation">
        <h4 class="visually-hidden">{{ 'Pagination'|t }}</h4>
        <ul class="js-pager__items pagination">

            <li class="page-item">
              {% if items.previous %}
              <a class="page-link" href="{{ items.previous.href }}" title="{{ 'Go to previous page'|t }}" rel="prev"{{ items.previous.attributes|without('href', 'title', 'rel') }}>
                <span class="visually-hidden">{{ 'Previous page'|t }}</span>
                <span aria-hidden="true"><i class="fas fa-angle-left"></i> {{ items.previous.text|default('‹‹'|t) }}</span>
              </a>
              {% endif %}
            </li>

          {% if items.current %}
            <li class="page-item pagination-ammount">
              <span class="page-link">
                {{ 'Page'|t }} {{ items.current }} {{ 'of'|t }} {{ pager_total }}
              </span>
            </li>
          {% endif %}
            <li class="page-item">
              {% if items.next %}
              <a class="page-link" href="{{ items.next.href }}" title="{{ 'Go to next page'|t }}" rel="next"{{ items.next.attributes|without('href', 'title', 'rel') }}>
                <span class="visually-hidden">{{ 'Next page'|t }}</span>
                <span aria-hidden="true">{{ items.next.text|default('››'|t) }} <i class="fas fa-angle-right"></i></span>
              </a>
              {% endif %}
            </li>
        </ul>
      </nav>
    {% endif %}
