{#
/**
 * @file
 * Default theme implementation for a view template to display a list of rows.
 *
 * Available variables:
 * - attributes: HTML attributes for the container.
 * - rows: A list of rows for this list.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's contents.
 * - title: The title of this group of rows. May be empty.
 * - list: @todo.
 *   - type: Starting tag will be either a ul or ol.
 *   - attributes: HTML attributes for the list element.
 *
 * @see template_preprocess_views_view_list()
 *
 * @ingroup themeable
 */
#}

{%
  set classes = [
  'd-flex',
  'flex-direction-row',
  'align-items-stretch',
  'justify-content-space',
  'justify-content-between',
  'event--colum-nav'
  ]
%}

{% if attributes -%}
<div{{ attributes }}>
  {% endif %}
  {% if title %}
    <h3 class="row--title">{{ title }}</h3>
  {% endif %}

  <{{ list.type }}{{ list.attributes }}>

  <div {{ attributes.addClass(classes) }} >
    <div class="flex-basis-30">
      <h4 class="colm--title">{{ 'Event'|t }}</h4>
    </div>
    <div class="flex-basis-65">
      <h4 class="colm--title">{{ 'Details'|t }}</h4>
    </div>
  </div>
  {% for row in rows %}
    <li{{ row.attributes }}>
      {{- row.content -}}
    </li>
  {% endfor %}

</{{ list.type }}>

{% if attributes -%}
  </div>
{% endif %}
