// Layout

// This is a Mobile first design that uses "min-width".

// Default styles will apply to mobile devices, everything up from there needs to be added by "@include mq($from: tablet) {...}".

// Refer to "utils/variables.scss" for established breakpoints.

// Add a "tabletish" breakpoint by: "@include mq($from: tablet) {...}".

// Add a "large / desktop" by: "@include mq($from: desktop) {...}".

// ------------------------------------------------------------- //

.contain {
  @include contain;
}

.main-content {
  min-height: 400px;
}
