// Clearfix
@mixin clearfix {

  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }
}

// Layout Container
@mixin contain {
  margin: 2rem 0;
  padding: 0 2rem;

  @include mq($from: tablet) {
    width: 62%;
    margin: 2.5rem auto;
    padding: 0;
    max-width: $max-width;
  }
}

// Container with padding
@mixin contain-padding {
  margin: 0 auto;
  padding: 2rem;

  @include mq($from: tablet) {
    width: 62%;
    margin: 0 auto;
    padding: 2.5rem 0;
    max-width: $max-width;
  }
}

// Container only, no margins or padding
@mixin contain-only {
  margin: 0 auto;
  padding: 0 2rem;

  @include mq($from: tablet) {
    width: 62%;
    margin: 0 auto;
    padding: 0;
    max-width: $max-width;
  }
}

@mixin contain-wide {
  margin: 2rem 0;
  padding: 0 2rem;

  @include mq($from: tablet) {
    width: 62%;
    margin: 2.5rem auto;
    padding: 0;
    max-width: $max-width-wide;
  }
}

// Remove Link Underline Hover
@mixin nounderline {

  &:before,
  &:hover:before {
    display: none;
  }
}

// Fonts
@mixin font-gotham-book {
  font-family: 'Gotham A', 'Gotham B', Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
}

@mixin font-gotham-bold {
  font-family: 'Gotham A', 'Gotham B', Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
}

@mixin font-surveyor-text-book {
  font-family: 'Surveyor Text A', 'Surveyor Text B', serif;
  font-style: normal;
  font-weight: 400;
}

@mixin font-surveyor-fine-book {
  font-family: 'Surveyor Fine A', 'Surveyor Fine B', serif;
  font-style: normal;
  font-weight: 400;
}

@mixin helvetica {
  font-family: Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
}

// CTA Button
@mixin cta-button {
  @include font-gotham-bold;
  display: block;
  padding: 0.5625rem 1rem;
  border: 1px solid $blue-100;
  border-radius: 2px;
  transition: background-color 0.25s;
  font-size: 0.85rem;
  text-transform: initial;
  text-align: center;
  line-height: 1.5;
  color: $blue-100;

  &:hover {
    background-color: $blue-100;
    color: $white;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);
    cursor: pointer;
  }

  &:hover:before {
    background-color: transparent;
  }

  &:active {
    background-color: $blue-200;
    color: $white;
    cursor: pointer;
  }

  @include mq($from: tablet) {
    display: inline-block;
  }
}

@mixin cta-button-white {
  border-color: $white;
  color: $white;

  &:hover {
    background-color: $white;
    color: $blue-100;
  }
}

@mixin cta-button-blue {
  @include cta-button;
  background-color: $blue-100;
  color: $white;
}

// Caption
@mixin caption {
  @include font-gotham-bold;
  font-size: 0.65rem;
  line-height: 1.4;
  text-transform: uppercase;
}
