{%
  set classes = [
    'intro-credits'
  ]
%}

{% if multiple %}
  <div{{ attributes.addClass(classes) }}>
    {% for item in items %}
      <span{{ item.attributes.addClass('credit-item') }}>{{ item.content }}</span>
    {% endfor %}
  </div>
{% endif %}
