{%
set classes = [
'field',
'field-name-' ~ field_name|clean_class,
'field-type-' ~ field_type|clean_class,
'field-label-' ~ label_display,
]
%}
{%
set title_classes = [
'field__label',
label_display == 'visually_hidden' ? 'visually-hidden',
]
%}

{% if label_hidden %}
  {% if multiple %}
    {% for item in items %}
      <div{{ attributes.addClass(classes, 'field-item') }}>{{ item.content }}</div>
    {% endfor %}
  {% else %}
    {% for item in items %}
      {% if field_name == 'field_quote' %}
        <aside {{ attributes.addClass(classes, 'field-item') }}>
          <blockquote>
            {{ item.content }}
          </blockquote>
        </aside>
        {% else %}
          <div{{ attributes.addClass(classes, 'field-item') }}>{{ item.content }}</div>
        {% endif %}
    {% endfor %}
  {% endif %}
{% else %}
  <div{{ attributes.addClass(classes) }}>
    <div{{ title_attributes.addClass(title_classes) }}>{{ label }}</div>
    {% if multiple %}
    {% endif %}
    {% for item in items %}
      <div{{ attributes.addClass(classes, 'field-item') }}>{{ item.content }}</div>
    {% endfor %}
    {% if multiple %}
    {% endif %}
  </div>
{% endif %}
