{%
set classes = [
'field',
'field-name-' ~ field_name|clean_class,
'field-type-' ~ field_type|clean_class,
'field-label-' ~ label_display,
]
%}
{%
set title_classes = [
'field__label',
label_display == 'visually_hidden' ? 'visually-hidden',
]
%}

{% if label_hidden %}
  {% if multiple %}
    <ul>
      {% for item in items %}
          <li {{ attributes.addClass(classes, 'field-item') }}>
            {{ item.content }}
          </li>
      {% endfor %}
    </ul>
  {% else %}
    {% for item in items %}
      <div{{ attributes.addClass(classes, 'field-item') }}>{{ item.content }}</div>
    {% endfor %}
  {% endif %}
{% else %}
  <div{{ attributes.addClass(classes) }}>
    <div{{ title_attributes.addClass(title_classes) }}>{{ label }}</div>
    {% if multiple %}
    {% endif %}
    {% for item in items %}
      <div{{ item.attributes.addClass('field-item') }}>{{ item.content }}</div>
    {% endfor %}
    {% if multiple %}
    {% endif %}
  </div>
{% endif %}
