{%
set classes = [
'field',
'field-name-' ~ field_name|clean_class,
'field-type-' ~ field_type|clean_class,
'field-label-' ~ label_display,
]
%}
{%
set title_classes = [
'field__label',
label_display == 'visually_hidden' ? 'visually-hidden',
]
%}

<div{{ attributes.addClass(classes) }}>
  {% if multiple %}
  {% endif %}
  {% for item in items %}
    <div{{ item.attributes.addClass('field-item') }}>{{ item.content }}</div>
  {% endfor %}
  {% if multiple %}
  {% endif %}
</div>
