{%
set classes = [
'field',
'field-name-' ~ field_name|clean_class,
'field-type-' ~ field_type|clean_class,
'field-label-' ~ label_display,
]
%}

{% set break = 0 %}
{% set field_items = items %}

{%
set title_classes = [
'field__label',
label_display == 'visually_hidden' ? 'visually-hidden',
]
%}

{% if label_hidden %}
  {% if multiple %}
    {% for key, item in field_items %}
      {% set break = 0 %}
      {% if item.content['#paragraph'].bundle == 'ticket_item' %}
        <div class="ticket_table_wrapper">
          {% for key2, ticket in field_items if break <= 0 %}
            {% if ticket.content['#paragraph'] and ticket.content['#paragraph'].bundle == 'ticket_item' %}
              <div>{{ ticket.content }}</div>
              {% set field_items = field_items|slice(1) %}
            {% else %}
              {% set break = 1 %}
            {% endif %}
          {% endfor %}
        </div>
      {% else %}
        {{ item.content }}
        {% set field_items = field_items|slice(1) %}
      {% endif %}
    {% endfor %}
  {% else %}
    {% for key, item in field_items %}
      {% set break = 0 %}
      {% if item.content['#paragraph'].bundle == 'ticket_item' %}
        <div class="ticket_table_wrapper">
          {% for key2, ticket in field_items if break <= 0 %}
            {% if ticket.content['#paragraph'].bundle == 'ticket_item' %}
              <div{{ attributes.addClass(classes, 'field-item') }}>{{ item.content }}</div>
              {% set field_items = field_items|slice(1) %}
            {% else %}
              {% set break = 1 %}
            {% endif %}
          {% endfor %}
        </div>
      {% else %}
        <div{{ attributes.addClass(classes, 'field-item') }}>{{ item.content }}</div>
        {% set field_items = field_items|slice(1) %}
      {% endif %}
    {% endfor %}
  {% endif %}
{% else %}
  <div{{ attributes.addClass(classes) }}>
    <div{{ title_attributes.addClass(title_classes) }}>{{ label }}</div>
    {% if multiple %}
    {% endif %}
    {% for key, item in field_items %}
      {% set break = 0 %}
      {% if item.content['#paragraph'].bundle == 'ticket_item' %}
        <div class="ticket_table_wrapper">
          {% for key2, ticket in field_items if break <= 0 %}
            {% if ticket.content['#paragraph'].bundle == 'ticket_item' %}
              <div{{ item.attributes.addClass('field-item') }}>{{ item.content }}</div>
              {% set field_items = field_items|slice(1) %}
            {% else %}
              {% set break = 1 %}
            {% endif %}
          {% endfor %}
        </div>
      {% else %}
        <div{{ item.attributes.addClass('field-item') }}>{{ item.content }}</div>
        {% set field_items = field_items|slice(1) %}
      {% endif %}
    {% endfor %}
    {% if multiple %}
    {% endif %}
  </div>
{% endif %}


