{%
set classes = [
'field',
'field-name-' ~ field_name|clean_class,
'field-type-' ~ field_type|clean_class,
'field-label-' ~ label_display,
'featured-landing-page-card'
]
%}
<div {{ attributes.addClass(classes) }}>
  {% for item in items %}
    {{ item.content }}
  {% endfor %}
</div>

