{%
  set classes = [
    'general-information-container'
  ]
%}

<div {{ attributes.addClass(classes) }}>
  <div class="general-information-content">
  {% for item in items %}
    {{ item.content }}
  {% endfor %}
  </div>
</div>
