{%
set classes = [
'field',
'field-name-' ~ field_name|clean_class,
'field-type-' ~ field_type|clean_class,
'field-label-' ~ label_display,
'field-related-content-h-v-card',
layout_class
]
%}
{%
set title_classes = [
'field__label',
label_display == 'visually_hidden' ? 'visually-hidden',
]
%}

{% if items|length > 1 %}
  {% set classes = classes|merge(['half-row']) %}
{% else %}
  {% set classes = classes|merge(['full-row']) %}
{% endif %}


{% if label_hidden %}
  {% if multiple %}
    <div{{ attributes.addClass(classes) }}>
      {% for key, item in items %}
        {% if (key is even) %}
          <div class="odd">
            {{ item.content}}
          </div>
        {% else %}
          <div class="even">
            {{ item.content}}
          </div>
        {% endif %}
      {% endfor %}
    </div>
  {% else %}
    {% for item in items %}
      <div{{ attributes.addClass(classes, 'field-item') }}>{{ item.content }}</div>
    {% endfor %}
  {% endif %}
{% else %}
  <div{{ attributes.addClass(classes) }}>
    <div{{ title_attributes.addClass(title_classes) }}>{{ label }}</div>
    {% if multiple %}
    {% endif %}
    {% for item in items %}
      <div{{ item.attributes.addClass('field-item') }}>{{ item.content }}</div>
    {% endfor %}
    {% if multiple %}
    {% endif %}
  </div>
{% endif %}