.messages {
  padding: 1rem;
  margin-bottom: 2rem;
  background-color: #cfefc2;

  &.messages--warning {
    background-color: #f9fb93;
  }

  &.messages--error {
    background-color: #fbe3e4;
  }
}
