// ===============================
// Modal (Taken from Calendar)
// ===============================
.ar-enabled,
.path-registry {
  .ui-dialog {
    @include font-gotham-book;
    z-index: 200 !important;
    background: $white;
    //display: inherit !important;
    // position: absolute !important;
    // min-height: calc(50% - 50px);
    // overflow-y: scroll;
    width: 100% !important;
    overflow: hidden !important;

    @include mq($from: tablet) {
      width: 60% !important;
      max-height: calc(100% - 50px);
    }

    img {
      object-fit: contain;
    }

    &::-webkit-scrollbar {
      width: 12px;  /* for vertical scrollbars */
      height: 12px; /* for horizontal scrollbars */
    }

    &::-webkit-scrollbar-track {
      background: rgba(0, 0, 0, 0.1);
    }

    &::-webkit-scrollbar-thumb {
      background: rgba(0, 0, 0, 0.5);
    }
  }

  .ui-dialog .ui-dialog-content {
    // max-height: inherit !important;
    background: $white !important;
  }


  .ui-dialog .ui-dialog-titlebar-close span {
    display: none;
  }

  .ui-dialog .ui-dialog-titlebar {
    background: $white;
    border: none;
    color: $black;
    padding: 1rem 1.7rem 0.5rem 1rem;
  }

  .ui-dialog .ui-dialog-titlebar-close {
    background: url(../assets/images/icon-close-gray.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 16px;
    width: 16px;
    right: 1rem;
    top: 1.5rem;
    outline: none;
    border: none;
    opacity: 0.5;
    transition: all 0.2s ease-out;

    &:focus,
    &:hover,
    &:active{
      transform: scale(1.25);
      opacity: 0.6;
    }
  }

  .ui-dialog {
    .node--type-art {
      .block-system-breadcrumb-block {
        display: none;
      }
    }
  }

  .ui-widget-overlay {
    background-color: $black;
    opacity: 0.5;
  }
}

// ===============================
// Artist Registry Listing/Search
// ===============================
.artist-registry-listing  {
  // Header
  header {
    @include contain-wide;
    // margin: 3rem auto !important;
  }

  // Container.
  .artist-registry-container {
    padding: 2rem 0;
    min-height: 20rem;

    &.emphasis {
      background-color: $grey-100;

      .js-form-type-select > label {
        background-color: $grey-100;
        @include font-gotham-bold;
        overflow: hidden;
        white-space: nowrap;

        @include mq($from: mobile) {
          max-width: 100%;
        }
      }
    }

    &.is-grouped {
      .views-exposed-form {
        margin-bottom: 0;
      }
    }
  }

  // Content Elements.
  .artist-registry-content {
    @include contain-wide;
  }


  // Filter form
  .views-exposed-form {
    @include clearfix;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include mq($from: mobile) {
      margin-bottom: 3rem;
    }

    .js-form-type-radio {
      width: 11%;

      @include mq($from: mobile) {
        width: auto;
      }

      input {
        visibility: hidden;
        position: absolute;
        opacity: 0;
      }

      input[type="radio"]:checked + label {
        font-weight: bold;
      }
    }

    .js-form-type-select {
      width: 100%;
      position: relative;

      @include mq($from: 980px) {
        width: 140px;
      }

      select {
        width: 100%;
        border-color: $blue-100;
        color: $blue-100;
      }
    }

    // Alphabet Selector
    fieldset[data-drupal-selector="edit-startswith"] {
      flex: 0 0 100%;
      padding: 0 0 1rem;
      order: 1;

      .fieldset-wrapper > div {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        div:first-child {
          display: none;
        }

        label {
          cursor: pointer;
          @include font-surveyor-text-book;
          font-weight: bold;
          font-size: 1.25rem;
          color: $blue-100;
        }
      }
    }

    // General form items.
    .form-item {
      order: 2;
    }

    // Name Selector
    .form-item-name {
      width: 100%;

      @include mq($from: 1200px) {
        width: 260px;
      }

      input {
        width: 100%;
        height: 44px;
        background-image: url(../assets/images/icon-search-grey.svg);
        background-size: 15px 15px;
        background-position: 5px 50%;
        background-repeat: no-repeat;
        padding-left: 25px;
        border: 0;
        border-bottom: 1px solid $grey-400;
        border-radius: 0;

        &::placeholder {
          text-transform: capitalize;
          font-style: italic;
        }
      }

      label {
        display: none;
      }
    }

    .form-actions {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      margin-bottom: 1rem;
      order: 3;

      @include mq($from: mobile) {
        margin-bottom: 0;
      }

      input {
        border: none;
        background: transparent;
        color: $blue-100;

        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }
    }
  }

  .views-row {
    margin-bottom: 2rem;
  }

  // Groupings.
  .grouping-container {
    .grouping-label {
      @include font-surveyor-text-book;
      font-weight: bold;
      font-size: 2rem;
      line-height: 2rem;
      margin: 1.5rem 0 2rem;
      color: $black;
    }
  }
}

// Art Listing
.art-listing {
  display: flex;
  flex-flow: row wrap;
  margin: 2rem 0;

  > .views-row {
    width: 100%;
    margin: 0 0 2rem;

    @include mq($from: mobile) {
      width: 48%;
      margin: 0 3% 2rem 0;

      &:nth-child(even) {
        margin-right: 0;
      }
    }
  }

  .title {
    @include font-gotham-bold;
  }

  img {
    width: 100%;
    display: block;
  }

  .node__content {
    // width: 252px;
    // min-height: 115px;
    margin-bottom: 0.45rem;
    background-color: $grey-100;
  }

}

// ===============================
// Featured
// ===============================
.paragraph--type--artist-registry-featured .featured-container {
  @include contain-wide;

  .featured-title {
    @include font-gotham-bold;
    font-size: 0.8rem;
    color: $grey-500;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
  }

  .featured-nav {
    width: 100%;

    ul {
      display: flex;
      justify-content: center;

      margin: 0;
      padding: 1rem 0;

      list-style-type: none;

      li {
        margin: 0 0.25rem;
      }

      button {
        display: block;
        width: 0.5rem;
        height: 0.5rem;
        padding: 0;

        border: none;
        border-radius: 100%;
        background-color: #7f7d7f;

        text-indent: -9999px;
      }

      li.slick-active button {
        background-color: #414141;
      }
    }

  }
}


.paragraph--type--artist-registry-card {
  .card-container {
    @include contain-wide;
  }

  .featured-title {
    @include font-gotham-bold;
    font-size: 0.8rem;
    color: $grey-500;
    text-transform: uppercase;
    margin: 0 0 0.5rem;
  }
}


// ===============================
// Profile
// ===============================
.profile--type-artist-profile {

  .field-ar-name {
    @include font-surveyor-fine-book;
    line-height: 1;
    color: $grey-900;
    margin-bottom: 1rem;
    font-size: 3rem;
  }

  .field-name-field-ar-location {
    br {
      display: none;
    }
  }

  .horizontal-tabs {
    border: none;
    margin-top: 1rem;

    .horizontal-tabs-list {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      background-color: transparent;
      border: none;
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;

      @include mq($from: mobile) {
        flex-direction: row;
      }

      li {
        display: inline-block;
        border: none;
        background: transparent;
        min-width: auto;
        width: 100%;
        padding: 0;
        margin: 0 0 0.5rem;

        @include mq($from: mobile) {
          width: auto;
          margin: 0 3rem 0 0;
        }

        a {
          padding: 0;
          color: $black;
        }

        a:hover {
          background: transparent;
          border-bottom: 2px solid $black;
        }

        &.selected {
          a {
            color: $blue-100;
            padding: 0;
            border-bottom: 2px solid $blue-100;
          }
        }

        &.last {
          margin-right: 0;
        }
      }
    }

    .art-listing {
      .views-row {
        width: 100%;

        @include mq($from: mobile) {
          width: 48%;
          margin: 0 2% 2% 0;

          &:nth-child(even) {
            margin-right: 0;
          }
        }

        @include mq($from: tablet) {
          width: 24%;
          margin: 0 1% 1% 0;

          &:nth-child(even) {
            margin-right: 1%;
          }
        }
      }

      .node__content {
        width: auto;
        height: auto;
        background-color: transparent;
      }
    }

    details {
      padding: 0;
    }
  }

  .profile-actions {
    display: flex;
    flex-wrap: wrap;
    margin: 1.5rem 0 0;

    a {
      @extend .cta-button;
      width: 100%;
      margin-bottom: 1rem;

      @include mq($from: mobile) {
        width: auto;
        max-height: 40px;
      }
    }
  }

  // Full Mode.
  &.profile--view-mode-full {
    // Header
    header {
      @include contain;
      margin: 3rem auto !important;

      @include mq($from: mobile) {
        max-width: 880px;
      }
    }

    .profile-container {
      background-color: $grey-100;
      padding: 2rem 0;
      min-height: 20rem;

      .profile-content {
        @include contain-wide;

        .field-name-field-ar-location {
          padding: 1rem 0 0;
        }
      }

      .js-form-type-select > label {
        background-color: $grey-100;
      }
    }
  }

  // Featured.
  &.profile--view-mode-featured {
    margin-bottom: 1rem;

    .field-ar-name {
      @include font-gotham-book;
      font-size: 2rem;
      margin-bottom: 0;
    }

    .profile-actions {
      margin-top: 1rem;
    }

    .profile-image {
      margin-bottom: 1rem;

      img {
        width: 100%;
      }
    }
  }


  // Teaser Mode.
  &.profile--view-mode-teaser {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 1.5rem;

    @include mq($from: mobile) {
      flex-direction: row;
      margin-bottom: 2rem;
    }

    .profile-image {
      width: 100%;

      @include mq($from: mobile) {
        width: 30%;
      }

      img {
        width: 100%;
      }
    }

    .profile-content {
      width: 100%;

      @include mq($from: mobile) {
        width: 70%;
        padding-left: 1.5rem;
      }
    }



    .profile-last-updated {
      float: none;
      font-size: 0.75rem;
      color: $blue-100;

      @include mq($from: mobile) {
        float: right;
      }
    }

    .field-ar-name {
      @include font-gotham-book;
      font-size: 1rem;
      font-weight: bold;
      margin-bottom: 0.5rem;
    }

    .profile-actions {
      .flag-profile-favorite {
        width: 100%;

        @include mq($from: mobile) {
          width: auto;
          margin-right: 1rem;
        }
      }

      .profile-actions-view {
        width: 100%;

        @include mq($from: mobile) {
          width: auto;
          margin-right: 1rem;
        }
      }
      .profile-actions-main {
        width: 100%;
        display: flex;
        flex-wrap: wrap;

        @include mq($from: mobile) {
          width: auto;
        }
      }
    }
  }
}

// ===============================
// Art Node
// ===============================
.node--type-art {
  .form--details-custom {
    .custom--details-trigger {
      @include font-gotham-bold;
      margin-bottom: 1rem;
    }
  }
  .field-name-field-image-file,
  .field-name-field-video {
    text-align: center;
  }

  .field {
    .field__label {
      @include font-gotham-bold;
    }

    margin-bottom: 1rem;
  }


  &.node--view-mode-horizontal-card {
    display: flex;
    flex-wrap: wrap;

    .node__content {
      margin-bottom: 0;
      width: 100%;
      order: 1;

      @include mq($from: tablet) {
        width: calc(50% - 24px);
        margin-right: 1.5rem;
      }

      img {
        width: 100%;
      }
    }

    .profile-content {
      width: 100%;
      order: 2;

      @include mq($from: tablet) {
        width: calc(50% - 24px);
      }
    }

    .profile-content > div {
      margin-bottom: 1rem;

      &.name {
        @include font-gotham-bold;
      }
    }

    .profile-actions {
      a {
        @extend .cta-button;
        width: 100%;
        margin-bottom: 1rem;

        @include mq($from: mobile) {
          width: inherit;
          margin-bottom: 0;
        }
      }
    }

  }
}

// Art Node Page
.page-node-type-art {
  .node--type-art {
    @include contain;
  }
}

// ===============================
// Admin
// ===============================

.art-overview {
  .description {
    margin-bottom: 1rem;
    color: $grey-600;
  }

  .views-row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 1rem;

    .views-field-rendered-entity {
      margin-right: 1rem;
    }

    .title {
      @include font-gotham-bold;
    }

    .status {
      font-size: 0.8rem;
      color: $grey-400;
    }
  }
}

.admin-art-actions {
  @include contain;
  display: flex;
  justify-content: flex-start;
  padding: 2rem 0 !important;

  a {
    margin-right: 2rem;

    &:hover {
      text-decoration: underline;
    }
  }
}

// Artist Profile Form
.profile-form,
.node-art-form,
.node-art-edit-form {
  .js-text-format-wrapper,
  .field--type-link,
  .field--type-string {
    position: relative;
    // padding-top: 1.8rem;

    label {
      @include font-gotham-bold;
      position: absolute;
      top: -2rem;
      left: 0;
      font-size: 1.2rem;
    }

    .description {
      color: $grey-600;
    }
  }

  .field--name-field-written-work {
    margin: 0.875rem 0 0;
  }

  fieldset {
    .fieldset-legend {
      @include font-gotham-bold;
      font-size: 1.2rem;
    }

    .description {
      color: $grey-600;
    }
  }

  details {
    summary {
      @include font-gotham-bold;
      font-size: 1.5rem;
    }

    // .address-container-inline {
    //   display: flex;
    // }
  }

  // .form-wrapper {
  //   margin-bottom: 1rem;
  // }

  .field-edit-link {
    display: none;
  }

  .form-actions {
    margin: 3rem 0;
    display: flex;
    flex-direction: row-reverse;
  }

  // .form-actions .button {
  //   @include cta-button;
  // }

  .field--name-moderation-state {
    margin: 2rem 0 0;

    .form-item {
      position: relative;
      // padding-top: 1.5rem;
      margin-bottom: 1rem;

      label {
        margin: 0;
        padding: 0;
        top: -1rem;
      }
    }
  }

  .js-form-type-checkbox {
    label {
      font-size: 1rem;
    }
    .description {
      color: $grey-600;
    }
  }
}

.profile-form {
  fieldset[data-drupal-selector="group-choose-categories"] {
    .fieldset-wrapper {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;

      @include mq($from: tablet) {
        flex-direction: row;
      }
    }

    .field--widget-options-select {
      width: 100%;

      @include mq($from: tablet) {
        width: 50%;
      }

      &:first-child {
        width: 100%;
      }
    }

    .chosen-container.chosen-container-multi {
      margin-left: 0;
      width: 90% !important;
    }

    .field--name-field-ar-media {
      order: 2;
    }

    .field--name-field-ar-themes {
      order: 3;
    }

    .field--name-field-ar-type {
      order: 4;
    }

    .field--name-field-ar-media,
    .field--name-field-ar-themes {
      select {
        background: none;
        height: 15rem;
        border-color: $grey-400;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        width: 100%;

        @include mq($from: tablet) {
          width: 95%;
        }
      }
    }

    // select {
    //   width: calc(100% - 1rem);
    // }

    .description {
      order: 1;
      margin: 0 0 1.75rem;
      padding: 0 0 1rem;
      border-bottom: 1px solid $grey-300;
    }
  }

  .chosen-container-single.country {
    margin-left: 0;
  }

  > .form-wrapper {
    margin: 0;

    &.admin-art-actions {
      margin: 0;
    }
  }

  .filter-wrapper {
    display: none;
  }

  .js-text-format-wrapper {
    display: flex;
    flex-direction: column;
  }

  .js-form-type-textarea {
    order: 2;
  }

  .address-container-inline {
    margin-bottom: 0;

    > div:first-child {
      margin-top: 0;
    }

    ~ .address-container-inline > div:first-child {
      margin: 0.875rem 0 0.5rem
    }
  }

  .field--name-field-additional-first-name,
  .field--name-field-additional-last-name {
    padding-top: 0;
  }

  .profile-status {
    margin-bottom: 1rem;

    div {
      display: inline;

      &.field-item {
        font-weight: bold;
      }
    }
  }
}

.field--name-field-ar-location .form-wrapper {
  margin-bottom: 1.75rem;
}

.field-name-field-ar-location .locality:after,
.field-name-field-ar-location .administrative-area:after {
  content: ', ';
  display: inline-block;
}

#edit-field-address-0-address > div:first-child {
  margin-bottom: 1.15rem;
}

#artist-profile-email .museumMaterializeForm label {
  background-color: $grey-100;
}
