.block-system-breadcrumb-block {
  @include contain;
  color: #999;
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 2.1px;
  padding-bottom: 0;
  margin: 4rem 0 1.5rem;

  @include mq($from: tablet) {
    margin: 5rem auto 2rem;
    padding-bottom: 2rem;
  }

  nav ol {
    list-style: none;
    margin: 0 !important;
    padding: 0;
  }

  li {
    display: inline-block;
  }

  li:after {
    content: '/';
    position: relative;
    margin: 0 0 0 3px;
  }

  li:last-child:after {
    display: none;
  }

  li a {
    font-size: 0.75rem;
    letter-spacing: 2.1px;
    text-transform: uppercase;
    text-decoration: none;
  }

  li a:before {
    display: none;
  }
}
