// Dialog Overrides.
.calendar-enabled {
  .ui-widget-overlay.ui-front {
    z-index: 199 !important;
    display: none;
  }

  .ui-dialog {
    z-index: 200 !important;
    background: $calendar-light-grey;
    //display: inherit !important;
    position: absolute !important;
    max-height: calc(100% - 50px);
    overflow-y: scroll;
    width: 50% !important;
    top: 50px !important;
    right: 0 !important;
    left: auto !important;

    &::-webkit-scrollbar {
      width: 12px;  /* for vertical scrollbars */
      height: 12px; /* for horizontal scrollbars */
    }

    &::-webkit-scrollbar-track {
      background: rgba(0, 0, 0, 0.1);
    }

    &::-webkit-scrollbar-thumb {
      background: rgba(0, 0, 0, 0.5);
    }
  }

  .ui-dialog .ui-dialog-content {
    max-height: inherit !important;
    background: $calendar-light-grey !important;
  }


  .ui-dialog .ui-dialog-titlebar-close span {
    display: none;
  }

  .ui-dialog .ui-dialog-titlebar {
    background: $calendar-light-grey;
    border: none;
    color: $grey-400;
    padding: 1rem 1.7rem 0.5rem;
  }

  .ui-dialog .ui-dialog-titlebar-close {
    background: url(../assets/images/icon-close-gray.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 16px;
    width: 16px;
    right: 1rem;
    top: 1.5rem;
    outline: none;
    border: none;
    opacity: 0.5;
    transition: all 0.2s ease-out;

    &:focus,
    &:hover,
    &:active{
      transform: scale(1.25);
      opacity: 0.6;
    }
  }
}


.museum-calendar {
  background-color: $calendar-light-grey;
}

.museum-calendar .calendar-header {
  background-color: $white;
}

// Hide the views by default.
.museum-calendar .museum-calendar-listing {
  display: none;
  margin: 0;
  @include mq($from: mobile) {
    margin: inherit;
  }
}

.museum-calendar .calendar-calendar {
  display: none;
}

// Show when certain modes are enabled.
.museum-calendar.calendar-mode .calendar-calendar {
  display: block;
}

.museum-calendar.list-mode .museum-calendar-listing {
  display: block;
}

.museum-calendar .calendar-content {
  @include contain;
  padding-bottom: 2.75rem;
  overflow-x: hidden;

  @include mq($from: mobile) {
    max-width: 1116px;
    padding-bottom: 2.75rem;
  }

  @include mq($from: tablet) {
    padding-bottom: 6rem;
  }

  @include mq($from: desktop) {
    padding-bottom: 10rem;
  }
}

.museum-calendar header {
  @include contain;
  display: flex;
  padding: 1.5rem 0;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;

  @include mq($from: mobile) {
    padding: 1.5rem 2rem;
    display: block;
    max-width: 1116px;

    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  @include mq($from: desktop) {
    padding: 1.5rem 0;
  }
}

.museum-calendar header a {

  &:hover,
  &:before {
    background-color: transparent !important;
  }
}

.museum-calendar header .clearfix {
  display: none;
}

.museum-calendar header nav {
  display: inline-block;
}

.museum-calendar header nav  ul {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.museum-calendar header nav li {
  @include font-gotham-book;
  float: left;
  list-style-type: none;
  font-size: 1.875rem;
}

.museum-calendar header nav li.pager__item--previous a,
.museum-calendar header nav li.pager__item--next a {
  outline: none;
  margin-left: 0;
  border-color: transparent;
  font-size: 2rem;
  opacity: 0;
  color: transparent;
  background: none;
  line-height: 1;
}

.museum-calendar header nav li.pager__item--previous,
.museum-calendar header nav li.pager__item--next {
  background: url(../assets/images/calendar/icon-right-arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
  margin: auto 0;
  height: 30px;
  width: 30px;
}

.museum-calendar header nav li.pager__item--previous {
  transform: rotate(180deg);

  label {
    cursor: pointer;
    display: block;
    color: $white;
    a {
      transform: rotate(180deg);
    }
  }
}

.museum-calendar header nav li.pager__item--current {
  margin: 0 0.3125rem;
  display: flex;
  flex-direction: row;
  align-items: center;

  span {
    display: block;
    float: left;
  }

  .pager-month {
    color: $black;
    margin-right: 1rem;
    font-weight: 700;
    letter-spacing: 1.8px;
    font-size: 1.8rem;
  }

  .pager-year {
    font-size: 1.125rem;
    margin: auto 0;
    color: $grey-400;
  }
}

.museum-calendar header .calendar-mode {
  float: right;
  display: none;

  @include mq($from: mobile) {
    display: inherit;
  }
}

.museum-calendar header .calendar-mode a {
  float: left;
}

.museum-calendar header .calendar-mode .calendar-toggle {
  display: block;
  background: url('../assets/images/calendar/calendar-grid-view-white.svg');
  background-position: 0;
  background-size: cover;
  width: 36px;
  height: 36px;
  margin-right: 15px;

  &.active {
    background: url('../assets/images/calendar/calendar-grid-view-blue.svg');
    background-position: 0;
    background-size: cover;
  }
}

.museum-calendar header .calendar-mode .list-toggle {
  display: block;
  background: url("../assets/images/calendar/calendar-list-view-white.svg");
  background-size: cover;
  background-position: 0;
  width: 36px;
  height: 36px;
  margin-right: 14px;

  &.active {
    background: url('../assets/images/calendar/calendar-list-view-blue.svg');
    background-position: 0;
    background-size: cover;
  }
}

.museum-calendar .calendar-content img {
  display: none;

  @include mq($from: mobile) {
    display: inherit;
  }
}

.museum-calendar .calendar-content .calendar-calendar {
  @include font-gotham-book;

  thead {
    text-transform: uppercase;

    th {
      padding: 15px;
      font-size: 0.75rem;
      font-weight: normal;
    }
  }
}

.museum-calendar .calendar-content .views-exposed-form {
  margin: 2.75rem 0;
  position: relative;
}

.museum-calendar .calendar-content .views-exposed-form input[type="radio"] {
  display: none;
}

.museum-calendar .calendar-content .views-exposed-form input[type="submit"] {
  display: none;
}

.museum-calendar .calendar-content .views-exposed-form legend {
  width: 60px;
  float: left;
  color: $grey-800;
  font-size: 1.125rem;
  display: none;

  @include mq($from: mobile) {
    display: inherit;
  }
}

.museum-calendar .calendar-content .views-exposed-form .fieldset-wrapper {
  float: right;
  width: 100%;

  @include mq($from: mobile) {
    width: calc(100% - 60px);
  }
}

.museum-calendar .calendar-content .views-exposed-form .form-radios {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  @include mq($from: mobile) {
    justify-content: initial;
  }
}

.museum-calendar .calendar-content .views-exposed-form .form-item-filter-id {
  // Hide the "- Any -" option.
  &:first-child {
    display: none;
  }

  @include font-gotham-bold;
  display: inline-block;
  margin-bottom: 0.625rem;
  position: relative;
  background-color: #15b5d1;
  color: $white;
  border-radius: 4px;
  border: 1px solid transparent;
  font-size: 0.85rem;
  padding: 0.5rem 1.25rem;
  transition: all 0.3s ease;
  text-align: center;
  width: 48%;

  @include mq($from: mobile) {
    width: auto;
    margin-right: 0.625rem;
  }
}

.museum-calendar .calendar-content .views-exposed-form .form-item-filter-id label {
  cursor: pointer;
  display: block;
  color: $white;
}

.museum-calendar .calendar-content .views-exposed-form .form-item-filter-id.transparent-btn {
  background-color: transparent !important;
  border-color: lighten($grey-400, 10%);

  label {
    color: lighten($grey-400, 10%);
  }
}

.museum-calendar .calendar-content .views-exposed-form .form-item-filter-id:last-child {
  margin-right: 0;
}

.museum-calendar-listing {
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }
}

.museum-calendar-listing .museum-listing-group {

  margin-bottom: 30px;
  padding-bottom: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;

}

.museum-calendar-listing .museum-listing-group .museum-listing-heading {
  float: left;
  padding: 20px;
  width: 100%;
  margin-bottom: 1.5rem;
  font-size: 1.25rem;
  text-align: center;

  @include mq($from: mobile) {
    width: 125px;
    margin-bottom: 0;
    text-align: left;
  }

}

.museum-calendar-listing .museum-listing-group .museum-listing-heading .museum-date {
  display: flex;
  text-align: left;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: flex-end;

  @include mq($from: mobile) {
    text-align: center;
    flex-direction: column;
    justify-content: flex-end;
    display: flex;
  }
}

.museum-calendar-listing .museum-listing-group .museum-listing-heading .museum-date .museum-month {
  margin-left: 0.5rem;
  font-size: 1rem;

  @include mq($from: mobile) {
    margin: 0;
  }
}

.museum-calendar-listing .museum-listing-group .museum-listing-heading .museum-date .museum-day {
  font-size: 3.125rem;
  font-weight: 500;
  letter-spacing: -1.3px;
  line-height: 61px;
}

.museum-calendar-listing .museum-listing-group .museum-listing-content {
  width: 100%;

  @include mq($from: mobile) {
    width: calc(100% - 125px - 2rem);
  }

  > div {
    margin-bottom: 30px;
  }

  > div:last-child {
    margin: 0;
  }

  > div:only-child {
    margin: 0;
  }

  .slick-list {
    overflow: visible;

    .museum-listing-item {
      margin: 0 .5rem;
    }
  }
}

.museum-calendar-listing .museum-listing-group .museum-listing-nav {
  width: 100%;

  ul {
    display: flex;
    justify-content: center;

    margin: 0;
    padding: 1rem 0;

    list-style-type: none;

    li {
      margin: 0 0.25rem;
    }

    button {
      display: block;
      width: 0.5rem;
      height: 0.5rem;
      padding: 0;

      border: none;
      border-radius: 100%;
      background-color: #7f7d7f;

      text-indent: -9999px;
    }

    li.slick-active button {
      background-color: #414141;
    }
  }

}

.museum-calendar-listing .museum-listing-group.museum-listing-special {
  color: $black;

  .museum-listing-heading {
    background-color: #017DB3;
    color: $white;
    padding: 1.25rem;
    line-height: 1.375;
    font-weight: 700;
    font-size: 1.125rem;
    letter-spacing: -0.24px;

    @include mq($from: mobile) {
      padding: 1.25rem 1.25rem;
      height: 7rem;
    }
  }
}

.museum-calendar-listing .museum-listing-group.museum-listing-standard {
  color: $black;

  .museum-listing-heading {
    text-align: center;
    background-color: #F1F5F6;

    .museum-month {
      @include font-gotham-bold;
    }

    .museum-month,
    .museum-day-letter {
      color: #B8C2C7;
    }

    .museum-day {
      color: $blue-100;
      font-size: 3.125rem;
      font-weight: 600;
    }
  }
}

// Styles for modal
.museum-calendar-listing.minified {
  padding: 0 1rem 0 0;
  display: block;
}

.museum-calendar-listing.minified .museum-listing-heading {
  font-size: 1rem;
  padding: 0;
  width: 50px;
}

.museum-calendar-listing.minified .museum-listing-heading .museum-date {
  flex-direction: column-reverse;
  align-items: center;
}

.museum-calendar-listing.minified .museum-listing-heading .museum-date .museum-day {
  line-height: 1;
  font-size: 1.25rem;
  color: $black;
}

.museum-calendar-listing.minified .museum-listing-heading .museum-date .museum-day-letter {
  font-size: 0.75rem;
}

.museum-calendar-listing.minified .museum-listing-content {
  width: calc(100% - 50px - 1rem);
}

.museum-calendar-listing.minified .museum-listing-content .event-content .event-text,
.museum-calendar-listing.minified .museum-listing-content .event-content .event-buttons,
.museum-calendar-listing.minified .museum-listing-content .event-content .event-time {
  width: 100%;
}

.museum-calendar-listing.minified .museum-listing-content .event-content .event-text {
  color: #333333;
  line-height: 0.875;
}

.museum-calendar-listing.minified .museum-listing-content .event-content .event-text,
.museum-calendar-listing.minified .museum-listing-content .event-content .event-time {
  padding-bottom: 0;
  font-size: 0.875rem;
}

.museum-calendar-listing.minified .museum-listing-content .event-content .event-buttons a {
  font-size: 0.875rem;
  padding: 0.4rem 1rem;
  border-radius: 5%;
}

.museum-calendar-listing.minified .museum-listing-content .event-content .event-image {
  display: none;
}

.museum-calendar-listing.minified .museum-listing-group.museum-listing-standard .museum-listing-heading {
  background-color: transparent;
}

.museum-calendar-listing.minified .node--type-event.node--view-mode-teaser {
  margin-bottom: 1rem;

  .event-content {
    flex-direction: row;
    justify-content: space-between;
  }

  .event-text {
    margin: 0;
  }
}

.node--type-event.node--view-mode-teaser .event-header {
  background-color: #e5f3f9;
  color: $blue-200;
  padding: 10px 0;
  position: relative;

}

.node--type-event.node--view-mode-teaser .event-header .event-block {
  float: left;
  width: 5px;
  height: 20px;
  background-color: #2f5a62;
}

.node--type-event.node--view-mode-teaser .event-header h1,
.node--type-event.node--view-mode-teaser .event-header h2,
.node--type-event.node--view-mode-teaser .event-header h3,
.node--type-event.node--view-mode-teaser .event-header h4,
.node--type-event.node--view-mode-teaser .event-header h5,
.node--type-event.node--view-mode-teaser .event-header h6 {
  @include font-gotham-book;
  z-index: 0;
}

.node--type-event.node--view-mode-teaser .event-header h3 {
  font-size: 1rem;
  margin-top: 2px;
  margin-left: 1rem;
  margin-bottom: 0;
  color: #335e65;
}

.node--type-event.node--view-mode-teaser .event-header .background {
  display: block;
  width: 100%;
  // position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.1;
}

.node--type-event.node--view-mode-teaser .event-content {
  background-color: $white;
  padding: 1rem 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.node--type-event.node--view-mode-teaser .event-content .event-text,
.node--type-event.node--view-mode-teaser .event-content .event-buttons,
.node--type-event.node--view-mode-teaser .event-content .event-time {
  width: 100%;
}

.node--type-event.node--view-mode-teaser .event-content .event-buttons {
  color: $blue-400;
}

.node--type-event.node--view-mode-teaser .event-content .event-image {
  width: 100%;
  display: none;
  margin-bottom: 0;

  @include mq($from: mobile) {
    display: inherit;
    margin-bottom: 1.5rem;
  }

  @include mq($from: desktop) {
    width: calc(30% - 1rem);
    margin-bottom: 1rem;
  }

  .field-name-field-hor-vert-card-image {
    height: 100%;
    width: 100%;
  }

  a {
    width: 100%;
    &:hover,
    &:before {
      background-color: transparent !important;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.node--type-event.node--view-mode-teaser .event-content .event-text {
  width: 100%;
  margin: 0 0 1rem 0;

  @include mq($from: desktop) {
    width: calc(70% - 1rem);
    margin: 0;
  }

  &:empty {
    margin: 0;
    @include mq($from: mobile) {
      margin: 0;
    }
  }
}

.node--type-event.node--view-mode-teaser .event-content .event-text,
.node--type-event.node--view-mode-teaser .event-content .event-time {
  font-size: 0.75rem;
  line-height: 1;

  @include mq($from: mobile) {
    font-size: 1rem;
  }

}

.node--type-event.node--view-mode-teaser .event-content .event-time {
  color: $blue-200;
  margin-bottom: 1rem;
}

.node--type-event.node--view-mode-teaser .event-content .event-buttons a {
  @extend .cta-button;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
  display: inline-block;

  @include mq($from: tablet) {
    margin-right: 0.6rem;
    margin-bottom: 1rem;
  }

  &:before {
    background-color: transparent !important;
  }

  &:hover {
    // background-color: $grey-600 !important;
    color: $white;
  }

  &:first-child {
    background-color: $blue-200;
    color: $white;

    &:hover {
      color: $white;
      // background-color: $grey-600;
    }
  }
}

.node--type-event.node--view-mode-calendar .node__content {
  font-size: 0.8125rem;
  font-weight: normal;
}

.node--type-event.node--view-mode-calendar .node__content .event-block {
  float: left;
  width: 5px;
  height: 14px;
  margin-right: 5px;
  margin-top: 2px;
  background-color: #2f5a62 !important;
}

// Calendar Overrides.
.calendar-calendar {
  position: relative;
}

.calendar-calendar a {

  &:hover,
  &:before {
    background-color: transparent !important;
  }
}

.calendar-calendar .views-element-container {
  padding-bottom: 1.5rem;

  &:last-child {
    padding-bottom: 0;
  }
}


.calendar-calendar .month-view .full .month {
  color: $grey-400;
  padding-left: 0;
}

.calendar-calendar .month-view .full div.day {
  float: left;
  margin: 5px 0 0 5px;
  font-weight: 400;
}

.calendar-calendar .month-view .full div.day a {
  color: $grey-400;
}

.calendar-calendar .month-view .full .item .node--type-event .node__content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.calendar-calendar .month-view .full .item .node--type-event .event-block {
  flex-basis: 5px;
  float: none;
  height: auto;
  margin-top: 0px;
}

.calendar-calendar .month-view .full .item .node--type-event span {
  flex-basis: calc(100% - 5px);
  padding: 2px 0;
  margin-right: 7px;
}

.calendar-calendar .month-view .full td.single-day {
  padding: 1.2rem 0 1.2rem 5px;
  padding-top: calc(1.2rem - 21px);
  vertical-align: top;

}

.calendar-calendar .month-view .full td.single-day div.monthview {
  background: none;
  vertical-align: middle;
  border-radius: 0;
  padding: 0;
}

.calendar-calendar .month-view .full td.single-day .more {
  text-align: left;
  font-size: 0.875rem;
}

