.entity-moderation-form {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  border: 1px dashed #bbb;
  margin: 2rem 0 !important;
  background: $white;
  padding: 1rem;
}

.entity-moderation-form__item {
  margin-right: 1rem;
  flex-grow: 1;

  .js-form-type-select {
    margin-top: 0.25rem;

    select {
      height: 42px;
      padding-right: 3rem;
    }

    label {
      background-color: $white !important;
    }
  }
}

.entity-moderation-form__item:last-child {
  align-self: flex-end;
  margin-right: 0;

  .form-submit {
    width: auto;
  }
}
