.cta-link {
  display: inline-block;
  position: relative;
  @include font-gotham-bold;

  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    bottom: -1px;
    background-color: $blue-100;
    pointer-events: none;
    -webkit-transition: bottom 0.2s;
    transition: bottom 0.2s;
  }

  &:after {
    content: '';
    position: absolute;
    right: -10px;
    top: 8px;
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-left: 5px solid $blue-100;
    border-bottom: 4px solid transparent;
  }
}
