.ui-datepicker {
  width: 22em;
  margin-top: -1px;
}

.ui-datepicker-calendar {
  color: $grey-800;
  background: $white;
}

.ui-widget.ui-widget-content {

  &:before {
    position: absolute;
    background: $white;
    border: 1px solid $grey-400;
    width: 20px;
    height: 20px;
    display: block;
    top: -10px;
    left: calc(50% - 20px);
    transform: rotate(45deg);
  }

}

.ui-datepicker .ui-datepicker-header {
  border: none;
  background: $white;
  border-bottom: 1px solid $grey-300;
  padding: 1.2em 0;
  margin: -3px;
}

.ui-datepicker .ui-datepicker-header .ui-datepicker-title {
  font-size: 0.9rem;
  font-weight: 600;
  @include font-gotham-bold;
}

.ui-datepicker-calendar tr {
  color: $grey-300;
}

.ui-datepicker-calendar thead {
  border-top: 20px solid transparent;
}

.ui-datepicker-calendar table {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.ui-datepicker .ui-datepicker-next,
.ui-datepicker .ui-datepicker-prev {
  top: auto;

  &:hover {
    background: $white;
    border-color: $white;
  }
}

.ui-datepicker .ui-datepicker-next span,
.ui-datepicker .ui-datepicker-prev span {
  font-size: 0;
  background: none;

  &:before {
    content: ' ';
    background-image: url("../assets/images/arrow_back.svg");
    display: block;
    height: 20px;
    width: 20px;
    background-size: 10px;
    background-position: center;
    background-repeat: no-repeat;
  }

  &:hover {
    background: $white;
    border-color: $white;
  }
}

.ui-datepicker .ui-datepicker-prev span {
  transform: rotate(180deg);
}

.ui-datepicker td a {
  border-radius: 1.15rem;
  text-align: center;
  width: 35px;
  height: 35px;
  padding: 6px 0;
  transition: all 0.3s ease;

  &:hover,
  &:active {
    transition: all 0.3s ease;
    color: $white;
    border-color: $blue-100;
    background: $blue-100;
  }
}

.ui-state-default,
.ui-widget-content .ui-state-default {
  border-color: $white;
  background: $white;
}

.ui-state-highlight,
.ui-widget-content .ui-state-highlight {
  background: $grey-500;
  border-color: $grey-500;
  color: $white;
}

.ui-datepicker-current-day a.ui-state-default.ui-state-active {
  color: $white;
  background-color: $blue-100;
  border: 1px solid $blue-100;
}
