.emphasis-none {
  margin-bottom: 2.188rem;
  margin-top: 2.188rem;

  @include mq($from: tablet) {
    margin-bottom: 3.438rem;
    margin-top: 3.438rem;
  }
}

.emphasis-regular {
  background-color: $grey-100;
  padding: 2.188rem 0;

  @include mq($from: tablet) {
    padding: 3.438rem 0;
  }
}

.emphasis-highlight {
  background-color: $blue-100;
  color: $white;
  padding: 2.188rem 0;

  @include mq($from: tablet) {
    padding: 3.438rem 0;
  }

  a,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  div,
  span,
  .image-info,
  .featured-container .featured-title,
  .card-container .featured-title,
  .field-ar-name {
    color: $white;
  }

  a:before,
  a:hover:before,
  .featured-container .featured-nav ul.slick-dots > li.slick-active button {
    background-color: $white;
  }

  .featured-container .featured-nav ul.slick-dots > li button {
    background-color: $grey-300;
  }

  .cta-button,
  .card-link a {
    border-color: $white;
    color: $white;
  }

  .cta-button:hover,
  .card-link a:hover {
    background-color: $white;
    color: $blue-100;
    box-shadow: none;
  }

  .cta-button:before,
  .card-link a:before {
    background: none;
  }

  .paragraph--type--content-search-list .pager a,
  .featured-highlight-card-link {
    @include cta-button-white;

    &:before {
      background-color: $white !important;
    }
  }

  .paragraph--type--content-search-list .form-select,
  .artist-registry-listing .form-select {
    color: $white !important;
    border-color: $white !important;
    background-image: url(../assets/images/carot-white.svg) !important;

    option {
      color: $black;
    }
  }

  .paragraph--type--content-search-list .js-form-type-textfield .form-text,
  .artist-registry-listing .js-form-type-textfield .form-text {
    background-image: url(../assets/images/icon-search-white.svg);
    border-color: $white;
    color: $white;

    &.hasDatepicker {
      background-image: url(../assets/images/icon-calendar-white.svg);
    }
  }

  .paragraph--type--content-search-list .js-form-type-textfield .form-text::placeholder,
  .artist-registry-listing .js-form-type-textfield .form-text::placeholder,
  .artist-registry-listing .views-exposed-form fieldset[data-drupal-selector="edit-startswith"] .fieldset-wrapper > div label {
    color: $white;
  }

  .artist-registry-listing .form-item label {
    color: $white;
    background-color: $blue-100;
  }

  h3#no-results {
    border-color: $white;
  }
}

.emphasis-highlight + .emphasis-highlight {
  padding-top: 0;
}

.emphasis-regular + .emphasis-regular {
  padding-top: 0;
}

.emphasis-highlight + .emphasis-none,
.emphasis-regular + .emphasis-none {
  margin-top: 0;
}

.emphasis-regular,
.emphasis-highlight {
  .featured-container,
  .card-container,
  .artist-registry-content {
    margin-top: 0;
    margin-bottom: 0;
  }

  .artist-registry-listing .views-exposed-form {
    margin-bottom: 0;
  }
}
