//faq
.node--type-faq {
  border-bottom: 1px solid $grey-400;
  padding: 1.25rem 0 0.5rem;

  @include mq($from: tablet) {
    padding: 2.5rem 0 0.5rem;
  }
}

.node--type-faq .faq-collapse {
  max-height: 6.5rem;
  overflow: hidden;
  position: relative;
  transition: max-height 0.5s ease-out;

  &.show {
    max-height: 100rem;
    transition: max-height 0.5s ease-in;
  }

  &.show:after {
    display: none;
  }
}

.faq-accordion-container {
  position: relative;
}

.faq-accordion-container > ul,
.faq-accordion-container > ul > li {
  margin: 0;
  list-style: none;
}

.node--type-faq > h2 {
  @include font-gotham-bold;
  font-size: 1.25rem;
  font-weight: 400;

  @include mq($from: tablet) {
    font-size: 1.75rem;
    font-weight: 400;
    margin-bottom: 2.5rem;
  }
}

.node--type-faq p {
  font-size: 0.875rem;

  @include mq($from: tablet) {
    font-size: 1rem;
  }
}

.node--type-faq .faq-collapse:after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  display: block;
  width: 100%;
  height: 5rem;
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 30%, rgba(255,255,255,0) 100%);
}

.node--type-faq .feedback-section {
  @include helvetica;
  color: $grey-500;
  font-style: italic;
  font-weight: 100;
  line-height: 1;
  font-size: 0.75rem;

  @include mq($from: tablet) {
    font-size: 0.75rem;
  }
}

.node--type-faq .feedback-section p {
  font-size: 0.75rem;

  @include mq($from: tablet) {
    font-size: 0.75rem;
  }
}

.node--type-faq .feedback-section a {
  @include helvetica;
  letter-spacing: -0.09px;
  line-height: 1.375;
  text-align: center;
  font-size: 0.75rem;

  @include mq($from: tablet) {
    font-size: 0.75rem;
  }

  &:before,
  &:after {
    display: none;
  }
}

.node--type-faq .feedback-section span {

  &:first-child {
    margin-left: 0.2rem;
  }

  &:nth-child(2) {
    margin: 0 0.2rem 0 0.1rem;
  }
}

.faq-checkbox {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  margin: 0;
  display: block;
}

.faq-checkbox + .faq-collapse-toggle {
  border: none;
  outline: none;
  background: transparent;
  position: absolute;
  left: 50%;
  bottom: 0.5rem;
  display: block;
  color: $blue-100;
  text-transform: uppercase;
  text-align: center;
  font-size: 0.875rem;
  z-index: 10;
  transform: translateX(-50%);

  &:hover {
    cursor: pointer;
  }
}

// FAQ Categories
#views-exposed-form-faq-list-block-1 {
  margin-bottom: 1.25rem;

  @include mq($from: tablet) {
    margin-bottom: 2.5rem;
  }

  .fieldset-legend {
    @include font-gotham-book;
    font-size: 1.25rem;
    padding: 0 0 0.75rem;
    display: block;
  }

  .form-item {
    margin-top: 0;
    margin-bottom: 0.5rem;
  }

  [type="radio"] {
    opacity: 0;
    position: absolute;
  }

  [type="radio"] + label {
    @include cta-button;
    width: 100%;
  }

  [type="radio"]:checked + label {
    background: $blue-100;
    color: $white;
  }
}
