.node--view-mode-featured-card {
  @include contain-only;
  @include clearfix;
}

.featured-card {
  // padding: 4.375rem 0 1.25rem;

  // @include mq($from: tablet) {
  //   padding: 3.375rem 0;
  // }

  .featured-highlight-card-link {
    @include cta-button;
    width: fit-content;
    order: 5;
  }

  // &.emphasis-highlight .featured-highlight-card-link {
  //   @include cta-button-white;

  //   &:before,
  //   &:hover:before {
  //     background-color: transparent;
  //   }
  // }
}

.featured-card-title {
  @include caption;
  margin-bottom: 0.75rem;
}

.featured-card-content {
  display: flex;
  flex-direction: column;
}

.featured-card-content .featured-highlight-card-image {
  margin-bottom: 0.375rem;

  img {
    width: 100%;
  }

  @include mq($from: tablet) {
    margin-bottom: 1.625rem;
  }
}

.featured-highlight-card-image {
  order: 1;

  a {
    @include nounderline;
  }
}

.featured-highlight-card-heading {
  @include font-gotham-bold;
  font-size: 1.25rem;
  line-height: 1.2;
  letter-spacing: -0.1px;
  text-transform: none;
  margin: 0;
  order: 2;

  @include mq($from: tablet) {
    font-size: 1.85rem;
    letter-spacing: -0.6px;
  }
}

.featured-highlight-card-subheading {
  @include font-gotham-bold;
  font-size: 0.875rem;
  line-height: 1.33;
  text-transform: none;
  order: 3;

  @include mq($from: tablet) {
    font-size: 1.2rem;
  }
}

.featured-highlight-card-text {
  margin: 1rem 0 1.875rem;
  order: 4;
}

.featured-highlight-card-text p {
  font-weight: 400;
  font-size: 0.85rem;
  line-height: 1.5;
  text-transform: none;

  @include mq($from: tablet) {
    font-size: 1rem;
  }
}

.field-name-field-featured-section.emphasis-highlight + .field-name-field-content-search-list.emphasis-highlight {

  .content-search-list {
    padding-top: 0;
  }
}

.field-name-field-featured-section.emphasis-regular  + .field-name-field-content-search-list.emphasis-regular {

  .content-search-list {
    padding-top: 0;
  }
}

.field-name-field-featured-card .views-row:not(:first-child) {
  margin-top: 2rem;
}
