.field-related-content-h-v-card {
  @include contain;
  text-align: left;
  padding: 0 2rem;

  @include mq($from: tablet) {
    padding: 0;
  }
}

.field-related-content-h-v-card.half-row {
  display: flex;
  flex-direction: row;
}

.field-related-content-h-v-card .even {
  width: 50%;
}

.field-related-content-h-v-card .odd {
  width: 50%;
  margin-right: 1.3rem;
}

.field_hor_vert_card_image {
  border: none;
}

.field-related-content-h-v-card .field-name-field-hor-vert-card-image {
  min-width: 100%;
  @include mq($from: tablet) {
    width: auto;
  }
}

.field-related-content-h-v-card .field-name-field-hor-vert-card-image a {

  &:before {
    display: none;
  }
}

.field-related-content-h-v-card .field-hor-vert-card-title {
  @include font-gotham-bold;
  font-size: 0.875rem;
  margin: 0;
  padding: 0.5rem 0 0;
  line-height: 1.5rem;

  @include mq($from: tablet) {
    font-size: 1.2rem;
    padding: 1.5rem 0 1rem;
  }
}

.field-related-content-h-v-card .field-name-field-text {
  display: none;

  @include mq($from: tablet) {
    display: block;
  }
}

.field-related-content-h-v-card article p.field-name-field-text {
  margin-bottom: 0.75rem;
}

.field-related-content-h-v-card .field-name-field-hor-vert-card-image img {
  min-width: 100%;
}

.field-related-content-h-v-card .field-type-link {
  @include font-gotham-bold;
  font-size: 0.875rem;

  @include mq($from: tablet) {
    font-size: 1rem;
  }
}

.field-related-content-h-v-card.full-row .odd {
  width: 100%;
  margin-right: 0;
}
