// Footer
.footer {
  border-top: 1px solid $grey-900;
  padding: 2.5rem 0;
  position: relative;
  background-color: $white;
  z-index: 5;
}

.footer-anchor {
  display: inline-block;
  position: relative;
  @include font-gotham-bold;
  white-space: nowrap;
  line-height: 1.25;
  font-size: 0.875rem;
  letter-spacing: 0.3px;
  margin-bottom: 0.375rem;

  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    bottom: -2px;
    background-color: $blue-100;
    pointer-events: none;
    transition: bottom 0.2s;
  }

  &:hover:before {
    bottom: 0;
  }
}

.footer a {
  display: inline-block;
  position: relative;
  @include font-gotham-book;
  white-space: nowrap;
  line-height: 1.25;
  font-size: 0.75rem;
  letter-spacing: 0.3px;
  margin-bottom: 0.375rem;

  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    bottom: -2px;
    background-color: $blue-100;
    pointer-events: none;
    transition: bottom 0.2s;
  }

  &:hover:before {
    bottom: 0;
  }

  @include mq($from: tablet) {
    font-size: 0.875rem;
  }
}

.footer .container-block-prefooter {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  border-bottom: 1px solid $grey-900;
  list-style: none;
  padding: 0 2rem 3.5rem;

  @include mq($from: tablet) {
    padding: 0 2.5rem;
  }
}

.footer .container-block-prefooter ul {
  list-style: none;
}

.footer .container-block-prefooter .prefooter-form {
  flex: 0 0 100%;

  @include mq($from: mobile) {
    flex: 0 0 50%;
  }

  @include mq($from: tablet) {
    flex: 1;
  }
}

.footer .container-block-prefooter .menu-item-level-0,
.footer .container-block-prefooter .prefooter-form {
  line-height: 1.57;
  flex: 0 0 100%;

  @include mq($from: mobile) {
    flex: 0 0 50%;
    overflow: hidden;
  }

  @include mq($from: tablet) {
    flex: 1;
    overflow: visible;
  }
}

.footer .container-block-prefooter .menu_link_content {
  padding: 0 0 2.5rem;

  @include mq($from: mobile) {
    padding: 0 1.25rem 2.5rem 0;
  }
}

.footer .container-block-prefooter .menu-block-title {
  display: block;
  @include font-gotham-bold;
  font-size: 0.625rem;
  line-height: 0.625rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0 0 1.25rem;
  color: $grey-500;
}

.container-block-prefooter .menu--pre-footer .menu-item-level-0 {
  vertical-align: top;
}

.container-block-prefooter .paragraph--type--pre-footer-content .field-name-field-text,
.container-block-prefooter .paragraph--type--pre-footer-content .field-name-field-text p {
  @include font-gotham-book;
  color: $grey-500;
  font-size: 0.875rem;
  line-height: 1.57;
  letter-spacing: 0.3px;
}

.container-block-prefooter .prefooter-form input {
  background-color: $white;
  outline: none;
  border: none;
  border-bottom: 1px solid $grey-400;
  @include font-gotham-book;
  color: $grey-500;
  font-size: 0.875rem;
  padding: 0.625rem;
  width: calc(100% - 1.25rem);
  display: block;
  margin-bottom: 0.625rem;
  padding-left: 0;

  &::placeholder {
    color:$grey-500;
    font-style:italic
  }
}

.container-block-prefooter .prefooter-form .small_text {
  display: block;
  color: $grey-500;
  @include font-gotham-book;
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: 0.3px;
}

.prefooter-form .form-item br {
  display: none;
}

.container-block-prefooter .webform-required {
  display: none;
}

.container-block-prefooter .prefooter-form .button {
  @extend .cta-button;
  min-width: 100%;
  background: $white;
  margin-top: 1.5rem;

  @include mq($from: mobile) {
    min-width: initial;
    width: auto;
  }
}

.container-block-prefooter .prefooter-form .contextual + a:not(.input) {
  display: none;
}

.container-block-prefooter .prefooter-form .messages {
  margin: 0 0 1rem;
  width: 100%;
  @include font-gotham-book;
  white-space: nowrap;
  line-height: 21.98px;
  font-size: 0.875rem;
  letter-spacing: 0.3px;
  color: $grey-500;
}

.container-block-prefooter .prefooter-form .messages > div {
  white-space: initial;
}


.footer .container-block-footer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 2.5rem 2rem 0;

  @include mq($from: tablet) {
    flex-direction: row;
  }
}

.container-block-footer .menu--footer {
  flex: 0 0 100%;
  margin: 1.5rem 0 0;
  order: 3;
  display: inline-block;

  @include mq($from: mobile) {
    flex: 0 0 50%;
    margin: 0;
  }

  @include mq($from: tablet) {
    flex: 1;
  }
}

.container-block-footer .menu--footer ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  vertical-align: top;

  @include mq($from: tablet) {
    justify-content: left;
  }
}

.container-block-footer .menu--footer ul li {
  vertical-align: top;

  @include mq($from: tablet) {
    padding-right: 1.25rem;
  }
}



.container-block-footer .block-views-blocksocial-media-links-list-social-icons {
  flex: 0 0 100%;
  text-align: center;
  order: 1;

  @include mq($from: mobile) {
    flex: 0 0 50%;
    order: 3;
    margin-top: 2rem;
  }

  @include mq($from: tablet) {
    flex: 1;
    text-align: right;
    margin-top: 0.875rem;
  }
}

.container-block-footer a {
  &:before {
    opacity: 0;
  }
  @include mq($from: mobile) {
    &:before {
      opacity: 1;
    }
  }
}

.container-block-footer .block-views-blocksocial-media-links-list-social-icons .views-row {
  display: inline-block;
}

.container-block-footer .block-views-blocksocial-media-links-list-social-icons a {

  &:before,
  &:after {
    display: none;
  }
}

.container-block-footer .block-views-blocksocial-media-links-list-social-icons .social-link {
  font-size: 0;
  display: inline-block;
  overflow: hidden;
  height: 1.25rem;
  width: 1.25rem;
  margin: 0 0.25rem;
}

.footer .footer-settings-content-container {
  display: block;
  min-width: 100%;
  @include font-gotham-book;
  font-size: 0.75rem;
  color: $grey-500;
  line-height: 1rem;
  letter-spacing: 0.3px;
  padding: 1.5rem 2rem 0;
  @include mq($from: tablet) {
    padding: 0.5rem 2rem 0;
  }
}

.footer .footer-settings-content-container .footer-copyright {

  @include mq($from: tablet) {
    width: 50%;
  }
}

.footer .block-gtranslate {
  order: 2;
  text-align: center;
  display: inline-block;
  margin: 1.5rem 0 0;

  @include mq($from: mobile) {
    margin: 0;
  }
}

.footer .block-gtranslate .selectbox-wrapper {
  height: auto;
  overflow: hidden;
  width: 141px;
  margin: 0 auto;
  position: relative;
  text-align: left;

  &:after {
    content: '';
    display: inline-block;
    position: absolute;
    right: 0;
    top: 10px;
    width: 6px;
    height: 4px;
    background-image: url(../assets/images/carot.svg);
    background-size: 6px 4px;
    background-position: right;
  }

  @include mq($from: mobile) {
    border-bottom: 1px solid $blue-100;
  }

  @include mq($from: tablet) {
    margin-right: 2rem;
    float: left;
    width: initial;
    padding-right: 1rem;
  }
}

.footer .block-gtranslate .selectbox-wrapper select {
  @include font-gotham-book;
  font-size: 0.75rem;
  color: $blue-100;
  background: transparent;
  width: 100%;
  border: none;
  appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;

  @include mq($from: tablet) {
    font-size: 0.875rem;
  }

  &:focus {
    outline:0;
  }

  &:-ms-expand {
    display: none;
  }
}