// Forms

.form-text,
.form-email,
.form-number,
.form-textarea,
.form-select,
.form-url,
.form-tel,
.InputElement {
  @include font-gotham-book;
  box-sizing: border-box;
  border: 1px solid $grey-400;
  border-radius: 2px;
  background-color: transparent;
  width: 100%;
  margin: 0.625rem 0;
  padding: 0.675rem;
  font-size: 0.875rem;
  color: $grey-800;

  &::placeholder {
    color: $grey-500;
    text-transform: uppercase;
  }
}

.form-select {
  border-radius: 2px;
  height: 40px;
  border-color: $blue-100;
  padding: 0.4375rem 0.875rem;
  appearance: none;
  background-image: url(../assets/images/carot.svg);
  background-position: right 10px center;
  background-size: 8px 4px;
  background-repeat: no-repeat;

  &::-ms-expand {
    display: none;
  }
}

.js-form-type-select,
.js-form-type-language-select {
  display: flex;

  > label {
    position: absolute;
    top: 0;
    left: 0;
    background-color: $white;
    order: 1;
    padding: 0 5px;
    margin-top: 5px;
    margin-left: 5px;
  }

  & > select {
    height: 44px;
    order: 2;
  }

  & > .description {
    order: 3;
  }
}

.form-item label {
  font-size: 0.8rem;
  color: $grey-800;
  line-height: 1;
}

.form-item th {
  @include font-gotham-bold;
}

.form-item--error-message {
  color: $red;
  font-size: 0.85rem;
  margin: 0 0 1rem;
  order: 3;
}

.form-item--error {
  input,
  select,
  textarea {
    border-color: $red;
  }
}

.form-item .description {
  font-size: 0.875rem;
  color: $grey-800;
  padding: 0.5rem 0 0;
}

.field--type-address .sub-heading {
  @include font-gotham-bold;
}

// Materialize form base  style
.museumMaterializeForm {
  outline: none;

  // Hide placeholders on inputs
  .form-item input {
    outline: none;
    margin: 0;

    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      display: none;
      opacity: 0;
      visibility: hidden;
    }

    &::-moz-placeholder { /* Firefox 19+ */
      display: none;
      opacity: 0;
      visibility: hidden;
    }

    &:-ms-input-placeholder { /* IE 10+ */
      display: none;
      opacity: 0;
      visibility: hidden;
    }

    &:-moz-placeholder { /* Firefox 18- */
      display: none;
      opacity: 0;
      visibility: hidden;
    }
  }

  // Add the * on required inputs
  .form-item input[required="required"] + label:after,
  .form-item select[required="required"] + label:after,
  .form-item textarea[required="required"] + label:after {
    content: ' *';
  }


  .fieldset-legend {
    @include font-gotham-book;
    display: block;
    font-size: 1rem;
    font-weight: bold;
    margin: 0 0 0.5rem;
    text-transform: capitalize;
  }

  .field--type-address summary {
    margin: 0 0 1rem;
  }

  // Form elements
  [class*="js-form-type-"] {
    position: relative;
  }

  [class*="js-form-type-"] input {

    + label {
      position: absolute;
      top: 10px;
      left: 0.4rem;
      transition: top 0.3s ease, opacity 0.3s ease;
      opacity: 1;
      background-color: $white;
      padding: 0 0.35rem;
    }

    // @TODO: Does not work with IE.
    // Create additional JS classes to show this
    &:not(:placeholder-shown) + label {
      opacity: 1;
      left: 0.4rem;
      top: 5px;
      font-weight: 700;
    }

    // and we highlight the focused input label
    &:focus + label {
      color: $grey-800;
    }
  }

  [class*="js-form-type-"] textarea {
    + label {
      position: absolute;
      top: 5px;
      left: 0.4rem;
      transition: top 0.3s ease, opacity 0.3s ease;
      opacity: 1;
      background-color: $white;
      padding: 0 0.35rem;
      font-weight: 700;
    }
  }

  // Form Selects
  .js-form-type-select select,
  .js-form-type-language-select select {
    border-color: $blue-100;
  }

  .js-form-type-select,
  .js-form-type-language-select {
    display: flex;
    flex-direction: column;

    .chosen-container {
      width: 100% !important;
      order: 2;
      margin: 0.25rem 0;
    }

    label {
      @include font-gotham-bold;
      order: 1;
    }

    .chosen-single {
      width: 100%;
    }
  }

  .checkout-pane .form-item.selectbox--item {
    display: inline-block;
  }

  // General form item
  .form-item {
    display: inline-block;
    width: 100%;
    position: relative;
    margin: 0.875rem 0;

    &.js-form-type-select {
      display: flex;
      margin-bottom: 0;
    }
  }

  .stripe-form .form-item {
    display: block;
  }

  .form-item input:not([type=radio]).active,
  .form-item input:not([type=checkbox]).active {
    border-color: $blue-100;
    transition: all .2s ease-out;
  }

  .form-item input:not([type=radio]) + label,
  .form-item input:not([type=checkbox]) + label {
    @include font-gotham-book;
    position: absolute;
    top: 0 !important;
    font-size: 1rem;
    opacity: 1;
    cursor: text;
    transition: color .2s ease-out, -webkit-transform .2s ease-out;
    transform-origin: 0% 100%;
    text-align: initial;
    transform: translateY(12px);
  }

  .form-item input + label.active {
    @include font-gotham-bold;
    color: $grey-800;
    transform: translateY(-5px) scale(0.8);
    transform-origin: 0 0;
  }

  // checkboxes and radio buttons
  .form-item input[type=checkbox] + label,
  .form-item input[type=radio] + label {
    position: relative !important;
    color: $grey-800;
    font-size: 0.75rem;
  }

  .form-item input[type=checkbox],
  .form-item input[type=radio] {
    margin-right: 0.5rem;
    margin-bottom: -0.35rem;
    height: 16px;
    width: 16px;
  }

  .form-item input[type="checkbox"] {
    height: 16px;
    width: 16px;
    -moz-appearance: none;
    appearance: none;
    padding: 0.65rem;
    border: 1px solid $blue-100;
  }

  .form-item input[type="checkbox"]:checked {
    background: url(../assets/images/icon-tick.svg) no-repeat;
    background-size: 66%;
    background-position: center;
  }

  // Buttons
  .button {
    @include cta-button;
  }

  .form-actions {
    margin: 2rem auto;
    @include clearfix;
  }

  // Submit button
  .form-submit {
    @include cta-button-blue;
    width: 100%;
    float: none;
    color: $white;
    box-sizing: border-box;

    @include mq($from: tablet) {
      width: 50%;
      float: right;
    }
  }

  .form-submit + a {
    margin: 0 1rem 0 0;

    @include mq($from: tablet) {
      margin: 0 auto 0 0;
    }
  }

  .form-submit + a + a {
    margin: 0 1rem 0 0;
  }

  // Cancel button
  .form-actions .js-form-submit + .js-form-item-cancel {
    @include cta-button;
    margin: 0.875rem 0 1.5rem;

    @include mq($from: tablet) {
      @include font-gotham-book;
      display: inline;
      border: 0;
      padding: initial;
      font-size: 1rem;
      text-align: initial;
      line-height: 1;
      margin: initial;

      &:hover {
        background-color: transparent;
        color: $blue-200;
        box-shadow: none;
      }
    }
  }
}

// Disabled
.form-submit.disabled {
  background-color: $grey-100 !important;
  border-color: $grey-200 !important;
  cursor: not-allowed !important;
  color: $grey-300 !important;

  &:hover {
    box-shadow: none !important;
  }
} 
