.grandchild-header {
  position: sticky;
  display: flex;
  height: 60px;
  z-index: 2;
  top: 0;
  background-color: $white;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);

  @include mq($from: tablet) {
    height: 80px;
  }
  // Admin Menu Offset
  .toolbar-horizontal & {
    top: 39px;
  }

  .toolbar-tray-open & {
    top: 79px;
  }
}

.grandchild-header .logo {
  background-image: url(../assets/images/logo-sm.svg);
  background-position: 40% 35%;
  background-size: 85%;
  left: 15px;

  @include mq($from: tablet) {
    top: 20px;
    width: 80px;
    height: 44px;
    position: relative;
  }

  &:before {
    display: none;
  }
}

.grandchild-header-logo {
  text-align: left;
  width: 25%;
  @include mq($from: tablet) {
    width: calc(25% - 30px);;
  }
}

.grandchild-header-logo a {

  &:after {
    content: '';
    background: $grey-300;
    display: block;
    position: absolute;
    top: 0;
    right: -15px;
    min-height: 100%;
    width: 1px;

    @include mq($from: tablet) {
      top: -5px;
      min-height: calc(100% + 10px);
    }
  }
}

.grandchild-header .back-btn {
  width: 30px;

  &:after {
    content: '';
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-color: $blue-100;
    box-sizing: content-box;
    display: block;
    width: 10px;
    height: 10px;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    transform: rotate(-44deg);
    left: 15px;
    right: auto;
  }

  &:before {
    display: none;
  }
}

.grandchild-header-title {
  display: none;
  text-align: center;

  @include mq($from: tablet) {
    display: table;
    width: 55%;
  }
}

.grandchild-header-title .page-node-title {
  height: 80px;
  vertical-align: middle;
  display: table-cell;
}

.grandchild-header-title span {
  @include font-surveyor-text-book;
  font-size: 16px;
  letter-spacing: 2.1px;
  text-transform: uppercase;
  color: $black;
  line-height: 1;
}

.grandchild-header-btn {
  text-align: right;
  padding-right: 15px;
  line-height: 60px;
  width: 75%;

  @include mq($from: tablet) {
    line-height: 80px;
    padding-right: 30px;
    width: 20%;
  }
}

.grandchild-header .btn-link {

  @include font-gotham-bold;
  cursor: pointer;
  transition: background-color 0.25s;
  text-align: center;
  padding: 14px 18px;
  font-size: 14px;
  color: $blue-100;
  background-color: $white;
  border: 1px solid $blue-100;

  @include mq($from: tablet) {
    padding: 14px 18px;
  }

  &:before {
    display: none;
  }

  &:hover {
    transition: background-color 0.25s;
    color: $white;
    background-color: $blue-100;
    border-color: $blue-100;
  }
}
