.nav-main-user {
  display: none;
  margin-left: 0;
  margin-right: 3rem;

  @include mq($from: tablet) {
    display: inline-block;
  }
}

.nav-main-user ul {
  list-style: none;
}

.general-text-input {
  background-color: $white;
  outline: none;
  border: none;
  border-bottom: 1px solid $grey-300;
  @include font-gotham-book;
  color: $grey-500;
  font-size: 0.875rem;
  padding: 0.625rem;
  width: calc(100% - 1.25rem);
  display: block;
  margin-bottom: 0.625rem;

  &:active,
  &:focus {
    border-bottom: 1px solid $grey-800;
    transition: border 0.25s ease;
  }

  &::placeholder {
    color: $grey-500;
    font-style: italic;
  }
}

#container:after {
  content: '';
  opacity: 0;
  pointer-events: all;
}

#container.open {
  &:after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: $black;
    opacity: 0.5;
    z-index: 6;
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
  }
}

.nav-main-user > .menu-level-0 > .menu-item:first-child {
  padding: 0;
}

.nav-main-user > .menu-level-0 > .menu-item--expanded > .menu-dropdown {
  width: 35%;
  max-width: 450px;
  display: inline-block;
  left: auto;
  padding: 2rem;
  right: 0;
}

.logged-user > .menu-level-0 > .menu-item--expanded > .menu-dropdown {
  padding: 0;
}

//replace nav-main behavior
.nav-main-user > .menu-level-0 > .menu-item--expanded:hover .menu-dropdown {
  visibility: hidden;
  opacity: 0;
  transform: translateY(-1em);
  transition-duration: 0.25s;
}

//open card with a class applied with js
.nav-main-user > .menu-level-0 > .menu-item--expanded .user-nav-link[aria-expanded="true"] + .menu-dropdown {
  visibility: visible;
  opacity: 1;
  transform: translateY(0%);
  transition-duration: 0.25s;
}

//open card with a class applied with js
.nav-main-user > .menu-level-0 > .menu-item--expanded .user-nav-link[aria-expanded="true"] + .menu-dropdown {
  visibility: visible;
  opacity: 1;
  transform: translateY(0%);
  transition-duration: 0.25s;
}

.logged-user .menu-level-0 .menu-item {
  display: inline-block;
  height: 80px;
  line-height: 80px;
  padding: 0 20px;
}

.login-user .menu-level-0  .menu-item {
  display: inline-block;
  height: 80px;
  line-height: 80px;
  padding: 0 20px;

  .user-nav-link[aria-expanded="true"] {
    color: $white;
  }

  .user-nav-link[aria-expanded="true"]:before,
  &:hover .user-nav-link[aria-expanded="true"]:before {
    top: 0;
  }

  .user-nav-link[aria-expanded="true"]:after,
  .user-nav-link[aria-expanded="true"].is-active:after {
    top: 0;
    background-image: url("../assets/images/avatar-white.svg");
  }
}

.nav-main-user .user-nav-link {
  display: block;
  position: relative;
  transition: color 0.25s;
  font-size: 0;
}

.logged-user .user-nav-link {
  display: block;
  position: relative;
  transition: opacity 0.25s;
  opacity: 1;
  overflow: visible;

  &:hover {
    cursor: pointer;
  }

  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: calc((20px - 44px) / 2);
    width: 40px;
    height: 40px;
    transform: translateY(-50%);
    border-radius: 20px;
    background-color: $blue-100;
    z-index: -1;
    opacity: 1;
    transition: opacity 0.25s;
  }

  &:after {
    content: '';
    background-image: url("../assets/images/avatar-white.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 16px;
    width: 16px;
    display: inline-block;
    vertical-align: middle;
  }

  &.is-active:before {
    opacity: 1;
  }
}

.login-user .user-nav-link {
  display: block;
  position: relative;
  transition: color 0.25s;
  cursor: pointer;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: -8px;
    width: calc(100% + 16px);
    height: 0;
    background-color: $blue-100;
    z-index: -1;
    transition: height 0.25s;
  }

  // &.is-active:before {
  //   height: 80px;
  // }

  &:after {
    content: '';
    background-image: url("../assets/images/avatar-blue.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 16px;
    width: 16px;
    display: inline-block;
    vertical-align: middle;
  }

  &.is-active:before {
    top: -74px;
  }
}

.login-user .menu-item--expanded.open .user-nav-link:before {
  height: 80px;
}

button.user-nav-link {
  border: none;
  background: transparent;
  padding: 0;
  align-items: center;
  line-height: 80px;
}

.nav-user-account-block .avatar-block {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  // flex-wrap: wrap;
  border-bottom: 1px solid $grey-200;
  padding: 1.25rem;

  @include mq($from: 1200px) {
    padding: 2rem;
  }
}

.logged-user .contextual {
  display: none;
}

.logged-user .user_info p {
  padding-bottom: 0.5rem;
}

.logged-user .menu-dropdown ul {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  text-transform: capitalize;
}

.logged-user .menu-dropdown .user-account-menu li {
  padding: 8px 16px;
  line-height: 1.25;
}

.logged-user .menu-dropdown .cta-button {
  padding: 0;

  &:hover{
    a {
      color: $white;
    }
  }
}

.logged-user .cta-button a {
  margin-bottom: 0;

  &:before {
    display: none;
  }
}

.nav-mobile-custom-wrapper .nav-user-account-block .user-account-menu {
  padding-bottom: 1rem;
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  text-transform: capitalize;
}

.nav-mobile-custom-wrapper .nav-user-account-block .cta-button {
  // display: inline-block;
  // padding: 0;
  // border: none;
  // font-size: inherit;
}

.nav-user-account-block .user_info {
  padding-left: 1rem;
  @include font-gotham-book;
  font-size: 1rem;
  text-align: left;

  @include mq($from: 1200px) {
    padding-left: 2rem;
  }

  p {
    word-break: break-all;
  }
}

.menu-dropdown .user-avatar {
  height: 100%;
  min-width: 50px;
  min-height: 50px;
  font-size: 0;
  border-radius: 100%;
  display: inline-block;
  position: relative;
  background: $light-blue;

  @include mq($from: 1200px) {
    width: 80px;
    height: 80px;
  }

  &:before {
    content: '';
    display: inline-block;
    position: absolute;
    font-size: 0;
    background-image: url("../assets/images/avatar-blue.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 30px;
    width: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    vertical-align: middle;

    @include mq($from: 1200px) {
      height: 40px;
      width: 40px;
    }
  }
}

.nav-main-user a {
  display: inline-block;
  position: relative;
  @include font-gotham-bold;
  white-space: nowrap;
  line-height: 21.98px;
  font-size: 0.875rem;
  letter-spacing: 0.3px;
  margin-bottom: 6px;

  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    bottom: -2px;
    background-color: $blue-100;
    pointer-events: none;
    transition: bottom 0.2s;
  }

  &:hover:before {
    bottom: 0;
  }
}

.nav-main .form-item label,
.nav-mobile-custom-wrapper label {
  display: none;
}

.nav-main .form-item input,
.nav-mobile-custom-wrapper .form-item input {
  background-color: $white;
  outline: none;
  border: none;
  border-bottom: 1px solid $grey-300;
  @include font-gotham-book;
  color: $grey-500;
  font-size: 0.875rem;
  padding: 0.625rem 0;
  width: calc(100% - 1.25rem);
  display: block;
  margin-bottom: 0.625rem;
  padding-left: 0;
  width: 100%;

  &:active,
  &:focus {
    border-bottom: 1px solid $grey-800;
    transition: border 0.25s ease;
  }

  &::placeholder {
    color: $grey-500;
    font-style: italic;
  }

  @include mq($from: tablet) {
    padding-right: 0.625rem;
  }
}

.nav-main-user .nav-user-login-block .panel-title,
.nav-main-user .nav-user-login-block legend {
  @extend h4;
  @include font-gotham-bold;
  font-size: 1.5rem;
}

.nav-mobile-custom-wrapper .form-actions input {
  display: block;
  min-width: 100%;
}

.nav-mobile-custom-wrapper .nav-user-login-block .panel-title {
  @extend h4;
  @include font-gotham-bold;
  font-size: 1rem;
}

.nav-mobile-custom-wrapper .nav-user-account-block h2 {
  display: inline-block;
  font-size: inherit;
  color: inherit;
}

.nav-mobile-custom-wrapper .nav-user-account-block li.cta-button {

  &:hover,
  &:focus {

    a {
        background: $white;
    }
  }
}

.nav-mobile-custom-wrapper .nav-user-account-block li:not(.cta-button) a {
  display: inline-block;
  border-bottom: 1px solid $blue-100;
  margin: 0.5rem 0;
}

.nav-main-user .nav-user-login-block p,
.nav-mobile-custom-wrapper .nav-user-login-block p {
  @include font-gotham-book;
  font-size: 0.875rem;
}

.nav-main-user .nav-user-login-block .form-item {
  margin-bottom: 2rem;
  @include font-gotham-book;
}

.nav-mobile-custom-wrapper .nav-user-login-block .form-item {
  margin-bottom: 1rem;
  @include font-gotham-book;
}

.nav-main-user .form-actions input,
.nav-mobile-custom-wrapper .form-actions input {
  @include cta-button;
  background: $white;
  background: none;
  border-radius: 0;
}

.nav-mobile-custom-wrapper .form-actions {
  float: initial;
  display: block;
  padding: 1.5rem 0 2rem;
}

.nav-main-user .nav-user-login-block .form-actions {
  display: inline-block;
  float: right;
}

.nav-mobile-custom-wrapper .nav-user-account-block {
  padding: 1rem 0 0;
  margin-bottom: 1px;
}

.nav-mobile-custom-wrapper .nav-user-account-block .avatar-block {
  padding: 1rem 0;
  border: none;
}

.nav-mobile-custom-wrapper ul,
.nav-mobile-custom-wrapper li {
  list-style: none;
  color: $blue-100;
}

.nav-main-user .nav-user-login-block li,
.nav-mobile-custom-wrapper.nav-user-login-block li {
  padding: 9px 16px 9px 0;
}

.nav-main-user .nav-user-login-block ul,
.nav-main-user .nav-user-login-block  li {
  display: inline-block;
  float: left;
}

.nav-mobile-custom-wrapper .nav-user-login-block ul,
.nav-mobile-custom-wrapper .nav-user-login-block li {
  display: block;
  text-align: center;
}

.nav-mobile-custom-wrapper .nav-user-account-block ul {
  list-style: none;
  border-bottom: 1px solid $grey-300;
  padding-bottom: 2rem;
  // padding-left: calc(2rem + 80px);
}
