.page--node-type-exhibition .header,
.page--node-type-lesson_plan .header,
.page--node-type-event .header {
  display: flex;

  @include mq($from: tablet) {
    display: none;
  }
}

.page--node-type-exhibition .grandchild-header,
.page--node-type-lesson_plan .grandchild-header,
.page--node-type-event .grandchild-header {
  display: none;

  @include mq($from: tablet) {
    display: flex;
  }
}

.header {
  position: sticky;
  display: flex;
  height: 60px;
  z-index: 500;
  top: 0;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);

  @include mq($from: tablet) {
    height: 80px;
  }

  // Admin Menu Offset
  .toolbar-horizontal & {
    top: 39px;
  }

  .toolbar-tray-open & {
    top: 79px;
  }
}

.logo {
  display: block;
  position: absolute;
  top: 8px;
  left: 30px;
  width: 69px;
  height: 46px;
  text-indent: -999em;
  background: url(../assets/images/logo-s.png);
  background-size: 284px;
  background-repeat: no-repeat;
  background-position: 0 0;

  @include mq($from: tablet) {
    top: 30px;
    width: 284px;
    height: 20px;
    background-image: url(../assets/images/logo-full.svg);
    background-size: initial;
  }
}
