.node--view-mode-highlight-card {
  @include contain-only;
  @include clearfix;

  @include mq($from: tablet) {
    width: 83%;
    margin-left: 8.5%;
    max-width: 100%;
  }
}

.highlight-card {
  padding: 0;
  background-color: $blue-100;

  @include mq($from: tablet) {
    padding: 0 2.5rem;
  }

  * {
    color: $white;
  }

  a.featured-highlight-card-link:before,
  a.featured-highlight-card-link:hover:before {
    background-color: $white;
  }

  a.featured-highlight-card-link:hover {
    color: $white;
  }
}

.highlight-card .featured-highlight-card-text {
  margin: 0.625rem 0;

  @include mq($from: tablet) {
    margin: 0 0 0.75rem;
  }
}

.highlight-card .featured-highlight-card-text p {
  margin: 0;
}

.highlight-card .featured-highlight-card-link {
  @include font-gotham-bold;
  font-size: 0.875rem;

  @include mq($from: tablet) {
    font-size: 1rem;
  }
}

.paragraph--type--highlight-card {
  padding: 3.75rem 0;
}

.highlight-card-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @include mq($from: mobile) {
    flex-direction: row;
  }
}

.highlight-card-caption {
  @include caption;
  margin-bottom: 0.75rem;
  order: 1;
  width: 100%;
}

.highlight-card-image {
  display: block;
  width: 100%;
  margin: 0 0 1rem;
  order: 2;

  img {
    width: 100%;
  }

  @include mq($from: mobile) {
    display: inline-block;
    width: calc(50% - 1.5rem);
    margin: 0 1.5rem 0 0;
  }
}

.highlight-card-content {
  display: block;
  width: 100%;
  order: 3;
  
  @include mq($from: mobile) {
    display: inline-block;
    width: calc(50% - 1.5rem);
    vertical-align: top;
  }
}

.highlight-card-header {
  @include font-gotham-bold;
  font-size: 0.875rem;
  line-height: 1.43;
  margin-bottom: 1.375rem;

  @include mq($from: tablet) {
    font-size: 1.25rem;
  }
}
