.content-search-list {
  padding: 1.25rem 0 4.375rem;

  @include mq($from: tablet) {
    padding: 3.375rem 0;
  }

  &.search-list-hide-filters .views-exposed-form,
  &.search-list-hide-filters .event-search-list-exposed-form-wrapper {
    display: none;
  }

  &:not(.search-list-hide-filters) .paragraph--type--content-search-list header {
    display: none;
  }

  // faq use
  &.emphasis-highlight #views-exposed-form-faq-list-block-1 {
    [type="radio"] + label {
      color: $white;
      border-color: $white;
    }

    [type="radio"]:checked + label,
    [type="radio"] + label:hover {
      background: $white;
      color: $blue-100;
    }
  }

  &.emphasis-highlight .node--type-faq .faq-collapse:after {
    background: rgb(0,126,179);
    background: linear-gradient(0deg, rgba(0,126,179,1) 30%, rgba(0,126,179,0) 100%);
  }

  &.emphasis-highlight .faq-checkbox + .faq-collapse-toggle {
    color: $white;
  }
}

.search-list-title {
  @include font-gotham-bold;
  font-size: 0.65rem;
  line-height: 0.8;
  text-transform: uppercase;
  margin-bottom: 0.75rem;
}

.paragraph--type--content-search-list {
  @include contain-only;
  @include clearfix;
}

.paragraph--type--content-search-list .views-row:first-of-type article {
  padding-top: 0;
}

.paragraph--type--content-search-list header p {
  @include font-gotham-bold;
  font-size: 0.65rem;
  line-height: 0.8;
  text-transform: uppercase;
  margin-bottom: 0.75rem;
}

.paragraph--type--content-search-list .node--view-mode-horizontal-card .card-container {
  display: flex;
  margin-bottom: 1.875rem;
  flex-direction: column;

  @include mq($from: tablet) {
    flex-direction: row;
  }
}

.paragraph--type--content-search-list .node--view-mode-horizontal-card .card-image {
  width: 100%;
  margin-bottom: 1.5rem;
  order: 1;

  @include mq($from: tablet) {
    width: calc(50% - 24px);
    margin-right: 1.5rem;
    margin-bottom: 0;
  }
}

.paragraph--type--content-search-list .node--view-mode-horizontal-card .card-image img {
  width: 100%;
}

.paragraph--type--content-search-list .node--view-mode-horizontal-card .card-image a {
  @include nounderline;
}

.paragraph--type--content-search-list .node--view-mode-horizontal-card .card-content {
  width: 100%;
  font-size: 0.85rem;
  line-height: 1.71;
  order: 2;

  @include mq($from: tablet) {
    width: calc(50% - 24px);
    font-size: 0.875rem;
  }
}

.paragraph--type--content-search-list .node--view-mode-horizontal-card .field-name-field-hor-vert-card-text {
  margin: 0.625rem 0;

  p {
    margin: 0;
  }

  @include mq($from: tablet) {
    margin: 0 0 0.75rem;
  }
}

.paragraph--type--content-search-list .node--view-mode-horizontal-card .card-content a {
  @include font-gotham-bold;
}

.paragraph--type--content-search-list .node--view-mode-horizontal-card .card-header {
  @include font-gotham-bold;
  font-size: 0.85rem;
  line-height: 1.4;
  margin: 0;

  @include mq($from: tablet) {
    font-size: 1.125rem;
  }
}

.paragraph--type--content-search-list .views-exposed-form {
  margin-bottom: 3.5rem;
  flex-wrap: wrap;

  @include mq($from: tablet) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

.paragraph--type--content-search-list .views-exposed-form .form-item {
  display: inline-block;
  margin-top: 1.25rem;

  @include mq($from: tablet) {
    margin-top: 0;
  }
}

.paragraph--type--content-search-list .views-exposed-form .js-form-type-textfield {
  width: 100%;

  @include mq($from: tablet) {
    width: calc(100% - 375px);
  }
}

.paragraph--type--content-search-list .views-exposed-form .js-form-type-textfield .form-text {
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid $grey-400;
  color: $grey-800;
  padding: 0.625rem 0.625rem 0.625rem 1.5rem;
  background: transparent;
  background-image: url(../assets/images/icon-search-grey.svg);
  background-size: 15px 15px;
  background-position: left;
  background-repeat: no-repeat;
  font-size: 1rem;

  &.hasDatepicker {
    background-image: url(../assets/images/icon-calendar-grey.svg);
  }

  &::placeholder {
    font-style: italic;
  }
}

.paragraph--type--content-search-list .views-exposed-form .js-form-type-select {
  margin: 0 0.5rem 0 0;

  @include mq($from: tablet) {
    margin: 0 0 0 0.5rem;
  }
}

.paragraph--type--content-search-list .views-exposed-form .form-select {
  display: inline-block;
  color: $blue-100;
  background: transparent;
  min-width: 160px;
  width: 100%;
  background-image: url(../assets/images/carot.svg);
  background-position: right 10px center;
  background-size: 8px 4px;
  background-repeat: no-repeat;

  @include mq($from: tablet) {
    min-width: 180px;
  }
}

.paragraph--type--content-search-list .pager {
  margin: 0;
  list-style: none;
}

.paragraph--type--content-search-list .pager a {
  @include cta-button;
  width: 100%;
}

h3#no-results {
  @include font-gotham-book;
  padding: 0 0 1.875rem;
  margin: 0 0 1.875rem;
  border-bottom: 1px solid $grey-900;

  + h4 {
    @include font-gotham-book;
  }
}

// Event Search List
.event-search-list-exposed-form-wrapper {
  display: flex;
  flex-direction: column;

  @include mq($from: desktop) {
    flex-direction: row;
  }

  .search-list-title-block {
    @include font-gotham-bold;
    width: 100%;
    font-size: 1.25rem;

    @include mq($from: tablet) {
      width: 80%;
      font-size: 1.875rem;
    }
  }

  .views-exposed-form {
    width: 100%;
  }
}
