// style to override

.base-gallery-icon {
  height: 2.75rem;
  width: 2.75rem;
  border-radius: 50%;
  padding: 10px;
  margin: 5px;
  opacity: 1;
  transition: all .2s ease;
  border: 2px solid $blue-200;

  &:after {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    margin: auto;
    background: url(../assets/images/icon-close.svg) no-repeat;
    background-position: center;
    background-size: 80%;
  }

  &:before {
    display: none;
  }

  &:hover {
    transition: all .2s ease;
    background: rgba($blue-400, 1);
    border: 2px solid $blue-400;
  }

  @include mq($from: tablet) {
    margin: auto auto 0.5rem;
  }
}

.lg-outer.lg-visible .lg {
  background: #181818;
}

.lg-outer.lg-visible .lg .lg-img-wrap {
  padding-right: 0;
  //height: calc(100% - 3.75rem);
  @include mq($from: tablet) {
    width: calc(100% - 3.75rem);
  }
}

.lg-outer.lg-visible .lg .lg-img-wrap.active {
  //height: calc(100% - 25rem - 3.75rem) !important;
  @include mq($from: tablet) {
    width: calc(100% - 25rem - 3.75rem) !important;
  }
}

.lg-outer .lg-toolbar {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  @include mq($from: tablet) {
    border-bottom: 0;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
  }
}


.lg-outer .lg-toolbar.group {

  @include mq($from: tablet) {
    height: 100%;
    width: 3.75rem;
    right: 0;
    left: inherit;
  }
}

.lg-outer #lg-counter {
  padding: 12px;
  text-align: center;
  color: white;
  @include font-gotham-book;

  @include mq($from: tablet) {
    display: block;
  }
}

.lg-outer #lg-counter #lg-counter-current {
  float: left;
}

.lg-outer #lg-counter #lg-counter-all {
  float: right;
}

.lg-outer .lg-toolbar.group span {
  display: block;
  color: white;
  transition: all .2s ease;

  &:hover {
    transition: all .2s ease;
  }

  @include mq($from: tablet) {
    margin-left: auto;
    margin-right: auto;
    float: initial;
  }
}

.lg-outer .lg-sub-html {
  background: $black;
  color: $white;
  @include caption;
  text-transform: initial;
  font-size: 0.75rem;
  text-align: left;
  height: 25rem;
  right: 0;
  left: 0;
  top: initial;
  bottom: 0;
  padding: 2rem;
  overflow: hidden;
  transform: translateY(100%);
  transition: all 0.2s ease;
  opacity: 0;

  @include mq($from: tablet) {
    font-size: 0.85rem;
    width: 25rem;
    right: 3.75rem;
    left: initial;
    top: 0;
    padding: 5.875rem 5rem 2.25rem 1.25rem;

    transform: translateX(100%);
    transition: all 0.2s ease;
    opacity: 0;
  }
}

.lg-outer .lg-sub-html.active {
  height: 15%;
  min-height: 8rem;
  transform: translateY(0);
  transition: all 0.2s ease;
  opacity: 1;

  @include mq($from: tablet) {
    transform: translateX(0);
    transition: all 0.2s ease;
    opacity: 1;
    height: 100%;
  }
}

.lg-outer .lg-actions {
  display: none;

  @include mq($from: tablet) {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
  }
}

.lg-outer .lg-toolbar .lg-icon {

  @include mq($from: tablet) {
    float: none;
    display: block;
    padding: 12px;
    position: relative;
    transform: none;
    left: initial;
    right: initial;
  }
}

.lg-outer .lg-toolbar .lg-info {
  cursor: pointer;
  float: right;
  font-size: 24px;
  line-height: 27px;
  padding: 10px 0;
  text-align: center;
  text-decoration: none!important;
  outline: 0;

  @include mq($from: tablet) {
    float: initial;
    display: block;
  }
}

.lg-outer .lg-toolbar{
  @include mq($from: tablet) {
    padding-top: 2rem;
  }
}

.lg-outer .lg-toolbar .lg-close {
  @extend .base-gallery-icon;

  &:after{
    background: url(../assets/images/icon-close.svg) no-repeat;
    background-position: center;
    background-size: 100%;
  }

  @include mq($from: tablet) {
    margin: auto auto 4rem;
  }
}

.lg-outer .lg-toolbar .lg-prev {
  @extend .base-gallery-icon;
  padding: 5px;

  &:after{
    background: url(../assets/images/icon-left-arrow-gallery.svg) no-repeat;
    background-position: center;
    background-size: 90%;
  }
}

.lg-outer .lg-toolbar .lg-next {
  @extend .base-gallery-icon;
  padding: 5px;

  &:after{
    background: url(../assets/images/icon-right-arrow-gallery.svg) no-repeat;
    background-position: center;
    background-size: 90%;
  }
}

.lg-outer .lg-toolbar #lg-zoom-in {
  @extend .base-gallery-icon;
  padding: 5px;

  &:after{
    background: url(../assets/images/icon-zoom-in.svg) no-repeat;
    background-position: center;
    background-size: 104%;
  }
}

.lg-outer .lg-toolbar #lg-zoom-out {
  @extend .base-gallery-icon;
  padding: 5px;

  &:after{
    background: url(../assets/images/icon-zoom-out.svg) no-repeat;
    background-position: center;
    background-size: 112%;
  }
}

.lg-outer .lg-toolbar #lg-actual-size {
  @extend .base-gallery-icon;
  padding: 5px;

  &:after{
    background: url(../assets/images/icon-minimize.svg) no-repeat;
    background-position: center;
    background-size: 72%;
  }
}

.lg-outer .lg-toolbar .lg-fullscreen {
  @extend .base-gallery-icon;
  padding: 5px;

  &:after{
    background: url(../assets/images/icon-full-screen.svg) no-repeat;
    background-position: center;
    background-size: 72%;
  }
}

.lg-outer .lg-toolbar .lg-info {
  @extend .base-gallery-icon;
  padding: 5px;
  &:after{
    background: url(../assets/images/icon-info.svg) no-repeat;
    background-position: center;
    background-size: 68%;
  }
}
