a {
  color: $blue-100;
  text-decoration: none;

  &:hover {
    color: $blue-200;
  }
}

.main-content a:not(.cta-button),
.main-content a:not(.cke-*) {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    bottom: -1px;
    background-color: $blue-100;
    pointer-events: none;
    transition: bottom 0.2s;
  }

  &:hover:before {
    bottom: 1px;
    background-color: $blue-200;
  }
}

.paragraph .field-type-text-long a {

  &:before {
    background: 0;
  }
}

// styles for target item on hash link

.hashlink {
  height: 100px;
  margin-top: -100px;
  visibility: hidden;
  background: transparent;
  z-index: -10;
  opacity: 0;
  pointer-events: none;
}
