// Member Portal

.node--type-member-portal-content-page {
  .paragraph--horizontal-card-text,
  .paragraph--vertical-card-text {
    .field-type-link a {
      @include cta-button;
    }
  }
}

// link membership form
.museum-link-membership-form-block {
  @include contain;
  @extend .museumMaterializeForm;

  margin-bottom: 4rem;
  @include mq($from: tablet) {
    margin-bottom: 6rem;
  }
}

.museum-link-membership-form-block .form-items-wrapper {
  margin: 0 auto 1rem;

  @include mq($from: tablet) {
    max-width: 396px;
    margin: 0 auto 1rem;
  }
}

.museum-link-membership-form-block .form-title {
  @include font-gotham-bold;
  color: $grey-900;
  font-size: 1.875rem;
  font-weight: bold;
  letter-spacing: -0.55px;
  line-height: 2.25rem;
  margin-bottom: 2rem;
}

.museum-link-membership-form-block .form-item-help-text {
  @include font-gotham-book;
  color: $grey-800;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 0.25px;
  line-height: 22px;
  margin: 0;
}

.museum-link-membership-form-block .form-item-help-text a {

  &:before {
    display: none;
  }
}