// User Register Form
.user-register-form {
  @include contain;

  // .form-content {
  //   @include contain;
  // }
}

// Member Dashboard
.museum-dashboard {
  @include contain-only;

  // @include mq($from: mobile) {
  //   max-width: 1116px;
  // }

  .museum-dashboard-container {
    margin-bottom: 1rem;

    @include mq($from: mobile) {
      display: flex;
    }

    .museum-dashboard-sidebar-toggle {
      position: fixed;
      z-index: 100;
      width: 20px;
      height: 40px;
      left: 0;
      top: 84px;
      background-color: $blue-100;
      transition: all 0.4s;

      &:before {
        content: "";
        display: block;
        background-image: url(../assets/images/carot-white.svg);
        background-position: 2px 14px;
        background-repeat: no-repeat;
        background-size: 70%;
        transform: rotate(90deg);
        width: 13px;
        height: 40px;
        transition: all 0.3s;
      }

      @include mq($from: mobile) {
        display: none;
      }
    }

    .museum-dashboard-sidebar {
      position: absolute;
      z-index: 1;
      left: -100%;
      right: 0;
      top: 60px;
      transition: all 0.3s ease;
      font-size: 0.9rem;

      background: $blue-100;
      padding: 5rem 2rem;
      height: 100%;
      max-width: 100%;

      @include mq($from: mobile) {
        // Reset to a regular element.
        position: static;
        left: inherit;
        right: inherit;
        top: inherit;
        background: transparent;
        padding: 0 0.5rem 0 0;
        border-right: 1px solid $grey-300;
        margin-right: 2rem;
        height: inherit;
        max-width: 250px;
        min-width: 200px;
      }

      &,
      h1, h2, h3, h4, h5, h6,
      a {
        color: $white;

        @include mq($from: mobile) {
          color: $grey-900;
        }
      }

      .link {
        margin-left: 1rem;
        margin-bottom: 0.25rem;
      }

      .section-title {
        font-size: 1.25rem;
        margin-bottom: 0.5rem;
      }

      .dashboard-section {
        margin-bottom: 2rem;
      }
    }

    .museum-dashboard-content {
      flex-grow: 2;
      overflow-x: hidden;
    }
  }

  .museum-dashboard-content .field--name-body {
    margin: 1.75rem 0 0;
  }

  .museum-dashboard-content .description + .views-element-container {
    margin-top: 1.5rem;
  }

  // Active Mobile Navigation.
  &.slide-out {
    .museum-dashboard-sidebar-toggle {
      left: calc(100% - 2rem);
      background: transparent;

      &:before {
        transform: rotate(270deg);
      }
    }

    .museum-dashboard-sidebar {
      left: 0;

      @include mq($from: mobile) {
        position: static;
        left: inherit;
        top: inherit;
      }
    }
  }
}

.membership-profile-info,
.membership-profile-level,
.membership-profile-benefits,
.membership-giving-history,
.membership-giving-history-table,
.membership-settings,
.membership-profile-info + .form-item {
  h2,
  .section-title {
    @include font-gotham-bold;
    font-size: 1.25rem;

    @include mq($from: tablet) {
      font-size: 1.5rem;
      line-height: 1;
      margin-bottom: 1rem;
    }
  }
}

.membership-profile-info,
.membership-profile-level,
.membership-profile-benefits,
.membership-giving-history {
  padding-top: 0;
  padding-bottom: 1.5rem;
}

.membership-profile-info {
  @include font-gotham-bold;
  font-size: 2rem;

  .views-row {
    div {
      display: inline;
    }
  }

  @include mq($from: tablet) {
    font-size: 2.25rem;
    padding-bottom: 2rem;
    line-height: 1;
  }

  .views-field-nothing {
    display: block;

    @include mq($from: mobile) {
      display: inline-block;
    }
  }

  .views-field-field-address-given-name,
  .views-field-field-address-family-name {
    display: inline-block;
    margin-left: 0.5rem;
  }
}

.membership-profile-level .content-row {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  margin: 0;
  border-bottom: 1px solid $grey-300;

  &:first-of-type {
    border-top: 1px solid $grey-300;
    padding-top: 2rem;
  }

  @include mq($from: tablet) {
    flex-direction: row;
    margin: 1rem 0;
    padding: 1rem 0 2rem;
  }
}

.membership-profile-level .content-row .label {
  width: 100%;
  @include font-gotham-bold;

  @include mq($from: tablet) {
    width: 32%;
    margin-right: 5%;
  }
}

.membership-profile-level .content {
  width: 100%;
}

.membership-level .content .actions,
.membership-profile-benefits .actions {
  text-align: right;
  margin: 1rem 0 0;

  a {
    @include cta-button;
    margin: 0 0 1rem;

    @include mq($from: tablet) {
      margin: 0 0 1rem 1rem;
    }
  }
}

.membership-expires .notice {
  display: block;
  color: $blue-100;
  font-size: 0.875rem;
}

.membership-email .content span {
  word-break: break-all;
}

.membership-profile-benefits h2,
.membership-giving-history .section-title {
  color: $blue-100;
}

.membership-benefits {
  border-top: 1px solid $grey-300;
  padding: 2rem 0;
}

.membership-giving-history .views-row {
  display: flex;
  flex-direction: column;
  border-top: 1px solid $grey-300;
  padding: 2rem 0;

  @include mq($from: tablet) {
    flex-direction: row;
  }

  > div:first-of-type {
    width: 100%;
    @include font-gotham-bold;

    @include mq($from: tablet) {
      width: 32%;
      margin-right: 5%;
    }
  }

  .views-field-completed {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  + footer {
    text-align: right;
  }

  + footer a {
    @include cta-button;
    margin: 0 0 1rem;

    @include mq($from: tablet) {
      margin: 0 0 0 1rem;
    }
  }
}

//Giving history
.membership-giving-history-table table {
  width: 100%;
  margin: 1.5rem 0;

  @include mq($from: tablet) {
    margin: 2rem 0;
  }

  th {
    padding: 0.5rem 0;
    @include font-gotham-bold;
  }

  tbody {
    font-size: 0.75rem;

    @include mq($from: mobile) {
      font-size: 1rem;
    }
  }

  tbody tr {
    border-bottom: 1px solid $grey-300;
  }

  tbody td {
    padding: 0.5rem 0;
    margin: 0.5rem 0;
  }

  .views-field-completed {
    padding-right: 0.75rem;
  }

  .views-field-total-price__number {
    text-align: right;
  }
}

// Settings
.membership-settings {
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
}
