.menu-content-title {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  @include font-gotham-bold;
  color: $grey-600;
}

.field-name-field-text,
.field-name-field-text-2 {
  color: $grey-800;
}

.field-name-field-text p,
.field-name-field-text-2 p {
  margin-bottom: 1rem;
}
