.mm-navbar {

  .mobile-menu-mm-btn-close {
    position: absolute;
    right: 0;
    top: 21px;
    width: 20px;
    height: 20px;
  }

  .mobile-menu-mm-btn-close .close {
    width: 100%;
    height: 100%;
    padding: 100%;
  }

  .close:before,
  .close:after {
    position: absolute;
    left: 9px;
    top: 0;
    content: ' ';
    height: 20px;
    width: 2px;
    background-color: $blue-100;
  }

  .close:before {
    transform: rotate(45deg);
  }

  .close:after {
    transform: rotate(-45deg);
  }
}

.responsive-menu-block-wrapper {
  display: none;
}

.mm-wrapper_opened .mm-page {
  position: fixed;
  width: 100%;
}

.mm-page,
.mm-wrapper_background body {
  background-color: $white;
}

.mm-wrapper_opening .toolbar-tray-open.toolbar-fixed.toolbar-vertical,
.mm-wrapper_opened .toolbar-tray-open.toolbar-fixed.toolbar-vertical {
  margin-left: 0;
}

.off-canvas-wrapper {
  display: block;
}

.no-js .off-canvas-wrapper {
  display: none;
}

.responsive-menu-toggle {
  display: inline-block;
}

.block-responsive-menu-toggle {
  position: absolute;
  top: 15px;
  right: 30px;
}

.responsive-menu-toggle-icon {
  display: block;
  width: 28px;
  height: 35px;
  z-index: 3;
  margin-top: 0;
  position: relative;
  overflow: hidden;
  background: none;
  border: none;
}
.responsive-menu-toggle-icon a {
  padding: 35px 44px;
  z-index: 4;
}
.no-js .responsive-menu-toggle-icon {
  display: none;
}

.responsive-menu-toggle-icon span.label {
  display: none;
}

.responsive-menu-toggle-icon:before,
.responsive-menu-toggle-icon:after,
.responsive-menu-toggle-icon span.icon {
  content: '';
  background: $blue-100;
  display: block;
  width: 18px;
  height: 2px;
  position: absolute;
  top: 0;
  right: 0;
}

.responsive-menu-toggle-icon:before {
  top: 8px;
}

.responsive-menu-toggle-icon span.icon {
  top: 15px;
  width: 10px;
}

.responsive-menu-toggle-icon:after {
  top: 22px;
}

.responsive-menu-toggle-icon:before,
.responsive-menu-toggle-icon:after,
.responsive-menu-toggle-icon span.icon {
  transition: none 0.4s ease-out 0.1s;
  transition-property: -webkit-transform, top, bottom, left, opacity;
  transition-property: transform, top, bottom, left, opacity;
}

.mm-wrapper_opening .responsive-menu-toggle-icon:before,
.mm-wrapper_opening .responsive-menu-toggle-icon:after {
  top: 14px;
}

.mm-wrapper_opening .responsive-menu-toggle-icon span.icon {
  left: -25px;
  opacity: 0;
}

.mm-wrapper_opening .responsive-menu-toggle-icon:before {
  transform: rotate(45deg);
}

.mm-wrapper_opening .responsive-menu-toggle-icon:after {
  transform: rotate(-45deg);
}

.mm-menu a,
.mm-menu a,
.mm-menu a,
.mm-menu a,
.mm-menu a:visited {
  color: $blue-100;
  @include font-gotham-bold;
}

.mm-menu_theme-white .mm-navbar .nav-link {
  color: $blue-100;
}

.mm-menu_theme-white .mm-listview .mm-btn_next:after,
.mm-menu .mm-btn:before {
  border-color: $blue-100;
}

.mm-menu .cta-button:hover {
  color: #fff;
}

.mm-navbar {
  left: 20px;
  right: 20px;
  height: 60px;
}

.mm-btn {
  height: 14px;
}

.mm-tabstart,
.mm-tabend {
  display: none;
}

.mobile-menu-mm-btn-prev {
  position: absolute;
  outline: none;
  left: -20px !important;
  width: 40px;
  height: 14px;
  top: 21px;

  a {
    outline: none;
  }
}

.mm-panels >.mm-panel >.mm-navbar +.mm-listview {
  margin-top: 0;
}

.mm-navbar button {
  border: none;
  background: transparent;
  overflow: visible;
}

.mm-panel_has-navbar {
  padding-top: 60px;
}

.mm-listitem {
  border: none;

  &:after{
    border: 0;
    border-bottom: 1px solid #ccc;
  }
}

.mm-listitem a {
  color: $blue-100;
  &:before {
    display: none;
  }
}

.mm-panel > nav {
  margin: 0 -20px;
}

.mm-panels,
.mm-panels> .mm-panel,
.mm-panel:not(.mm-hidden) {
  background: white;
}

.mm-panels > .mm-panel > nav > .mm-listview {
  margin-bottom: 2rem;
}

.mm-listitem {
  padding: 12px;

  @include mq($from: desktop) {
    padding: 0;
  }
}

.mm-listitem .mm-btn_next {

  &:before{
   display: none;
  }
}

.mm-listitem .mobile-menu-mm-btn-next {
  width: 50px;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 3;
  background: transparent;
  border: none;
  overflow: visible;
  height: 100%;
}

.mm-listitem > .a,
.mm-listitem > .nav-link {
  padding-top: 20px;
  padding-bottom: 20px;
}

.mm-listitem:after {
  border-bottom-width: 1px;
  right: 20px;
  left: 20px;
}

.mm-panel:after,
.mm-panel:before {
  display: none;
}

.mm-navbar {
  padding-top: 10px;
  padding-bottom: 20px;
  border-bottom: 2px solid;
  border-color: $grey-200;
}

.mm-menu_theme-white .mm-listview .nav-link:not(.mm-btn_next) {
  font-size: 1rem;
  padding: 10px 0;
  margin-left: 10px;
  display: inline-block;
  text-decoration: underline;

  @include mq($from: desktop) {
    padding: inherit;
    margin: 0;
    display: inherit;
    border: none;
  }
}

.mm-menu_theme-white .mm-listview h2.nav-link:not(.mm-btn_next),
.mm-menu_theme-white .mm-listview h3.nav-link:not(.mm-btn_next),
.mm-menu_theme-white .mm-listview h4.nav-link:not(.mm-btn_next) {
  padding: 0;
  margin: 0;
  width: calc(100% - 50px);
  color: $blue-100;

  a {
    display: block;
  }

  @include mq($from: desktop) {
    padding: 0;
    margin: 0;
  }
}


// nm-menu needs a anchor direct child of the menu levels
.mm-menu_theme-white .mm-listview a.hidden {
  display: none !important;
  opacity: 0;
}

.mm-listitem__btn:not(.mm-listitem__text) {
  border: 0;
}

.mm-navbar__title {
  display: block;
  position: absolute;
  top: 7px;
  left: 0;
  width: 69px;
  height: 46px;
  text-indent: -999em;
  background-image: url(../assets/images/logo.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.mm-panels .mm-panel:not(:first-child) .mm-navbar__title {
  display: block;
  position: relative;
  color: $blue-100;
  top: unset;
  left: unset;
  width: auto;
  height: auto;
  text-indent: 0;
  background-image: none;
}
