header {
  position: relative;
}

.nav-main {
  display: block;
  margin-left: auto;
  margin-right: 3rem;

  @include mq($from: tablet) {
    margin-right: 2rem;
  }
}

.nav-main .menu {
  list-style-type: none;
}

.nav-main .menu-level-1 > .menu-item {
  @include mq($from: tablet) {
    padding: 0 1.5rem;
    margin-bottom: 1rem;
  }
}

.nav-main > .menu-level-0 > .menu-item {
  display: none;

  @include mq($from: tablet) {
    display: inline-block;
    height: 5rem;
    line-height: 7;
    padding: 0 1.25rem;

    &:not(.nav-search):hover > .nav-link {
      color: $white;
    }

    &:not(.nav-search):hover > h2 .nav-link {
      color: $white;
    }

    &:not(.nav-search):hover > .nav-link:before {
      height: 80px;
    }

    &:not(.nav-search):hover > .nav-link.is-active:before {
      height: 80px;
    }

    &[aria-expanded="true"] > .nav-link {
      color: $white;
    }

    &[aria-expanded="true"] > h2 .nav-link {
      color: $white;
    }

    &[aria-expanded="true"] > .nav-link:before {
      top: 0 !important;
    }

    &:first-child {
      padding-left: 0;
    }
  }
}

.nav-main > .menu-level-0 > .menu-item:not(.nav-search) > .nav-link,
.nav-main > .menu-level-0 > .menu-item:not(.nav-search) > h2 .nav-link {
  display: block;
  position: relative;
  font-size: 0.6875rem;
  transition: color 0.25s;
  font-family: inherit;
  line-height: inherit;
  font-style: inherit;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: -8px;
    width: calc(100% + 1rem);
    height: 0;
    background-color: $blue-100;
    z-index: -1;
    transition: height 0.25s;
  }

  &.is-active:before {
    top: 0;
    height: 8px;
    opacity: 1;
    transition: height 0.25s;
  }
}

.nav-main > .menu-level-0 > .menu-item > .nav-link {
  display: block;
  font-weight: bold;
  text-transform: uppercase;
}

// Mega Drop

.nav-main > .menu-level-0 > .menu-item--expanded > .menu-dropdown {
  display: flex;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  z-index: 1;
  top: 100%;
  transform: translateY(-1em);
  left: 0;
  right: 0;
  padding: 3rem 2rem;
  font-size: 0.9rem;
  line-height: 1.5;
  background-color: #fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
  transition: all 0.25s ease-in-out 0s, opacity 0.25s, z-index 0s linear 0.01s;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;

  @include mq($from: desktop) {
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
  }
}


.nav-main > .menu-level-0 > .menu-item--expanded > .menu-dropdown.visible {
  opacity: 1;
  visibility: visible;
}


.nav-main > .menu-level-0 > .menu-item--expanded:hover .menu-dropdown {
  visibility: visible;
  transform: translateY(0%);
  transition: opacity 0.4s;
}

.nav-main  .menu-level-1 {
  display: flex;
  padding-left: 1.5rem;
  width: calc(100% - 25rem);

  @include mq($from: tablet) {
    padding-left: 0;
    flex-wrap: wrap;
  }
}

.nav-main  .menu-level-1 .field-name-field-menu-content {
  border: none;
}

.nav-main .sub-nav + .field-name-field-menu-content {
  width: 100%;
  margin: 2rem 2rem 0 3rem;
  padding: 3rem 0 0 0;
  border-top: 1px solid $grey-200;

  @include mq($from: tablet) {
    width: 22rem;
    padding: 0 0 0 3rem;
    margin: 0;
    border-left: 1px solid $grey-200;
    border-top: none;
  }
}

.nav-main .sub-nav + .field-name-field-menu-content .paragraph--type--menu-content {
  width: 100%;
}

.nav-main .menu-level-2 > .menu-item {
  display: block;
  margin-bottom: 1rem;
}

.nav-main .menu-level-1 > .menu-item > .nav-link {
  display: inline-block;
  margin-bottom: 1rem;
  @include font-gotham-bold;
  white-space: nowrap;
  font-family: inherit;
  line-height: inherit;
  font-style: inherit;
}

.nav-main .menu-level-1 > .menu-item > .nav-link,
.nav-main .menu-level-2 > .menu-item > .nav-link,
.nav-main .menu-level-1 > .menu-item > h3 .nav-link,
.nav-main .menu-level-2 > .menu-item > h4 .nav-link {
  position: relative;
  font-family: inherit;
  line-height: inherit;
  font-style: inherit;
  font-size: 14.4px;

  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    bottom: -2px;
    background-color: $blue-100;
    pointer-events: none;
    transition: bottom 0.2s;
  }

  &:hover:before {
    bottom: 0;
  }
}

.nav-main .menu-level-1 > .menu-item > h3.nav-link,
.nav-main .menu-level-2 > .menu-item > h4.nav-link {

  &:before,
  &:after {
    display: none;
  }
}

// Search Icon
.nav-main > .menu-level-0 > .menu-item.nav-search {
  display: block;
  height: 60px;
  line-height: 1;
  padding: 0 20px;
  vertical-align: top;

  @include mq($from: tablet) {
    display: inline-block;
    height: 80px;
    line-height: 80px;
    padding: 0 20px;
    vertical-align: baseline;
  }

}

.nav-main > .menu-level-0 > .menu-item.nav-search h2 {
  display: block;
  position: relative;
  font-size: 3rem;

  @include mq($from: tablet) {
    font-size: 11px;
  }
}

.nav-main > .menu-level-0 > .menu-item.nav-search a {
  display: inline-block;
  width: 15px;
  height: 15px;
  text-indent: -999rem;
  background: url('../assets/images/icon-search-blue.svg') no-repeat;
  background-size: 15px;
  vertical-align: middle;
}

.nav-main .menu-item .nav-link.hidden {
  display: none !important;
}