.notification-bar {
  bottom: 0;
  width: 100%;
  z-index: 100;
  box-shadow: 0 -1px 5px 0 rgba(0, 0, 0, 0.26);
  color: $white;
  justify-content: space-between;
  flex-direction: row;
  max-height: 0;
  transition: all 1.25s ease-in-out;
}

.notification-bar.visible {
  display: flex;
  max-height: 500px;
  transition: all 0.75s ease-in-out;
}

.notification-bar:not(.visible) {
  opacity: 0;
}

.notification-bar.alert-normal {
  background: $grey-400;
}

.notification-bar.alert-highlight {
  background: $blue-100;
}

.notification-bar.alert-critical {
  background: $orange;
}

.notification-bar .field-type-link {
  padding: 0.5rem 0 0;
}

.notification-bar-wrapper {
  width: 100%;
  padding: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.notification-bar-body {
  width: calc(100% - 2rem - 25px);
  line-height: 1.25;
  font-size: 0.85rem;

  @include mq($from: tablet) {
    font-size: 0.9rem;
  }
}

.notification-bar-body p a,
.notification-bar-body a {
  position: relative;
  color: $white;
  transition: all 0.25s ease;

  &:before {
    content: '';
    display: block;
    background: $white;
    height: 1px;
    width: 100%;
    position: absolute;
    bottom: -2px;
    right: 0;
    transition: all 0.25s ease;
  }
}

.notification-bar-body p a:hover,
.notification-bar-body a:hover {

  &:before {
    bottom: 0;
    transition: all 0.25s ease;
  }
}

.notification-bar .close-btn {
  margin: 0;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 20px;
  height: 20px;
}

.notification-bar .close-btn span {
  width: 25px;
  height: 2px;
  margin-bottom: 5px;
  position: relative;
  background: $white;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0;
  transition: all 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
  text-align: left;
}

.notification-bar .close-btn span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 2px);
  width: 21px;
}

.notification-bar .close-btn span:nth-child(2) {
  transform-origin: 0% 0%;
  transform: rotate(-45deg) translate(-6px, 8px);
  width: 21px;
}

.notification-bar .close-btn:hover {
  transform: rotate(360deg);
  transition: all 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
  cursor: pointer;

  span {
    background: $blue-400;
  }
}
