.quick-access-ribbon {
  z-index: 5;
  color: $white;
  @include font-gotham-bold;
}

.quick-access-ribbon .ribbon_cta {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 4;
  height: 60px;
  width: 100%;
  line-height: 60px;
  vertical-align: top;
  font-size: 16px;
  border-top: 2px solid $white;
  background-color: $blue-100 !important;
  padding: 0 26px;
  transform: translate3d(0, 0, 0);

  @include mq($from: tablet) {
    padding: 0 40px;
  }

}

.quick-access-ribbon .ribbon_cta strong {
  font-weight: 800;
}

.quick-access-ribbon .ribbon_cta__text {
  color: white;
  font-family: inherit;
  display: none;
  @include mq($from: tablet) {
    display: inline-block;
  }
}

.quick-access-ribbon .ribbon_cta__text  p {
  display: inline-block;
  font-weight: 400;
}

.quick-access-ribbon .ribbon_cta__text  .separator {
  font-family: inherit;
  opacity: 0;
  padding: 0 5px;
  font-size: 1.2rem;
  font-weight: 400;
  @include mq($from: desktop) {
    display: inline-block;
    padding: 0 20px;
    opacity: 1;
  }
}

.quick-access-ribbon .ribbon_cta__button {
  display: inline-block;
  float: right;
  width: 100%;
  @include mq($from: tablet) {
    width: auto;
  }
}

.quick-access-ribbon .ribbon_cta__button a {
  font-family: inherit;
  border-radius: 2px;
  color: white;
  cursor: pointer;
  transition: background-color 0.25s;
  display: block;
  text-align: center;
  border: none;
  padding: 0;

  @include mq($from: tablet) {
    padding: 12px;
    display: inline;
    border: 1px solid white;
  }

  &:before {
    display: none;
  }

  &:hover {
    color: $blue-100;
    background-color: $white;
    border-color: $white;
  }
}
