//search
.page--search .block-facets-ajax,
.page--search .main-content-block {
  @include contain;
}

.page--search .main-content-block {
  padding-bottom: 3rem;
}

.page--search .facets-widget-links {
  padding: 2rem 0;
}

.page--search .views-exposed-form {
  background-color: $grey-100;
  padding: 2rem 0;
  margin: 2rem 0 0;
  position: relative;

  @include mq($from: tablet) {
    padding: 3rem 0;
  }
}

.page--search .views-exposed-form .js-form-type-textfield {
  @include contain;
}

.page--search .views-exposed-form .form-actions {
  position: absolute;
  right: 1.875rem;
  top: 25%;

  @include mq($from: tablet) {
    right: 18.5%;
    top: 28%;
  }

  .form-submit {
    background: transparent url(../assets/images/icon-search-blue.svg) no-repeat;
    background-size: 2.813rem;
    width: 2.813rem;
    height: 2.813rem;
    border: 0;
    text-indent: -9999rem;
    cursor: pointer;

    @include mq($from: tablet) {
      background-size: 4.375rem;
      width: 4.375rem;
      height: 4.375rem;
    }
  }
}

.page--search .views-exposed-form .form-text {
  background: transparent;
  outline: none;
  border: 0;
  border-bottom: 1px solid $grey-800;
  font-size: 2.25rem;
  width: 100%;
  padding-right: 3.125rem;

  @include mq($from: tablet) {
    font-size: 4rem;
    padding-right: 4.375rem;
  }
}

.page--search .item-list__links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

.page--search .item-list__links .facet-item {
  margin: 0 0.5rem 0.5rem 0;

  @include mq($from: tablet) {
    margin: 0 0.5rem 0 0;
  }

  &.allFilter {
    max-width: 100px !important;
    opacity: 1 !important;
    margin: 0 0.5rem 0.5rem 0 !important;
    transition: 0.5s all ease;
    @include mq($from: tablet) {
      margin: 0 0.5rem 0 0 !important;
    }
  }
}

.page--search .facet-item__count,
.page--search .facet-item__status {
  display: none;
}

.page--search .item-list__links a {
  @include cta-button;

  &.is-active {
    background-color: $blue-100;
    color: $white;
  }
}

.page--search .main-content-block header {
  margin: 0 0 2rem;
}

.page--search .views-infinite-scroll-content-wrapper .views-row {
  border-bottom: 1px solid $grey-300;
  padding: 0 0 2rem;
  margin: 0 0 2rem;

  .views-field-title {
    @include font-gotham-book;
    font-size: 1.5rem;
    margin: 0 0 1rem;
  }

  .views-field-search-api-excerpt strong {
    color: $blue-100;
  }

  a {
    display: inline-block;
    margin: 1rem 0 0 1rem;
  }

  a:before {
    display: none;
  }
}

.page--search .js-pager__items {
  margin: 0;
  list-style: none;
}

.page--search .pager__item a {
  @include cta-button;
  width: 100%;
  margin: 2rem 0;
}

.global-search-empty-text-top-searches ul {
  column-count: 2;
  column-gap: 1.25rem;
}
