// Tables

table {
  width: 100%;
  margin: 0 0 2em;
}

th,
td {
  border: 1px solid $grey-400;
  padding: 0.5em 1em;
}

tr {

  &:nth-child(even) {
    background-color: $grey-200;
  }
}

th {
  background: $grey-600;
  color: $white;
  border: 1px solid $grey-600;
  font-weight: bold;
}
