.page--user--password .user-pass {
  @include contain;
  padding: 3rem 2rem;

  @include mq($from: tablet) {
    padding: 5rem 2rem;
  }
}

.page--user--password .user-pass .form-item {
  @include font-gotham-book;
}

.page--user--password .user-pass .intro-text {
  padding-bottom: 2rem;
}

.page--user--password .user-pass .form-item h1 {
  @include font-gotham-book;
  font-size: 2.5rem;
  letter-spacing: -3px;

  @include mq($from: tablet) {
    padding-bottom: 3rem;
    font-size: 3rem;
    letter-spacing: -3px;
  }

  @include mq($from: desktop) {
    line-height: 1.3;
    font-size: 5.2rem;
    padding-bottom: 3rem;
    letter-spacing: -6.3px;
    word-spacing: -3px;
  }
}

.page--user--password .user-pass .intro-text p {
  font-size: 1.2rem;

  @include mq($from: tablet) {
    font-size: 1.585rem;
    letter-spacing: -1.3px;
  }
}

.page--user--password .user-pass .form-item hr {
  height: 2px;
  background: black;
}

.page--user--password .user-pass .form-item-name {
  padding-bottom: 1rem;
}

.page--user--password .user-pass .form-item-name label {
  display: none;
}

.page--user--password .user-pass .form-item-name input {
  @extend .general-text-input;
  background: $white;
  max-width: 600px;
}

.page--user--password .user-pass .recover-error,
.page--user--password .user-pass .form-item-name,
.page--user--password .user-pass .form-actions {
  @include mq($from: tablet) {
    margin-left: 5.85rem;
  }
}

.page--user--password .user-pass .form-actions {
  padding-bottom: 2rem;
}

.page--user--password .user-pass .form-actions input {
  background: $white;
  max-width: 600px;
  display: block;
  min-width: 100%;

  @include mq($from: tablet) {
    display: inline-block;
    min-width: initial;
  }
}

.page--user--password .user-pass .recover-error {
  padding-bottom: 2rem;
  letter-spacing: -0.3px;
}

.page--user--login .user-login-form {
  @include contain;
  padding: 3rem 2rem;

  @include mq($from: tablet) {
    padding: 5rem 2rem;
  }
}

.page--user--login .user-login-form .form-item p {
  font-size: 1.2rem;

  @include mq($from: tablet) {
    font-size: 1.585rem;
    letter-spacing: -1.3px;
  }
}

.page--user--login .form-item h4 {
  @include font-gotham-book;
  border-bottom: 2px solid $grey-400;
  font-size: 2.5rem;
  padding-bottom: 2rem;
  letter-spacing: -3px;

  @include mq($from: tablet) {
    padding-bottom: 3rem;
    font-size: 3rem;
    letter-spacing: -3px;
  }

  @include mq($from: desktop) {
    line-height: 1.3;
    font-size: 5.2rem;
    padding-bottom: 3rem;
    letter-spacing: -6.3px;
    word-spacing: -3px;
  }
}

.page--user--login .user-login-form .form-item {
  @include font-gotham-book;
  padding-bottom: 2rem;
}

.page--user--login .user-login-form label,
.page--user--login .user-login-form .description {
  display: none;
}

.page--user--login .user-login-form .form-item input {
  @extend .general-text-input;
  background: $white;
  max-width: 600px;
}

.page--user--login .user-login-form .form-actions {
  padding-bottom: 2rem;
}

.page--user--login .user-login-form .form-actions input {
  @include cta-button;
  background: $white;
  max-width: 600px;
  display: block;
  min-width: 100%;

  @include mq($from: tablet) {
    display: inline-block;
    min-width: initial;
  }
}

// Edit user
.page--user--edit .main-content {
  @include contain;
  padding: 1rem 0;

  @include mq($from: tablet) {
    padding: 2rem 0;
  }

  .page-title {
    @include contain;

    @include mq($from: tablet) {
      width: 100%;
    }
  }

  .user-form {
    @include contain-only;

    @include mq($from: tablet) {
      width: 100%;
    }

    > .form-wrapper {
      margin: 1rem 0;
    }

    // hide arrow
    .form--details-custom .collapsible {
      @include font-gotham-bold;

      > span {
        display: none;
      }
    }
  }

  .form-item-preferred-langcode,
  .form-item-timezone {
    flex-direction: column;
  }

  .museum-dashboard {
    width: 100%;
  }
}

.page--user,
.page--registry,
.page--dashboard,
.page--profile {
  h1.page-title {
    margin: 2.5rem 0;
    font-size: 3rem;

    @include mq($from: mobile) {
      font-size: 4rem;
    }
  }
}
