
/* Set mq breakpoints as on the bootstrap 4 theme
-------------------------------------------------*/

// To enable support for browsers that do not support @media queries,
// (IE <= 8, Firefox <= 3, Opera <= 9) set $mq-responsive to false
// Create a separate stylesheet served exclusively to these browsers,
// meaning @media queries will be rasterized, relying on the cascade itself
$mq-responsive: true;

// Name your breakpoints in a way that creates a ubiquitous language
// across team members. It will improve communication between
// stakeholders, designers, developers, and testers.
$mq-breakpoints: (
xs:  320px,
sm:  $breakpoint_sm,   //  560px,
md:  $breakpoint_md,    //  768px,
lg:  $breakpoint_md,    //  992px;
xl:  $breakpoint_xl,     //  1200px,
);
// Define the breakpoint from the $mq-breakpoints list that should
// be used as the target width when outputting a static stylesheet
// (when $mq-responsive is set to 'false').
$mq-static-breakpoint: xl;

// If you want to display the currently active breakpoint in the top
// right corner of your site during development, add the breakpoints
// to this list, ordered by width. For example: (mobile, tablet, desktop).
$mq-show-breakpoints: (xs, sm, md, lg, xl);

// If _mq.scss is in your project:
@import '../vendor/mq';


/* Override Boostrap 4 breakpoints and container class style
-------------------------------------------------*/

$grid-breakpoints: (
  xs: 0,
  sm  : $breakpoint_sm,
  md  : $breakpoint_md,
  lg  : $breakpoint_lg,
  xl  : $breakpoint_xl
) !default;


$container-max-widths: (
  //sm: 540px,
  //md: 720px,
  //lg: 960px,
  //xl: 1140px
  sm  : $breakpoint_sm,
  md  : $breakpoint_md,
  lg  : $breakpoint_lg,
  xl  : $breakpoint_xl
) !default;


.container {
  width: 100%;
  margin: auto;
  @include mq($from: $breakpoint_sm) {
    max-width: 1480px !important;
    margin: auto;
  }

  @include mq($from: $breakpoint_md) {
    max-width: 1480px !important;
    margin: auto;
  }

  @include mq($from: $breakpoint_lg) {
    max-width: 1480px !important;
    margin: auto;
  }

  @include mq($from: $breakpoint_xl) {
    max-width: 1480px !important;
    margin: auto;
  }
}

.navbar-expand-md .navbar-toggler {
  display: block;
  @include mq($from: $breakpoint_lg) {
    display: none;
  }
}

