
.hero--block-page {
  background: #eee url('../images/banner/main-banner.jpg') no-repeat;
  background-size: cover;
  background-position: center;
}

.block--title h2 {
  font-size: 42px;
  font-family: $calibri;
  font-weight: bold;
  font-variant: Small-Caps;
  color: $blue-006;
  line-height: 42px;
  padding: 13px 0 15px 0;
  margin: auto;
}

.block--title-secondary h2 {
  text-align: center;
  font-size: 30px;
  font-variant: Small-Caps;
  font-family: $calibri;
  font-weight: bold;
  color: $green-001;
  line-height: 30px;
  padding: 14px 0 15px 0;
  margin: 0;
}

.hero-block-banner-wrapper {
  background: #eee url('../images/banner/main-banner.jpg') no-repeat;
  background-size: inherit;
  background-position: left 39%;

  @include mq($from: $breakpoint_lg) {
    background: none;
  }
}

/* Hero Banner Custom BLock
--------------------------------------------------*/
#banner {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include mq($from: $breakpoint_md) {
    height: calc(30vh + 80px);
  }

}

#banner img {
  display: none;
}

#banner.active #welcometitle {
  opacity: 1;
  padding: 0;
  margin-top: 0;
  transform: translateY(0);
}

#welcometitle {

  transform: translateY(-150px);
  opacity: 0;
  padding-right: 50px;
  margin-top: -20px;
  font-style: italic;
  width: 100%;
  z-index: 100;
  font-size: 22px;
  text-align: center;
  color: $blue-006;
  text-transform: uppercase;
  -webkit-transition: all 925ms ease-out;
  transition: all 925ms ease-out;
  line-height: 22px;

  h3 {
    font-size: inherit;
    color: inherit;
  }

}

#banner.active #welcometitlerdn {
  opacity: 1;
  padding: 0;
  transform: translateX(0);
}

#welcometitlerdn {
  transform: translateX(50px);
  opacity: 0;
  padding-left: 50px;
  width: 100%;

  margin: 0;
  font-family: $calibri;
  z-index: 100;
  text-align: center;
  font-weight: bold;
  color: $blue-006;
  text-transform: uppercase;
  transition: all 1225ms ease-out;

  h1 {
    font-size: 30px;
    line-height: 30px;
    font-weight: bold;
    color: inherit;

    @include mq($from: $breakpoint_md) {
      font-size: 40px;
      line-height: 40px;
    }
  }
}

/* Regional Services Custom BLock
--------------------------------------------------*/

.regional-services-inner {
  margin: 0 auto;
  background-color: $white-ghost;
  padding-top: 40px;
  padding-bottom: 40px;
}

.regional-services-inner img {
  margin-bottom: 1rem;
}

.regional-services-inner .regionalservicesitem {
  width: 92%;
  color: $blue-006;
  font-family: $calibri;
  display: block;
  border-radius: 5px;
  font-variant: Small-Caps;
  font-weight: bold;
  padding: 10px 4%;
  text-decoration: none;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  transition: all $duration-promptly ease-out;
  margin: auto;
  height: 100%;

  &:hover {
    color: $black;
    background: $blue-ghost;
  }
}

/* Initiatives Get involved Custom BLock
--------------------------------------------------*/

.initiatives-blocks .icontent {
  color: $white;
  font-weight: bold;
  font-variant: Small-Caps;
  font-family: $calibri;
  text-align: center;
  margin: 0;
  transition: all $duration-promptly ease-out;

  > * {
    font-size: inherit;
    line-height: inherit;
    font-weight: bold;
    transition: all $duration-promptly ease-out;
    word-break: break-word;
    color: $white;
  }

  &:hover {
    > * {
      opacity: 0.5;
    }
  }
}

.initiatives-blocks a {
  text-decoration: none;
}

.initiatives-blocks .initiatives-contentinner {
  > * {
    overflow: hidden;
    &:nth-child(1) {
      .icontent {
        font-size: 50px;
        line-height: 50px;
      }
    }

    &:nth-child(2) {
      .icontent {
        font-size: 40px;
        line-height: 40px;
      }
    }

    &:nth-child(3) {
      .icontent {
        font-size: 35px;
        line-height: 35px;
      }
    }
  }

}

/* Quick Links Custom BLock
--------------------------------------------------*/

.quicklinks-block {
  background: $green-001;
  text-align: center;
  margin-bottom: 1rem;
}

.quicklinks-block h2 {
  color: $white;
  margin-bottom: 20px;
  padding-top: 10px;
  font-size: 30px;
  font-weight: bold;

}

.quicklinks-block .quicklinks-content {
  padding: 1rem;
}

.quicklinks-block .quicklinks-content a {
  display: block;
  font-size: 20px;
  line-height: 20px;
  color: $white;
  font-weight: bold;
  font-family: $calibri;
  text-align: left;
  padding: 4px 1rem 4px 1rem;
  cursor: pointer;
  transition: all 125ms ease-out;
  margin-bottom: 2px;
  text-decoration: none;
  border-radius: 5px;

  @include mq($from: $breakpoint_xl) {
    padding: 4px 1rem 4px 3rem;
    font-size: 24px;
    line-height: 24px;
  }

  &:hover {
    background-color: $black-ghost;
    color: $gray-002;
  }
}

/* Homepage hero quicklinks block
--------------------------------------------------*/
.hero-quicklinks-block {
  > *{
    height: 100%;
    background: $green-001;
  }

  @include mq($from: $breakpoint_lg) {
    margin-bottom: 18px;
  }
}

/* News and highlights homepage hero Custom BLock
--------------------------------------------------*/

.hero-block-news-and-highlights {

  @include mq($from: $breakpoint_lg) {
    margin-bottom: 18px;
  }

  > *{
    margin: auto;
    height: 100%;
    width: 100%;
    background: rgba(255,255,255,0.95);
    padding: 15px;
    @include mq($from: $breakpoint_lg) {
      border-radius: 0 5px 0 0;
    }
  }
}

.hero-block-news-and-highlights .block--title {
  color: $blue-006;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 15px;
  margin-top: 0;
}

.view-news-and-highlight .item-list {
  width: 100%;
}

.view-news-and-highlight .item-list ul li {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  padding: 2px 0;
}

.view-news-and-highlight .item-list .views-field-title {
  width: 100%;
}


.view-news-and-highlight .item-list .creation-date-wrapper {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 2px solid $gold-001;
  background: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: $green-001;
  font-size: 13px;
  font-weight: bold;
  transition: all 225ms ease-out;

  @include mq($from: $breakpoint_lg) {
    width: 50px;
    height: 50px;
  }
}

.view-news-and-highlight .item-list .creation-date-wrapper span {
  font-size: 18px;
  line-height: 13px;
  color: $blue-006;
  font-weight: normal;
  transition: all 225ms ease-out;
}

.view-news-and-highlight .item-list .title-wrapper {
  width: calc(100% - 50px);
  color: $blue-006;
  font-size: 18px;
  line-height: 18px;
  font-weight: normal;
  margin-top: 5px;
  padding-left: 10px;
  transition: all 225ms ease-out;
}

.view-news-and-highlight .item-list .title-wrapper span{
  color: $red-004;
  font-size: 14px;
  line-height: 16px;
}

.view-news-and-highlight .item-list a {
  text-decoration: none;
  padding: 4px 1%;
  width: 100%;
  border-radius: 5px;
  font-size: 18px;
  transition: all 225ms ease-out;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  &:hover {
    color: #333;
    background: rgba(0,82,147,0.1);
    transition: all 225ms ease-out;

    .creation-date-wrapper{
      border-color: $green-001;
      background: $blue-006;
      transition: all 225ms ease-out;
    }

    .creation-date-wrapper,
    .creation-date-wrapper span {
      color: $white;
      transition: all 225ms ease-out;
    }

    .title-wrapper {
      color: $black;
      transition: all 225ms ease-out;
    }
  }
}

.view-news-and-highlight nav {
  @extend .row;
}

.view-news-and-highlight .pagination {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: stretch;
  width: 100%;
}

.view-news-and-highlight .pagination .page-item {
  flex: 0 0 33.3%;
  font-weight: bold;
  transition: all 225ms ease-out;

  &:nth-child(1){
    text-align: left;
    &:hover {
      transform: translateX(7px);
      transition: all 225ms ease-out;
    }
  }

  &:nth-child(2){
    justify-content: center;
    font-weight: normal;
    text-align: center;
  }

  &:nth-child(3){
    text-align: right;
    justify-content: flex-end;
    &:hover {
      transform: translateX(-7px);
      transition: all 225ms ease-out;
    }
  }
}

.view-news-and-highlight .pagination .page-link {
  border: none;
  background: $transparent;
  color: black;

  &:focus{
    outline: none;
    box-shadow: none;
  }
}

/* Regional Landfill block
--------------------------------------------------*/
.regional-landfill-custom-block {

  .dropdown-menu {
    background: $brown-007;
    color: $brown-007;
    width: 100%;
    top: -2px !important;
    left: 0px;
    border-radius: 0;
    padding: 0;
  }

  .dropdown-item {
    color: $brown-007;
    background: $brown-007;
    border-bottom: 1px solid $brown-008;
    padding: 4px;
    white-space: normal;

    a {
      width: 100%;
      display: flex;
    }
  }
}
