
/* Calendar weeks and month view links
--------------------------------------------------*/

.rdn-date-links {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.rdn-date-links a {
  color: $blue-006;
  font-weight: bold;
  text-decoration: none;
  font-size: 18px;

  &:hover {
    color: $black;
    text-decoration: underline;
    transition: all $duration-promptly ease;
  }
}

.rdn-date-links span {
  color: $black;
  font-weight: bold;
  padding: 0 0.75rem;
}

  /* Calendar sidebar tooltip
  --------------------------------------------------*/
.rdn-qtips {
  padding: 12px 8px;
  font-family: $calibri;
  font-weight: 200;
  font-size: 14px;
  color: $white;
  transform: translateZ(150px);
  background: $black;

  .qtip-content {
    padding: 0 10px;
  }

  ul {
    list-style: none;
    padding: 5px;
    margin: 0;

    li {
      position: relative;
      color: $white;
    }

    li:before {
      content: "-";
      position: absolute;
      top: 50%;
      left: -7px;
      transform: translateY(-50%);
    }
  }
}

/* Calendar sidebar day style
--------------------------------------------------*/

.calendar--entity.block_event_peer_month_grid_sidebar {
  background: rgba(255, 255, 255, 0.5);
  padding: 5px 15px 15px 15px;
  border-radius: 5px;
}

.block_event_peer_month_grid_sidebar .fc-center {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.block_event_peer_month_grid_sidebar .fc-center h2 {
  margin: 0;
  border: none;
  padding: 0;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
}

.block_event_peer_month_grid_sidebar .fc-center button {
  border: none;
  background: $transparent;
  outline: none;
  box-shadow: none;
}

.block_event_peer_month_grid_sidebar .fc-prev-button {
  padding-left: 0;
}

.block_event_peer_month_grid_sidebar .fc-next-button {
  padding-right: 0;
}

.block_event_peer_month_grid_sidebar .fc-right {
  display: none;
}

.block_event_peer_month_grid_sidebar .fc-widget-content {
  background-color: #E6E5D8;
  border-color: rgba(255,255,255,0.5);
}

.block_event_peer_month_grid_sidebar .fc-widget-content > .fc-day-grid-container {
  overflow-x: visible !important;
  overflow-y: hidden !important;
  height: 100% !important;

  @include mq($from: $breakpoint_lg) {
    overflow-x: visible !important;
    overflow-y: visible !important;
  }
}

.block_event_peer_month_grid_sidebar .fc-widget-header {
  padding-bottom: 5px;
}

.block_event_peer_month_grid_sidebar .fc-widget-header,
.block_event_peer_month_grid_sidebar .fc-widget-header .fc-day-header {
  border-color: $transparent;
  font-weight: bold;
  font-size: 14px;
}


.block_event_peer_month_grid_sidebar .fc-body .fc-row {
  min-height: 46px;
  max-height: 46px;
}

.block_event_peer_month_grid_sidebar .fc-event {
  font-size: 0;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 0;
  margin: 1px;
  transition: all $duration-promptly ease;
  max-height: calc(46px - 2px);
  overflow: hidden;
  //@include mq($from: $breakpoint_lg) {
  //  max-height: inherit;
  //}

  &:hover {
    transition: all $duration-promptly ease;
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.block_event_peer_month_grid_sidebar .fc-event .fc-content {
  padding: 72% 0;
}

.block_event_peer_month_grid_sidebar .fc-content-skeleton tbody {
  // Hide all table rows but the first one
  tr:first-child {
    display: table-row;
  }

  tr {
    display: none;
  }
}

.block_event_peer_month_grid_sidebar thead .fc-day-top a,
.block_event_peer_month_grid_sidebar thead .fc-day-top span {
  height: 0;
  text-align: center;
  width: 100%;
  transform: translateY(11px);
  padding: 0;
}



/* Calendar page
--------------------------------------------------*/

.block_event_peer_month_grid_page_block .fc-right {
  display: none;
}

.block_event_peer_month_grid_page_block .fc-header-toolbar{
  display: inline-block;
  width: 100%;
}

.block_event_peer_month_grid_page_block .calendar-date-form:not(.hidden) {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.block_event_peer_month_grid_page_block .calendar-date-form select {
  width: 130px;
  height: 30px;
}

.block_event_peer_month_grid_page_block .fc-center {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.block_event_peer_month_grid_page_block .fc-center h2{
  font-size: 28px;
  line-height: 28px;
  color: $black;
  font-family: $calibri;
  font-weight: bold;
}

.block_event_peer_month_grid_page_block .fc-center button{
  outline: none;
  background: $black;
  color: $white;
}

.block_event_peer_month_grid_page_block .fc-day-header {
  text-transform: uppercase;
  font-weight: 400;
  padding: 10px 0;
}

.block_event_peer_month_grid_page_block .fc-day-top{
  background: rgba(230,229,216,0.4) !important;
  border: 1px solid #fff !important;
}

.block_event_peer_month_grid_page_block .fc-day-header .fc-day-number {
  float: left !important;
}

.block_event_peer_month_grid_page_block tbody .fc-event-container .fc-event {
  border-radius: 0;
  border: none;
  margin-right: 0;
  padding-right: 0;
  margin-bottom: 2px;
}

.block_event_peer_month_grid_page_block tbody .fc-event-container .fc-event .fc-content {
  background: $white;
  color: $black;
  padding-left: 8px;
  margin-left: 3px;
  font-family: $calibri;
  font-weight: bold;
  text-decoration: none;
  font-size: 16px;
  line-height: 16px;
  white-space: normal;
  overflow: visible;

  &:hover {
    transition: all $duration-promptly ease;
    text-decoration: underline;
  }
}

.block_event_peer_month_grid_page_block tbody .fc-event-container .fc-event .fc-content span{
  background: $white;
  color: $black;
  font-family: $calibri;
  font-weight: bold;
  text-decoration: none;
  font-size: 16px;
  line-height: 16px;
}

.block_event_peer_month_grid_page_block tbody .fc-event-container .fc-event .fc-content .fc-time {
  display: none;
}

.calendar-grid-page {
  min-width: 100%;
}


.block_event_peer_month_grid_page_block .fc-list-view .fc-list-item-time,
.block_event_peer_month_grid_page_block .fc-list-view .fc-list-item-marker {
  display: none !important;
}

.block_event_peer_month_grid_page_block .fc-list-view .fc-list-heading{
  border: none;
}

.block_event_peer_month_grid_page_block .fc-list-view .fc-list-heading .fc-widget-header{
  background: white;
  border-color: white !important;
}

.block_event_peer_month_grid_page_block .fc-list-view .fc-list-heading .fc-list-heading-alt{
  display: none;
}

.block_event_peer_month_grid_page_block .fc-list-view .fc-list-item-title {
  background: $white;
  margin-left: 6px;
  padding-left: 10px;
  width: calc(100% - 30px);
  display: inline-block;
  border: none;
  &:hover {
    transition: all $duration-promptly ease;
    background-color: $white;
  }
}

.block_event_peer_month_grid_page_block .fc-list-view .fc-list-item-title a {
  display: block;
}

.block_event_peer_month_grid_page_block .fc-list-view {
  border-color: $white;
}

/* Calendar on homepage block
--------------------------------------------------*/
.hero-block-calendar {
  background: rgba(230,229,216,0.95);
  padding: 0;

  @include mq($from: $breakpoint_lg) {
    margin-bottom: 18px;
  }

  > *{
    width: calc(100% - 40px);
    margin: auto;
  }

  .calendar-grid-sidebar {
    margin-bottom: 18px;
  }
}

.hero-block-calendar .views-element-container > h2{
  color: $blue-006;
  font-size: 24px;
  text-align: center;
  font-weight: bolder;
  margin-top: 16px;
  text-transform: uppercase;
}
