/* Hero Banner
--------------------------------------------------*/
.events--hero-block {
  background: $gray-002 url('../images/banner/photo120_lrg.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  height: 400px;
}

/* Calendar navigation
--------------------------------------------------*/
.calendar-nav {
  margin: 0 -15px;
  margin-bottom: 15px;
}

.calendar-nav .nav--date-range {
  font-size: 20px;
  font-weight: bold;
  color: $gray-007;
  margin: 0;
}

.calendar-nav a {
  background: $black;
  border: 2px solid $black;
  border-radius: 5px;
  outline: none;
  box-shadow: none;
  padding: 0;
  margin: 0;
  height: 35px;
  width: 35px;
  display: flex;
  transition: all $duration-promptly ease;
  position: relative;
  color: $transparent;

    &:before {
      content: '';
      top: calc(50% - 6px - 3px);
      left: 50%;
      padding: 6px;
      position: absolute;
      border: solid $white;
      border-width: 0 3px 3px 0;
      display: inline-block;
      transform: rotate(-45deg) translate(-50%, -50%);
      transition: all $duration-promptly ease;
    }

  &:hover,
  &:active {
    background: $white;
    border-color: $black;
    transition: all $duration-promptly ease;

    &:before {
      border-color: $green-001;
      transition: all $duration-promptly ease;
    }
  }
}

.calendar-nav .nav--prev-button:before {
  transform: rotate(135deg);
  left: calc(50% - 6px);
}

/* Calendar Tables
--------------------------------------------------*/

.block-views-blockevents-block-event-peer-week,
.block-views-blockevents-block-event-peer-day,
.block-views-blockevents-block-event-peer-month-grid-page-block {
  > h2 {
    margin: 15px 0;
    font-size: 33px;
    line-height: 33px;
    font-weight: bold;
    color: $black;
  }
}

.event--data {
  position: relative;
  padding-left: 10px;
  padding-right: 10px;

  &.red {
    background-color: lighten($red-004, 50%);
    &:before {
      background: $red-004;
    }
  }

  &.blue {
    background-color: lighten($blue-006, 50%);
    &:before {
      background: $blue-006;
    }
  }

  &.green {
    background-color: lighten($green-001, 50%);
    &:before {
      background: $green-001;
    }
  }

  &.orange {
    background-color: lighten($orange-006, 50%);
    &:before {
      background: $orange-006;
    }
  }

  &.black {
    background-color: lighten($black, 50%);
    &:before {
      background: $black;
    }
  }

  &.gray {
    background-color: lighten($gray-700, 50%);
    &:before {
      background: $gray-700;
    }
  }

  &:before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    background-color: inherit;
  }
}

.event-list {
  width: 100%;
}

.event-list .event--colum-nav {
  border-bottom: 1px solid $gold-001;
  padding: 6px 0;
}

.event-list .row--title {
  text-align: left;
  font-weight: bold;
  font-size: 20px;
  background: $gold-ghost;
  color: $gray-007;
  display: block;
  margin: 0;
  padding: 6px;
}

.view-display-id-block_event_peer_day .row--title {
  text-align: center;
}

.event-list .colm--title {
  background: $white;
  display: block;
  transform: translateZ(10px);
  text-align: left;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  color: $gray-007;
  margin: 0;
}

.event-list--day .event-list ul,
.event-list--day .event-list ol,
.event-list--day .event-list li {
  list-style: none;
  padding: 0;
}

.event-list--week .event-list ul,
.event-list--week .event-list ol,
.event-list--week .event-list li {
  list-style: none;
}

.event-list .event--data,
.event-list .event--body {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.event-list .field--item .event--title {
  margin-bottom: 10px;
  font-size: 19px;
  line-height: 19px;
  font-weight: bold;
}

.event-list .field--item {
  font-size: 16px;
  line-height: 16px;
  color: $black;
  padding-bottom: 5px;
  border-bottom: 1px solid $white;
}

.event-list > ul > li {
  margin-bottom: 2px;
  &:last-child {
    margin-bottom: 0;
  }
}

/* Calendar peer month
--------------------------------------------------*/

.event-list--month {

}

.event-list--month .view-filters {
  @extend .row;

}

.event-list--month .view-filters form {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.event-list--month .view-filters .form-row {
  font-size: 18px;
  justify-content: center;
  align-items: center;
}

.event-list--month .view-filters .js-form-item {

  label {
    display: none;
  }

  select {
    width: 130px;
    height: 30px;
  }
}

.event-list--month .view-filters .form-actions {
  button {
    background-color: $black;
    border-color: $black;
  }
}

.event-list--month a {
  color: $blue-006;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  transition: all 125ms ease-out;

  &:hover {
    color: $black;
    text-decoration: underline;
    transition: all 125ms ease-out;
  }
}

.event-list--month .table thead th {
  text-transform: uppercase;
  font-size: 18px;
  border: none;
}

.event-list--month .table th,
.event-list--month .table td {
  padding: 0.25rem 0;
}

.event-list--month .table h2 {
  margin: 0;
}

.event-list--month .chosen-container a {
  font-size: 14px;
  font-weight: normal;
  color: $black;
}

.event-list--month .view-footer {
  font-size: 18px;
}

.event-list--month .nav--date-range {
  font-size: 24px;
}