footer {
  background: url("../images/contact_holder_bg.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

.site-footer {
  padding: 0;
}

footer .site-footer__bottom .block,
footer .site-footer__bottom .content {
  margin: 0;
  padding: 0;
}

footer .content {
  padding: 0;
}

footer .social-menu {
  background: $gold-001;

}

footer .social-menu .menu-dropdown {
  text-align: center;
  padding: 15px;

  @include mq($from: $breakpoint_sm) {
    text-align: right;
  }
}

footer .social-menu .menu-dropdown a {
  padding: 0 15px;
}

footer ul,
footer ol,
footer li {
  list-style: none;
}

footer .footer-menu {
  padding: 0;
}

footer .footer-menu a {
  color: $blue-006;
  text-decoration: none;
  transition: all $duration-promptly ease;
  &:hover {
    color: $black;
  }
}

.footer-menu .menu-level-0 {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  @include mq($from: $breakpoint_lg) {
    flex-wrap: nowrap;
  }
}

.footer-menu .menu-level-0 .menu-item {

  flex: 0 0 100%;
  padding: 30px 1rem;
  border-bottom: 2px solid $gold-001;

  @include mq($from: $breakpoint_sm) {
    border-bottom: none;
    &:nth-child(1) {
      flex: 0 0 49%;
      border-right: 2px solid $gold-001;
    }

    &:nth-child(2) {
      flex: 0 0 49%;
    }

    &:nth-child(3) {
      flex: 0 0 100%;
      border-top: 2px solid $gold-001;
      border-bottom: 2px solid $gold-001;
    }
  }

  @include mq($from: $breakpoint_lg) {
    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3) {
      padding: 30px 1rem;
      flex: 0 0 33.3%;
    }

    &:nth-child(2) {
      border-right: 2px solid $gold-001;
    }

    &:nth-child(3) {
      border-bottom: 0;
      border-top: 0;
    }
  }
}

.footer-menu .menu-level-0 .menu-item > h2 {
  font-family: $calibri;
  color: $blue-006;
  margin: 15px 0;
  font-weight: bold;
  line-height: 17px;
  font-variant: Small-Caps;
  padding-left: 0;
  font-size: 26px;

  i {
    color: $green-001;
    padding-right: 10px;
    font-size: 0;

    &:before {
      font-size: 30px;
    }
  }
}

.footer-menu .menu-level-0 .contact-info,
.footer-menu .menu-level-0 .terms-info {

  padding: 30px 0;

  @include mq($from: $breakpoint_lg) {
    padding: 30px 1rem;
  }
}

.footer-menu .menu-level-0 .contact-info > h2,
.footer-menu .menu-level-0 .terms-info > h2 {
  padding-left: 15px;
  display: flex;
  margin: auto;
  flex-direction: row;
  align-items: center;
}

.footer-menu .menu-level-0 .menu-item ul {
  padding-left: 50px;
}

.footer-menu .menu-level-0 .menu-item a {
  display: block;
  word-break: break-all;
  font-weight: 600;
}

.footer-menu .contact-info li {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 0;
  font-size: 18px;
  line-height: 20px;
  font-weight: normal;
  font-family: $calibri;

  label {
    font-size: 18px;
    line-height: 20px;
    color: $green-001;
    font-weight: 600;
    flex: 0 0 30%;
  }

  label span {
    display: block;
    line-height: 20px;
    font-size: 11px;
    font-weight: normal;
  }

  > * {
    flex: 0 0 50%;
  }

  div, label {
    padding: 4px;
  }

}

.footer-menu .menu-level-0 .terms-info ul {
  font-style: italic;
}

footer .copyright {
  background: $white;
  position: relative;
  width: 100%;
  font-size: 16px;
  color: $black;
  margin: 0 auto;
  padding: 15px 2% 40px 2%;

  @include mq($from: $breakpoint_sm) {
    padding: 30px 2% 60px 2%;
  }

  @include mq($from: $breakpoint_lg) {
    border-top: 2px solid $gold-001;
  }
}

footer .copyright a {
  color: $black;
}

footer .copyright .copyright-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
