$color: lighten($white, 40%);
$contrast: $black;
$transition-duration: 0.5s;

header .menu-level-1 .nav-link-wrapper.active {
  transition: all $duration-quickly ease;
}

.menu-link-toggle[aria-expanded="true"] {
  background-color: $gray-001;
  transition: all $duration-quickly ease;

  span:nth-child(1) {
    background-color: $contrast;
    transform: rotate(-45deg);
  }

  span:nth-child(2) {
    background-color: $contrast;
    transform: rotate(-135deg);
  }

  transform: rotate(225deg);
}

.menu-link-toggle {
  display: inline-block;
  margin: auto 0 auto auto;
  width: 36px;
  height: 36px;
  border: 2px solid $transparent;
  background-color: $gray-001;
  font-size: 2px;
  border-radius: 50%;
  position: relative;
  transition: all $transition-duration ease;
  transform: translateZ(0); // Force 3D context.
  outline: none;
  box-shadow: none;
  zoom: 0.90;
  &:focus,
  &:active {
    outline: none;
    box-shadow: none;
  }

  span:nth-child(1) {
    content: "";
    display: block;
    position: absolute;
    background-color: $contrast;
    width: 80%;
    height: 6%;
    left: 10%;
    top: 47%;
    transition: all $duration-very-slowly ease;
  }

  span:nth-child(2) {
    content: "";
    display: block;
    position: absolute;
    background-color: $contrast;
    width: 6%;
    height: 80%;
    left: 47%;
    top: 10%;
    transition: all $duration-very-slowly ease;
  }
}

header .navbar .container {

  @include mq($from: $breakpoint_lg) {
    flex-direction: column;
    align-items: flex-start;
  }

}

.navbar-collapse {

  @include mq($from: $breakpoint_lg) {
    width: 100%;
  }
}

header .menu--main {
  position: relative;
  @include mq($from: $breakpoint_lg) {
    width: 100%;
  }
}

header .menu--main > .menu-level-0 {
  flex-wrap: wrap;
  padding: 0;

  @include mq($from: $breakpoint_lg) {

    position: absolute;
    background: $transparent;

    z-index: 200;
    bottom: -82px;
    width: 100%;
    justify-content: space-between;
  }

  &:first-child {
    .nav-link-wrapper {
      //back
    }
  }
}

header .menu--main > .menu-level-0 > .menu-item {

  transition: all ease $duration-promptly;

  .logo {
    border-color: $white;
  }

  > .nav-link-wrapper {
    border-radius: 25px 5px 5px 25px;
    background: $white;
    transition: all ease $duration-promptly;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0.5rem;
  }

  > .nav-link-wrapper .nav-link {
    color: $blue-006;
    font-family: $calibri;
    line-height: 18px;
    font-size: 18px;
    font-weight: bold;
    padding: 0;
    text-transform: uppercase;
    display: block;
  }

  @include mq($from: $breakpoint_lg) {
    > .nav-link-wrapper,
    > .nav-link-wrapper .nav-link {
      background: $blue-006;
      color: $white;
      padding: 0.5rem;
    }
  }

  @include mq($from: $breakpoint_xl) {
    > .nav-link-wrapper .nav-link {
      line-height: 22px;
      font-size: 22px;
    }
  }

  @include mq($from: $breakpoint_lg) {
    &.active,
    &:active,
    &:hover {

      > .nav-link,
      > .nav-link-wrapper,
      > .nav-link-wrapper .nav-link {
        transition: all ease $duration-promptly;
        background: $white;
        color: $blue-006;

        .logo {
          border-color: $blue-006;
        }
      }

      > .nav-link-wrapper .nav-link {
        color: $blue-006;
      }
    }
  }
}

header .menu--main > .menu-level-0 > .menu-item--expanded {

  > .nav-link,
  > .nav-link-wrapper {
    background: $white;
    color: $blue-006;
    font-family: $calibri;
    line-height: 18px;
    font-size: 18px;
    margin: 0;
    padding: 0.5rem;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    @include mq($from: $breakpoint_lg) {
      background: $blue-006;
      color: $white;

      .logo {
        border-color: $white;
      }
    }

    @include mq($from: $breakpoint_xl) {
      line-height: 22px;
      font-size: 22px;
      border-radius: 25px 5px 5px 25px;
    }

    &:after {
      opacity: 0;
      content: "";
    }
  }

  .logo {
    border-color: $blue-006;
  }
}

header .menu--main > .menu-level-0 > .menu-item--active-trail {

  > .nav-link,
  > .nav-link-wrapper {
    @include mq($from: $breakpoint_lg) {
      background: $white;
      color: $green-001;
    }

    .logo {
      border-color: $green-001;
    }
  }
}

header .menu--main > .menu-level-0 > .menu-item--expanded.active {

  > .nav-link,
  > .nav-link-wrapper {
    border-radius: 25px 5px 0 0;
    color: $blue-006;
    background: $white;
    position: relative;

    .logo {
      border-color: $blue-006;
    }

    &:after {
      opacity: 1;
      background: $white;
      position: absolute;
      width: 100%;
      content: '';
      display: block;
      bottom: -20px;
      height: 40px;
      left: 0px;
      z-index: -10;

      transition: all 0.20s ease-in-out 0s, opacity 0.20s, z-index 0s linear 0.01s;
    }
  }

}

header .menu--main > .menu-level-0 > .menu-item {

  flex: 100%;
  padding-bottom: 2rem;

  @include mq($from: $breakpoint_lg) {
    padding-bottom: 0;
    display: inline-block;
    flex: 0 0 24%;

    &[aria-expanded="true"] > .nav-link {
      color: $white;
    }

    &[aria-expanded="true"] > h2 .nav-link {
      color: $white;
    }

    &[aria-expanded="true"] > .nav-link:before {
      opacity: 1;
      visibility: visible;
    }
  }
}

// Mega Drop

header .menu--main > .menu-level-0 > .menu-item--expanded > .menu-dropdown {
  @include mq($from: $breakpoint_lg) {
    display: flex;
    flex-direction: column;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    z-index: 200;
    transform: translateY(-1em);
    left: 0;
    right: 0;
    font-size: 0.9rem;
    line-height: 1.5;
    background-color: $white;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
    transition: all 0.20s ease-in-out 0s, opacity 0.20s, z-index 0s linear 0.01s;
    padding: 1rem 1rem 3rem;
    border-radius: 0 0 5px 5px;
    margin-top: 8px;
    top: 127%;
    flex-wrap: nowrap;
    justify-content: flex-end;
  }

}

header .menu--main > .menu-level-0 > .menu-item--expanded > .menu-dropdown.visible {
  opacity: 1;
  visibility: visible;
}

header .menu--main > .menu-level-0 > .menu-item--expanded.active .menu-dropdown {
  visibility: visible;
  opacity: 1;
  transition: all 0.25s cubic-bezier(.50, .01, .21, .50);
}

header .menu--main > .menu-level-0 > :not(.menu-item--expanded) .menu-dropdown {
  display: none;
}

.menu--main ul,
.menu--main li,
.menu--main ol {
  list-style: none;
}

header .menu--main > .menu-level-0 > .nav-item > .nav-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 1rem;
}

header .menu-level-0 {
  display: flex;
  font-size: 1rem;
}

header .menu--main .nav-link {
  font-size: 1rem;
}

header .menu-dropdown-0 {
  h1, h2, h3, h4, h5 {
    margin: 0;
  }
}

header .menu-dropdown-0 > .menu-level-1 {
  display: flex;
  padding-left: 20px;
  flex-wrap: wrap;

  @include mq($from: $breakpoint_lg) {
    padding: 0;
    flex-direction: row;
    justify-content: space-between;

  }
}

header .menu-dropdown-0 .menu-link-level-0 {
  text-align: center;
  display: none;

  @include mq($from: $breakpoint_lg) {
    display: block;
  }
}

header .menu-dropdown-0 .menu-link-level-0 .menu-link-title {
  display: inline-block;
  margin: 0 auto;
  color: $blue-006;
  border: 0;
  display: inline-block;
  background: url("../images/icons/icon_menu.png");
  background-position: left center;
  background-repeat: no-repeat;
  margin-left: 0;
  padding-left: 24px;
  font-size: 28px;
  text-decoration: none;
  -webkit-transition: all 325ms ease-out;
  transition: all 325ms ease-out;

  &:hover {
    color: $black;
  }
}

header .menu-dropdown-0 > .menu-level-1 .column {
  flex: 100%;
  @include mq($from: $breakpoint_lg) {
    flex: 0 0 32%;
  }
}

header .menu-dropdown-0 > .menu-level-1 .nav-link-wrapper {
  border-bottom: 1px solid $gray-001;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 18px;
  border-top-right-radius: 18px;
  border-bottom-left-radius: 0px;

  .menu-link-toggle {
    width: 36px;
    height: 36px;
    display: block;
  }

  &:hover,
  &.active {
    transition: all $duration-quickly ease-out;
    background: rgba(230, 229, 216, 0.5);
    a {
      transition: all 200ms ease-out;
      color: $blue-006;
    }
  }

}

header .menu-dropdown-0 .menu-level-2 .nav-link-wrapper {
  .menu-link-toggle {
    background-color: $white;
    span:nth-child(2) {
      width: 5%;
    }

    span:nth-child(1) {
        height: 4%;
    }

    @include mq($from: $breakpoint_lg) {
      width: 30px;
      height: 30px;
    }
  }

  &.active {
    .menu-link-toggle {
      border-color: $blue-006;
      background-color: $white;
    }
  }
}

header .menu-dropdown-0 > .menu-level-1 .nav-link {
  color: #333;
  font-family: $calibri;
  font-weight: bold;
  font-size: 19px;
  display: block;
  text-decoration: none;
  transition: all 200ms ease-out;
  margin-bottom: 2px;
  padding: 8px 30px 8px 8px;
}

header .menu-level-1 .nav-link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header .menu-level-2 {
  padding-left: 15px;
}

header .menu-dropdown-0 .menu-level-2 .nav-link {
  color: $gray-007;
  font-family: $calibri;
  font-size: 16px;
  line-height: 16px;
  font-variant: none;
  display: block;
  text-decoration: none;
  font-weight: normal;
  padding: 6px 15px 6px 6px;
  background: transparent;
  transition: all 200ms ease-out;
  margin-bottom: 2px;
}