.map-rt_inner{
  padding:0 2% 0 2%;
  border-left: 1px solid #E6E5D8;
  border-right: 1px solid #E6E5D8;
  background: $white;
}

#mapsholder {
  width: 960px;
  margin: 0 auto 0 auto;
}

#mapLayerHolder {
  position: relative;
  width: 100%;
  height: 635px;
}

#mapbg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

#mrdesc {
  border-radius: 10px;
  border: 1px solid $black;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 13px;
}

#mrdesc h4 {
  margin-top: 0;
  font-size: 16px;
  color: $black;
  margin-bottom: 10px;
  border-bottom: 1px solid #666;
  padding-bottom: 5px;
}

#mrlegend {
}

.mrlegenditem {
  float: left;
  text-align: center;
  width: 31%;
  padding: 0 1%;
  font-size: 12px;
  margin-bottom: 10px;
}

.mvlayer {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: transparent
}

.mrlink {
}

#rt_inner .mrlink a {
  display: block;
  border: 1px solid #666;
  background: #fff;
  color: $black;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 14px;
}

#rt_inner .mrlink a:hover {
  background: transparent;
  color: red;
}

.mapcol {
  float: left;
  width: 30%;
  margin-right: 2%;
}

.blkbdr {
  border: 1px solid $black;
  padding: 2%;
  border-radius: 10px;
}

.mapcol:nth-child(1) {
  margin-left: 1.5%;
}

.mapcol:nth-child(3) {
  margin-right: 0;
}

#rt_inner h1 {
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  margin: 20px 4% 10px 4%;
}

#rt_inner #maphrefbackbtn {
  position: absolute;
  top: 0;
  left: 49px;
  display: inline-block;
  background: #3F9C35;
  color: #fff;
  font-family: CalibriBold;
  font-weight: normal;
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 0 0 5px 0;
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

#rt_inner a#maphrefbackbtn:hover {
  text-decoration: none;
  background: #005293;
}

#rt_inner #mapcol3 a {
  border: 1px solid $black;
  color: $black;
  font-weight: normal;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 10px;
  display: block;
  margin-bottom: 10px
}

#rt_inner #mapcol3 a:hover {
  background: transparent;
  color: #1676BC
}

#rt_inner #mapco14 a {
  color: $black;
  font-weight: normal;
  font-size: 14px;
}

#rt_inner #mapco14 a:hover {
  background: transparent;
  color: #1676BC
}

.mapcolheader {
  font-size: 16px;
  color: $black;
  font-family: CalibriBold;
  border-bottom: 1px solid $black;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.mapicon {
  position: absolute;
  cursor: pointer;
  left: 0;
  top: 0;
  z-index: 100;
}

.mvlayericons {
  display: none;
}

.mapiconblock a {
  font-size: 14px;
}

.mapinfobubble {
  position: absolute;
  min-width: 180px;
  transition: opacity 300ms linear;
  -webkit-transition: opacity 300ms linear;
  -ms-transition: opacity 300ms linear;
  opacity: 0;
  max-width: 350px;
  width: 150px;
  left: 0;
  top: 0;
  visibility: hidden;
  background: rgba(255, 255, 255, 0.95); /* 236,242,227 */
  border: 1px solid rgba(0, 0, 0, 0.8);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 10px;
  z-index: 1200;
  color: #333;
}

.mapinfobubble.fade {
  opacity: 1;
  transition: opacity 300ms linear;
  -webkit-transition: opacity 300ms linear;
  -ms-transition: opacity 300ms linear;
}

.mapinfobubble.lt {
}

.mapinfobubble.rt {
}

.mapinfobubble.top {
}

.mapinfobubble.bot {
}

.mapicon:hover {
  /* filter: none;
    -webkit-filter: grayscale(0%);
    -moz-filter:    grayscale(0%);
    -ms-filter:     grayscale(0%);
    -o-filter:      grayscale(0%);
    cursor: pointer; */
}

.mappath1 {
  fill: #F7B421;
}

.mappath2 {
  fill: #1CB8D7;
}

.mappath3 {
  fill: #247CBE;
}

.mappath4 {
  fill: #ED2A80;
}

.mappath5 {
  fill: #F1632E;
}

.mappath6 {
  fill: #F1632E;
}

.mappath7 {
  fill: #91C955;
}

.mappath8 {
  fill: #91C955;
}

.mappath9 {
  fill: #3DBE9E;
}

.mapinfobubbletitle {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

.mapinfobubbleurl {
  font-size: 14px;
  margin-bottom: 5px;
}

.mapinfobubbledesc {
  font-size: 13px;
  color: #666;
}

.mapinfobubbleimage {
  max-width: 200px;
  float: right;
  margin-bottom: 10px;
  margin-left: 10px;
}

.mapinfobubbleimage img {
  width: 100%;
  height: auto;
}

.mrtab, .mrtabinit {
  cursor: pointer;
  z-index: 2;
  width: 16%;
  position: relative;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  padding: 10px 15px;
  background: #eee;
  border-right: 7px solid #fff;
  font-weight: bold;
  font-size: 15px;
  line-height: 15px;
}

.mrtabinit {
  background: #666;
  color: #eee;
}

.mrtab:hover {
  background: #ddd
}

.mrtab:first-child, .mrtabinit:first-child {
  display: none;
}

.mrtab:nth-child(7), .mrtabinit:nth-child(7) {
  border: 0;
}

.mrtabtabwhite {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-top: 0 solid transparent;
  border-bottom: 14px solid transparent;
  border-right: 14px solid #fff;
}

.mrtabtabcolor {
  position: absolute;
  top: 0;
  right: -14px;
  width: 0;
  height: 0;
  border-top: 0 solid transparent;
  border-bottom: 14px solid #666;
  border-right: 14px solid transparent;
}

.mrtabinit .mrtabtabwhite {
  display: none;
}

.mrtab.mrvblue .mrtabtabcolor {
  border-bottom: 14px solid #597CBE;
}

.mrtabinit.mrvblue {
  background: #597CBE
}

.mrtab.mrvpink .mrtabtabcolor {
  border-bottom: 14px solid #EE1C7B;
}

.mrtabinit.mrvpink {
  background: #EE1C7B
}

.mrtab.mrvorange .mrtabtabcolor {
  border-bottom: 14px solid #F57921;
}

.mrtabinit.mrvorange {
  background: #F57921
}

.mrtab.mrvgreen .mrtabtabcolor {
  border-bottom: 14px solid #95C83C;
}

.mrtabinit.mrvgreen {
  background: #95C83C;
  color: #fff;
}

.mrtab.mrvyellow .mrtabtabcolor {
  border-bottom: 14px solid #FBB316;
}

.mrtabinit.mrvyellow {
  background: #FBB316;
  color: #fff;
}

.mrtab.mrvaqua .mrtabtabcolor {
  border-bottom: 14px solid #00B5D5;
}

.mrtabinit.mrvaqua {
  background: #00B5D5
}

#maprtthome {
  width: 720px;
  margin: 0 auto;
}

#rt_inner #maprtthome a {
  color: $black;
}

#rt_inner #maprtthome a:hover {
  background: transparent;
  color: $black;
}

#mapLayerTabs {
  text-align: center;
  width: 100%;
}

#mapLayerTabsDescs {
  background: #f9f9f9;
  margin-top: -1px;
  padding: 20px 20px;
}

#mapLayerTabsDescs div {
  display: none;
}

.mrtabdesc {
  margin-bottom: 10px;
}

.mrtabdesc h2 {
  margin: 0;
  font-size: 20px;
  font-family: CalibriBold;
  margin-bottom: 10px;
  padding: 7px;
}

.mrtabdesc.mrvblue {
  background: #E7F1F8;
  padding: 8px;
}

.mrtabdesc.mrvblue h2 {
  background: #597CBE;
  color: #E7F1F8;
}

.mrtabdesc.mrvpink {
  background: #FDE8F2;
  padding: 8px;
}

.mrtabdesc.mrvpink h2 {
  background: #EE1C7B;
  color: #FDE8F2;
}

.mrtabdesc.mrvorange {
  background: #FEEEE8;
  padding: 8px;
}

.mrtabdesc.mrvorange h2 {
  background: #F15C22;
  color: #FEEEE8;
}

.mrtabdesc.mrvgreen {
  background: #F4F9EB;
  padding: 8px;
}

.mrtabdesc.mrvgreen h2 {
  background: #95C83C;
  color: #F4F9EB;
}

.mrtabdesc.mrvyellow {
  background: #FFF7E7;
  padding: 8px;
}

.mrtabdesc.mrvyellow h2 {
  background: #FBB316;
  color: #FFF7E7;
}

.mrtabdesc.mrvaqua {
  background: #E5F7FB;
  padding: 8px;
}

.mrtabdesc.mrvaqua h2 {
  background: #00B5D5;
  color: #E5F7FB;
}

#rt_inner .mrtabdesc a {
  color: #1676BC;
}

#rt_inner .mrtabdesc a:hover {
  color: #0BB8D6;
  background: transparent;
}

/* HOverBOX */
.map-qtips {
  width: 168px;
}

.map-qtips .qtip-content {
  color: $black;
  font-size: 14px;
  text-align: center;
  padding: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: none;
  background-color: rgba(255, 255, 255, 0.9)
}

.map-qtips .qtip-content img {
  margin-bottom: 10px;
}

/* Overview Region Map */
.whitecircle {
  position: absolute;
  z-index: 4;
  display: inline-block;
  left: 50%;
  margin-left: -16px;
  padding: 1px 12px;
  font-size: 25px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  text-align: center;
  border-radius: 50%;
  background: #fff;
  color: $black;
}

.whitecirclewide {
  position: absolute;
  z-index: 4;
  display: inline-block;
  left: 50%;
  margin-left: -22px;
  padding: 6px 10px;
  font-size: 25px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  text-align: center;
  border-radius: 50%;
  background: #fff;
}

.whitecircle:hover, .whitecirclewide:hover {
  background: $black;
  color: #fff;
  cursor: pointer;
}

#maphexagonlink {
  position: absolute;
  z-index: 2;
  width: 280px;
  top: 90px;
  right: 180px;
}

#rt_inner #maphexagonlink a {
  font-size: 25px;
  font-weight: normal;
  font-family: Calibri;
  color: $black;
  line-height: 19px;
}

#rt_inner #maphexagonlink a:hover {
  background: transparent;
  color: #666;
}

.mapiconholder:hover {
  cursor: pointer;
}

.mapregiontext {
  font-size: 14px;
  line-height: 12px;
  padding-top: 40px;
  color: $black;
  margin-top: 6px;
}

.mapnametext {
  font-size: 11px;
  line-height: 12px;
  padding-top: 44px;
  font-weight: bold;
}

#maplinkicon1 {
  position: absolute;
  text-align: center;
  width: 80px;
  z-index: 2;
  top: 85px;
  left: 130px;
}

#maplinkicon2 {
  position: absolute;
  text-align: center;
  width: 80px;
  z-index: 2;
  top: 180px;
  left: 230px;
}

#maplinkicon3 {
  position: absolute;
  text-align: center;
  width: 80px;
  z-index: 2;
  top: 162px;
  left: 360px;
}

#maplinkicon4 {
  position: absolute;
  text-align: center;
  width: 80px;
  z-index: 2;
  top: 280px;
  left: 370px;
}

#maplinkicon5a {
  position: absolute;
  text-align: center;
  width: 80px;
  z-index: 2;
  top: 265px;
  left: 500px;
}

#maplinkicon5b {
  position: absolute;
  text-align: center;
  width: 100px;
  z-index: 2;
  top: 300px;
  left: 605px;
}

#maplinkicon6a {
  position: absolute;
  text-align: center;
  width: 80px;
  z-index: 2;
  top: 440px;
  left: 450px;
}

#maplinkicon6b {
  position: absolute;
  text-align: center;
  width: 80px;
  z-index: 2;
  top: 440px;
  left: 670px;
}

#maplinkicon7 {
  position: absolute;
  text-align: center;
  width: 80px;
  z-index: 2;
  top: 320px;
  left: 780px;
}

#mapname1 {
  position: absolute;
  text-align: center;
  width: 120px;
  z-index: 2;
  top: 75px;
  left: 270px;
}

#mapname2 {
  position: absolute;
  text-align: center;
  width: 120px;
  z-index: 2;
  top: 110px;
  left: 400px;
}

#mapname3 {
  position: absolute;
  text-align: center;
  width: 120px;
  z-index: 2;
  top: 213px;
  left: 590px;
}

#mapname4 {
  position: absolute;
  text-align: center;
  width: 120px;
  z-index: 2;
  top: 240px;
  left: 664px;
}

#SVGHolder {
  position: relative;
  margin: 0 auto;
  padding: 0;
  width: 920px;
  height: 640px;
}

#SVGHotSpots {
}

svg, svg#RegionMapSVG {
  margin: 0;
  padding: 0;
  width: 920px;
  min-width: 920px;
}

path {
  pointer-events: all;
  fill: auto;
  transition: fill 100ms linear;
}

path:hover {
  cursor: pointer;
  pointer-events: visible;
  transition: fill 350ms linear;
  fill: #fff !important;
}

.dwwp_logo a:hover {
  text-decoration: none;
  display: none;
}
