/* Navbar mobile toggle button
--------------------------------------------------*/
nav li,
nav ul {
  list-style: none;
}

.navbar-toggler {
  outline: none !important;
  padding: 0;
  border: none;
  margin-top: 30px;
  padding: 0 5px;
}

.navbar-toggler {
  $easing: cubic-bezier(.25,1.7,.35,.8);
  $duration: 0.6s;

  $ham-btn-color: $blue-006;
  $ham-btn-color-active: $white;

  .ham {
    width: 40px;
    height: 34px;
    position: relative;
    margin: auto;
    transform: rotate(0deg);
    transition: .5s $easing;
    cursor: pointer;
  }

  .ham span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: $ham-btn-color;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s $easing;
  }


  .ham span:nth-child(1) {
    top: 2.5px;
    transform-origin: left center;
  }

  .ham span:nth-child(2) {
    top: calc(50% - 5px + 2.5px);
    transform-origin: left center;
  }

  .ham span:nth-child(3) {
    top: calc(100% - 5px - 2.5px);
    transform-origin: left center;
  }

  .ham.active span {
    background: $ham-btn-color-active;
  }

  .ham.active span:nth-child(1) {
    transform: rotate(45deg);
    top: 2.5px;
    left: 0;
  }

  .ham.active span:nth-child(2) {
    width: 0;
    opacity: 0;
  }

  .ham.active span:nth-child(3) {
    transform: rotate(-45deg);
    top: calc(34px - 2.5px);
    left: 0;
  }

  $search-btn-color: $blue-006;
  $search-btn-color-active: $white;

  .search-icon {
    background-color: $transparent;
    height: 35px;
    width: 35px;
    display: block;
    padding: 0;
    margin: auto;
    position: relative;
    cursor: pointer;
  }

  .circle {
    position: relative;
    display: block;
    height: 60%;
    width: 60%;
    background-color: $transparent;
    border-radius: 70px;
    z-index: 0;
    border: 3px solid $search-btn-color;
    transition: all $duration $easing;
    z-index: 1;
  }

  .handle {
    position: absolute;
    background-color: $search-btn-color;
    top: 64%;
    left: 46%;
    width: 16px;
    height: 3px;
    display: block;
    transform: rotate(45deg);
    float: right;
    border-radius: 2px;

    &:after {
      content:"";
      background-color: $search-btn-color;
      width: 100%;
      height: 100%;
      display: block;
      float: right;
      border-radius: 2px;
      transition: all $duration $easing;
      z-index: -1;
    }
  }

  .active {
    .circle {
      transform: scale(.02);
      transform-origin: 30% 40%;
    }

    .handle {
      width: 100%;
      left: 0;
      top: 18px;
      background: $search-btn-color-active;
      border-color: $search-btn-color-active;

      &:after{
        background: $search-btn-color-active;
        border-color: $search-btn-color-active;
      }
    }

    .handle:after {
      transform-origin: center center;
      transform: rotate(90deg);
    }
  }
}

/* Header Search form
--------------------------------------------------*/

.header-search-form-block {
  padding: 0;
}

.header-search-form-block.desktop {
  display: none;
  @include mq($from: $breakpoint_lg) {
    display: inherit;
    margin-top: 25px;
  }
}

.header-search-form-block .form-item-wrapper {
  padding: 0;
  margin: 0;
  padding: 1rem 0 0;

}

.header-search-form-block .form-item-wrapper .js-form-item {
  padding: 0;
  margin: 0;
  &:after {
    content: "";
    background: url('../images/icons/magnifying-glass.svg') no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 20;
    width: 30px;
    height: 30px;
    display: block;
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    opacity: 0.5;
  }
}

.header-search-form-block .js-form-item input {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  position: relative;
  background: #fff;
  opacity: .8;
  display: block;
  width: 100%;
  min-width: 280px;
  height: 52px;
  padding: 10px 50px 10px 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  margin: 0;
  color: $blue-006;
  line-height: 22px;
  font-size: 22px;

  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $blue-006;
    line-height: 22px;
    font-size: 22px;
  }

  &::-moz-placeholder { /* Firefox 19+ */
    color: $blue-006;
    line-height: 22px;
    font-size: 22px;
  }

  &:-ms-input-placeholder { /* IE 10+ */
    color: $blue-006;
    line-height: 22px;
    font-size: 22px;
  }

  &:-moz-placeholder { /* Firefox 18- */
    color: $blue-006;
    line-height: 22px;
    font-size: 22px;
  }
}

.header-search-form-block .js-form-item .description {
  display: none;
}



header .backdrop {
  position: absolute;
  width: 100%;
  height: 100vh;
  left: 0;
  display: none;
  z-index: -200;
  background: $transparent;

  @include mq($from: $breakpoint_lg) {
    z-index: 190;
  }
}

header .navbar-expand-lg {
  padding: 0;
  background: $white;
  background: linear-gradient(to right, rgba(255,255,255,1) 16%,rgba(198,211,226,1) 100%)
}

header .navbar-expand-lg .region-header {
  padding-left: 15px;
  @include mq($from: $breakpoint_lg) {
    padding-left: 30px;
  }
}

header .navbar-expand-lg .region-header img {
  width: 130px;
  @include mq($from: $breakpoint_lg) {
    width: 176px;
  }
}

header .navbar-expand-lg .navbar-collapse {
  padding: 0.5rem 1rem;
  background: $white;

  @include mq($from: $breakpoint_lg) {
    padding: 0;
    background: $transparent;
  }
}

header .header--container {
  padding: 0;
}

header .headerinner {
  justify-content: space-between;
  flex: 100%;
  width: 100%;

  @include mq($from: $breakpoint_xl) {
    padding: 0.5rem 0;
  }
}

.nav-link-wrapper .logo {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: 2px solid $white;
  margin-right: 0.5rem;
}

.nav-link-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
}
