/* Search page
--------------------------------------------------*/

.block-views-exposed-filter-blocksearch-page button {
  background: #3F9C35;
  font-size: 20px;
  color: #fff;
  border: 0;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px 13px;
  width: 102px;
}

.block-views-exposed-filter-blocksearch-page .js-form-item {
  width: calc(100% - 102px - 15px;
}

.block-views-exposed-filter-blocksearch-page label {
  display: none;
}

.block-views-exposed-filter-blocksearch-page input {
  font-size: 22px;
  height: 50px;
  display: inline-block;
  padding: 9px 7px;
  border: 1px solid $gold-001 ;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.search-keyword {
  font-style: italic;
  padding: 10px 0;
  color: #666;
  font-size: 18px;

  span {
    color: $green-001;
  }
}

.view-search .node--type-events {

  .field--name-title > span,
  .field--name-body > span {
    display: none;
  }

  .field--type-entity-reference {
    margin: 0;
  }
}

.view-search .field {
  font-size: 16px;
  line-height: 18px;
  color: $gray-007;
  font-weight: normal;
}

.view-search .field.field--name-body {
  text-align: left;
  display: inline-block;

  h1, h2, h3, h4, h5, h6, p, a, strong, b {
    font-size: 16px;
    line-height: 18px;
    color: $gray-007;
    font-weight: normal;
    margin: 0;
  }

  p {
    margin: 0;
  }

  table,
  iframe {
    display: none;
  }
}

.view-search .field.field--name-title {
  font-weight: bold !important;
  text-decoration: none;
  color: $blue-006;
  font-weight: normal;
  font-size: 21px;
  line-height: 21px;
  margin-bottom: 8px;
}

.view-search .views-row {
  width: 100%;
  border-bottom: 1px solid $gray-004;
  padding: 15px;

  &:hover {
    background: rgba(230, 229, 216, 0.4);
    transition: all 300ms ease-out;
  }
}

.view-search .views-row .item-url-wrapper {
  margin: 0;
}

.view-search .views-row .item-url {
  margin-top: 2px;
  font-size: 16px !important;
  font-style: italic;
  font-weight: normal !important;
  text-decoration: none;
  color: rgba(0, 82, 147, 0.7) !important;

  &:hover {
    text-decoration: none;
  }
}

.view-search .views-row .node__content {
  margin: 0;
}

.view-search .views-row .node--image {
  width: 150px;
}

.view-search .views-row .node--content {
  width: calc(100% - 150px);
}