/* Sidebar
--------------------------------------------------*/

.sidebar {
  background: $gold-001 url('../images/content_holder_bg3.jpg') no-repeat;
  background-size: cover;
  background-repeat: repeat-y;
  background-position: left;
  overflow-x: hidden;
  overflow-y: visible;

  > * {
    transform: translateZ(5px);
  }

  border-top: 2px solid $gold-001;
  @include mq($from: $breakpoint_lg) {
    background: none;
    overflow-x: visible;
    border-top: 0;
  }
}

.sidebar .block {
  border: none;
  padding: 0 0 1rem;
  margin: 0 0 1rem;
  width: calc(100% + 30px);
  margin-left: -15px;

  @include mq($from: $breakpoint_lg) {
    padding: 0 1rem 1rem 1rem;
    width: 100%;
    margin-left: 0;
  }
}

.sidebar h2 {
  border-top: 0;
}

.sidebar .sr-only {
  display: none;
}

.sidebar nav {
  width: 100%;
}

.sidebar ul,
.sidebar li {
  list-style: none;
}

.sidebar ul ul {
  padding-left: 0;
}

.page-block-content {
  background: $white;
  padding-bottom: 2rem;

  @include mq($from: $breakpoint_lg) {
    padding-bottom: 2.5rem;
  }
}

.sidebar .block-menu-parent-link {
  &:after{
    content: '';
    position: absolute;
    background: white;
    height: 100%;
    top: 0;
    padding-left: calc(100vw + 60px);
    margin-left: -30px;

    @include mq($from: $breakpoint_lg) {
      padding-left: 60vw;
      margin-left: -25vw;
    }

    @include mq($from: $breakpoint_xl) {
      padding-left: 50vw;
      margin-left: -25vw;
    }
  }
}

.sidebar .block-menu-parent-link {
  position: relative;
  border-top: 0;
  text-transform: uppercase;
  background: $white;
  border-left: 2px solid $white;
  font-size: 26px;
  line-height: 26px;
  text-align: left;
  color: $green-001;
  margin-bottom: 15px;
  padding: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;

  justify-content: center;

  @include mq($from: $breakpoint_lg) {
    padding: 10px 10px 10px 40px;
    justify-content: flex-start;
  }

  i + a {
    padding-left: 10px;
  }

  > * {
    z-index: 5;
  }

}

.block-menu-parent-link a {
  padding: 0;
  margin: 0;
  font-size: 26px;
  line-height: 26px;
  text-align: left;
  color: $green-001;
  font-weight: bold;
  text-transform: uppercase;
}

.block-menu-parent-link i {
  width: 25px;
  height: 25px;
  font-size: 20px;
  line-height: 15px;
  border-radius: 15px;
  text-align: center;
  border: 1px solid $green-001;
  color: $white;
  background: $green-001;
}

.sidebar-menu {
  padding: 0;
  margin: 0;
}

.sidebar-menu a {
  min-width: 100%;
  display: block;
  padding: 7px;
  text-decoration: none;
  margin : 0;
  color: $black;
  font-weight: bold;
  font-size: 19px;
  line-height: 20px;
  -webkit-transition: all 125ms ease-out;
  transition: all 125ms ease-out;
  padding-left: 40px;

  @include mq($from: $breakpoint_lg) {
    padding: 7px 7px 7px 30px;
  }
}

.sidebar-menu a.is-active {
  color: $green-001;
  transition: all $duration-slowly ease;
}

.sidebar-menu  .nav-link-wrapper {
  background: $transparent;
  transition: all $duration-slowly ease;
  margin: 0;

  &:hover,
  &:active {
    transition: all $duration-slowly ease;
    background :linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 20%)
  }
}

.sidebar-menu .menu--main li a {
  color: $black;
}

/* Sidebar up with node relationship to link
--------------------------------------------------*/

.sidebar-menu.custom-build {
  list-style: none;
}

.sidebar-menu.custom-build li,
.sidebar-menu.custom-build ul {
  list-style: none;
  padding: 0;
}

.sidebar-menu.custom-build > .nav-item > .nav-link-wrapper {
  display: none;
}

.sidebar-menu .collapse {
  display: block;
}

.sidebar-menu {

  @include mq($from: $breakpoint_lg) {
    width: calc(100% + 40px);
  }
}

.sidebar-menu {
  h3.menu-item--active-trail {
    transition: all $duration-slowly ease;
    background :linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 20%);
    border-bottom: 1px solid $gold-001;
    margin-bottom: 1px;

    a {
      color: $green-001;
      transition: all $duration-slowly ease;
    }
  }
}

.sidebar-menu .menu-level-1.menu-item--active-trail {
  transition: all $duration-slowly ease;
  background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.6) 15%);
  margin: 0;
  padding: 8px 15px 15px 14px;

  li:last-child {
    h4{
      border:none;
    }
  }

  h4 {
    border-bottom: 1px solid $gold-001;
    margin-bottom: 1px;
    font-size: 16px;
    line-height: 16px;

    a {
      font-size: inherit;
      font-weight: normal;
      transition: all $duration-slowly ease;

      &:hover {
        color: $green-001;
        text-decoration: underline;
        transition: all $duration-slowly ease;
      }
    }
  }

  h3 {
    border-bottom: 1px solid $gold-001;
    margin-bottom: 1px;
    font-size: 19px;
    line-height: 20px;
    font-weight: bold;

    a {
      font-size: inherit;
      font-weight: inherit;
      transition: all $duration-slowly ease;
    }
  }
}