/* Top Lip menu
--------------------------------------------------*/

.region-top-lip {
  margin: 0;
}

body:before {
  display: none;
}

.navbar-dark .navbar-brand {
  font-size: 0;
}

.block--main-navigation-secundary {
  position: relative;
  min-width: 100%;
  background: $green-001;
  border-bottom: 2px solid $blue-006;
}

.block--main-navigation-secundary .container {
  position: relative;
}

.block--main-navigation-secundary .btn-menu-toggle {
  position: absolute;
  bottom: -34px;
  margin-right: 0;
  right: 5px;
  z-index: 10;

  font-family: $calibri;
  border-left: 2px solid $blue-006;
  border-right: 2px solid $blue-006;
  border-bottom: 2px solid $blue-006;
  border-top: none;
  border-radius: 0 0 10px 10px;
  background-color: $green-001;
  box-shadow: none;
  outline: none;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  padding: 8px 30px;
  font-size: 14px;
  line-height: 14px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.6);
  background-image: url("../images/icons/icon_question.png");
  background-repeat: no-repeat;
  background-position: 95% 44%;
  background-size: 20px;

  @include mq($from: $breakpoint_lg) {
    bottom: -40px;
    padding: 10px 50px;
    right: 0;
    margin-right: 1rem;
    font-size: 18px;
    line-height: 18px;
    background-position: 93% 44%;
    background-size: 25px;
  }

  @include mq($from: $breakpoint_xl) {
    right: 0;
    margin-right: 0;
  }

  &.collapsed {
    background-image: url("../images/icons/icon_question-on.png");
    color: white;
  }

  &:active,
  &:hover,
  &:focus {
    border-left: 2px solid $blue-006;
    border-right: 2px solid $blue-006;
    border-bottom: 2px solid $blue-006;
    border-top: none;
    background-color: $green-001;
  }
}


.block--main-navigation-secundary .btn-menu-close {
  position: absolute;
  top: 15px;
  right: 15px;
  margin-right: 1rem;
  font-size: 0;
  background: url("../images/icons/x-button.svg");
  background-size: cover;
  border: none;
  outline: none;
  box-shadow: none;
  width: 50px;
  height: 50px;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.5);

  &:hover{
    opacity: 0.7;
    transition: all $duration-promptly ease;
  }
}

.block--main-navigation-secundary ul {
  list-style: none;
  padding-left: 30px;
}

.block--main-navigation-secundary li {
  list-style: none;
}

.block--main-navigation-secundary .menu-level-0 {
  margin: 0 auto;
  padding: 15px 2% 30px;
  @include mq($from: $breakpoint_lg) {
    padding: 15px 0 30px;
  }
}

.block--main-navigation-secundary .menu-level-0 > .nav-item {
  min-width: 200px;
  flex-basis: 0;
}

.block--main-navigation-secundary .menu-level-0 .nav-item > h2 {
  font-family: $calibri;
  color: $gold-001;
  margin: 15px 0;
  font-weight: bold;
  line-height: 17px;
  font-variant: Small-Caps;
  font-size: 24px;
  padding-left: 0;

  @include mq($from: $breakpoint_md) {
    font-size: 28px;
  }
}

.block--main-navigation-secundary .menu-level-1 .nav-item .nav-link {
  font-family: $calibri;
  text-decoration: none;
  padding: 4px 0;
  color: $white;
  font-size: 17px;
  line-height: 17px;
  font-weight: 400;
  margin: 0;

  @include mq($from: $breakpoint_lg) {
    font-size: 19px;
    line-height: 19px;
  }

  &:hover{
    color: $gold-001;
    transform: all $duration-promptly ease;
    text-decoration: underline;
  }
}
