
.block-webform-block {
  @include mq($from: $breakpoint_xl) {
    padding: 0 70px;
  }
}

.block-webform-block .block--title,
.webform-submission-form .webform-section-title {
  text-transform: uppercase;
  font-size: 18px;
  border-bottom: 1px solid $gray-005;
}

.webform-submission-form {
  background-color: $white;
}

.webform-submission-form .js-form-item input,
.webform-submission-form .js-form-item textarea {
  border-radius: 0;
  border-color: $gray-005 ;
  font-size: 14px;
  height: 28px;
}

.webform-submission-form .js-form-item textarea {
  min-height: 100px;
}

.webform-submission-form .js-form-item {
  padding-top: 3px;
  padding-bottom: 3px;
  border-bottom: 1px solid $gray-005;
  margin: 0;
}

.webform-submission-form .js-form-item.webform-section{
  border: none;
}

.webform-submission-form .js-form-item .js-form-item-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  position: relative;
  margin-right: auto;
  width: 100%;

  @include mq($from: $breakpoint_lg) {
    width: 80%;
  }

  @include mq($from: $breakpoint_xl) {
    width: 60%;
  }
}

.webform-submission-form .js-form-item .js-form-item-inner .js-form-item-inner {
  width: 100%;
  flex-direction: column;
}

.webform-submission-form .js-form-item .js-form-item-inner .js-form-item-inner  > .form-control {
  flex-basis: 100%;
  max-width: 100%;
  width: 100%;
}

.webform-submission-form .js-form-item .js-form-item-inner .js-form-item {
  border: none;
  padding: 0;
}

.webform-submission-form .js-form-item .js-form-item-inner .js-form-item + .js-form-item {
  padding-top: 15px;
}

.webform-submission-form .js-form-item .js-form-item-inner > .form-control,
.webform-submission-form .js-form-item .form-textarea-wrapper,
.webform-submission-form .js-form-item .fieldset-wrapper {
  margin: 0;
  flex-basis: 72%;
  max-width: 72%;
  width: 72%;

  @include mq($from: $breakpoint_lg) {
    flex-basis: 48%;
    max-width: 48%;
    width: 48%;
  }
}

.webform-submission-form .js-form-item label,
.webform-submission-form .js-form-item legend {
  text-align: right;
  margin: 0;
  flex-basis: 25%;
  width: 25%;
  font-size: 18px;
  font-weight: normal;

  @include mq($from: $breakpoint_lg) {
    flex-basis: 48%;
    width: 48%;
  }
}

.webform-submission-form .form-actions {
  margin: 12px auto;
  text-align: center;

  @include mq($from: $breakpoint_lg) {
    margin-left: 32%;
    padding-left: 0;
    margin-top: 12px;
    margin-bottom: 12px;
    text-align: left;
  }

  button {
    background-color: $black;
  }
}

.webform-submission-form .js-form-item .js-form-item-inner .ui-datepicker-trigger {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}


.webform-submission-form .js-form-item .chosen-drop {
  left: 0;
}