{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
{%
set classes = [
'block',
'block-' ~ configuration.provider|clean_class,
'block-' ~ plugin_id|clean_class,
'quick-access-ribbon'
]
%}
<div{{ attributes.addClass(classes) }}>
    <div class="ribbon_cta">
      <div class="ribbon_cta__text">
        <p><strong>{{  'The Memorial'|t }}</strong> {{ content.render_memorial_text|replace({'am': " a.m.", 'pm': " p.m."}) }}</p>
        <span class="separator"><strong>|</strong></span>
        <p><strong>{{  'The Museum'|t }}</strong> {{ content.render_museum_text|replace({'am': " a.m.", 'pm': " p.m."}) }}</p>
      </div>
      <div class="ribbon_cta__button">
        {{ content.field_cta.0|render }}
      </div>
    </div>
</div>
