{#
/**
 * @ingroup themeable
 * Overrides the template that comes from Search Api Stats module
 */
#}

<ul>
  {% for keyword, num in stats %}
    <li>
      <a href="{{ path }}?{{ param_name }}={{ keyword }}">
        {{ keyword }}
      </a>
    </li>
  {% endfor %}
</ul>