.paragraph--type--landing-page-card .container-landing-page-card {
  padding-bottom: 2rem;

  @include mq($from: tablet) {
    padding-bottom: 3rem;
  }
}

.paragraph--type--landing-page-card .field-name-field-card-image {
  @include mq($from: tablet) {
    @include contain-only;
  }
}

.paragraph--type--landing-page-card .field-name-field-card-image img {
  display: block;
  min-width: 100%;
}

.paragraph--type--landing-page-card .field-name-field-card-image a {

  &:before {
    display: none;
  }
}

.paragraph--type--landing-page-card .field-name-field-card-title {
  @include contain-only;
  @include font-surveyor-text-book;
  letter-spacing: -2.3px;
  font-size: 3rem;
  line-height: 1;
  margin-top: 2.2rem;
  margin-bottom: 1.5rem;

  @include mq($from: tablet) {
    font-size: 6rem;
    margin-top: 3.2rem;
    margin-bottom: 3.2rem;
  }
}

.paragraph--type--landing-page-card .field-name-field-card-subtitle {
  @include contain-only;
  @include font-surveyor-text-book;
  letter-spacing: -0.5px;
  word-spacing: -2px;
  line-height: 1.14;
  font-size: 1.3rem;
  margin-bottom: 1rem;

  @include mq($from: tablet) {
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }
}

.paragraph--type--landing-page-card .field-name-field-card-description {
  @include contain-only;
  font-size: 0.8rem;
  margin-bottom: 1.3rem;

  @include mq($from: tablet) {
    margin-bottom: 2rem;
    font-size: 1rem;
  }
}

.paragraph--type--landing-page-card  .field-landing_page-card-link {
  @include contain-only;
}
