.paragraph--type--video {
  @include contain;
}

.paragraph--type--video.paragraph--video-full-bleed {
  width: 100%;
  padding: 0;
  max-width: none;
}

.paragraph--type--video video {
  height: 100% !important;
  width: 100% !important;
}

.paragraph--type--video .field-name-field-credit-line {
  text-align: right;
}

.video-info {
  display: flex;
  color: $grey-500;
  @include font-gotham-bold;
  font-size: 12px;
}

.paragraph--type--video .video-info {
  padding: 0.5rem 0;
}

.paragraph--type--video.paragraph--video-full-bleed .video-info {
  padding: 0.5rem 2rem;
}

// From Brightcove
.paragraph--type--video-from-brightcove {
  .field-name-name {
    display: none;
  }
  
  .video-js {
    width: 100%;
    height: auto;
    padding-bottom: 56.25%;
  }

  .video-js .vjs-dock-text {
    display: none;
  }

  .video-js .vjs-play-progress {
    background-color: $blue-100;
  }

  &.paragraph--video-standard {
    @include contain;
    @include clearfix;
  }

  &.paragraph--video-standard .video-info {
    margin: 1rem 0 0;
  }

  &.paragraph--video-full-bleed .video-info {
    margin: 1rem 2rem 2rem;

    @include mq($from: tablet) {
      margin: 1rem 2.5rem 2rem;
    }
  }

  .field-name-field-image-caption  {
    font-size: 0.65rem;
    line-height: 1.4;
  }

  .field-name-field-credit-line {
    @include caption;
    text-align: right;
  }
}

// Play / Pause button.
.c-pp {
  display: none;

  @include mq($from: mobile) {
    display: block;
    top: 2rem;
  }
}

.c-pp {
  $root: &;
  $trans: 0.2s ease;
  position: absolute;
  right: 2rem;
  width: 3rem; 
  height: 3rem;
  border: (3rem / 30) solid $white;
  border-radius: 50%;
  padding: 0;
  margin: 0 auto;
  cursor: pointer;
  user-select: none;
  z-index: 1;

  &__icon {
    // Shared styles.
    box-sizing: border-box;
    display: block;
    position: absolute;
    transition: all $trans;
    width: (3rem / 4);
    height: (3rem / 2);

    &:hover {
      cursor: pointer;
    }

    // Pause styles.
    transform: translateX(135%);
    top: 0.65rem;
    border-top: 0 solid transparent;
    border-right: (3rem / 12) solid $white;
    border-bottom: 0 solid transparent;
    border-left: (3rem / 12) solid $white;

    // Play styles.
    #{$root}.is-play & {
    
      transform: translateX(3rem / 2.3);
      border-top: (3rem / 4) solid transparent;
      border-right: 0px solid transparent;
      border-bottom: (3rem / 4) solid transparent;
      border-left: (3rem / 4) solid $white;
    }
  }
}
