.paragraph--type--community-connection-card {
  background: $blue-400;
  color: $white;
  padding: 0.5rem 0;

  @include mq($from: tablet) {
    padding: 1rem 0;
  }
}

.paragraph--type--community-connection-card .field-name-field-section-title {
  @include contain-only;
  color: $white;
  @include font-gotham-bold;
  font-size: 1.5rem;
  padding-top: 3.25rem;
  padding-bottom: 0.5rem;

  @include mq($from: tablet) {
    font-size: 1.5rem;
    padding: 3.25rem 0 1.5rem;
  }

  @include mq($from: desktop) {
    font-size: 1.875rem;
    padding: 3.25rem 0 2rem;
  }
}

.paragraph--type--community-connection-card .field-name-field-image-file {
  @include contain-only;
  color: $white;
}

.paragraph--type--community-connection-card .field-name-field-image-file img {
  min-width: 100%;
}

.paragraph--type--community-connection-card .intro-title {
  @include contain-only;
  @include font-gotham-bold;
  color: $white;
  line-height: 1.33;
  margin: 0 0 1rem;
  font-size: 0.9rem;

  @include mq($from: tablet) {
    font-size: 1.2rem;
    padding: 1rem 0;
    line-height: 1.33;
  }
}

.paragraph--type--community-connection-card .field-name-field-text {
  @include contain-only;
  color: $white;
  font-size: 0.8rem;

  @include mq($from: tablet) {
    font-size: 1rem;
  }
}

.paragraph--type--community-connection-card .field-name-field-text a {
  border-color: $white;
  color: $white;
  font-weight: 600;

  &:before {
    background: $white;

    &:hover {
      border-color: $white;
      color: $white;
    }
  }

  &:hover {
    border-color: $white;
    color: $white;
  }
}

.paragraph--type--community-connection-card .field-name-field-cta {
  @include contain-only;
  // padding-bottom: 1.5rem;

  // @include mq($from: tablet) {
  //   padding-bottom: 2.25rem;
  // }

  // @include mq($from: desktop) {
  //   padding-bottom: 3.25rem;
  // }
}

.paragraph--type--community-connection-card .field-name-field-cta a {
  border-color: $white;
  color: $white;
  margin: 1rem 0;
  @include mq($from: tablet) {
    margin: 1rem 0;
  }

  &:hover {
    border-color: $white;
    background: $white;
    color: $blue-100;
  }
}

.paragraph--type--community-connection-card .field-name-field-cta a:not(.cta-button) {
  border-color: $white;
  color: $white;
  opacity: 0.8;

  &:before {
    background: $white;
  }

  &:after {
    border-left: 5px solid $white;
  }

  &:hover {
    opacity: 1;
    background: none;
    border-color: $white;
    color: $white;
  }
}
