.paragraph--type--page-introduction {
  @include contain;
}

.intro-title {
  font-size: 3rem;
  margin-bottom: 3.75rem;
  @include mq($from: mobile) {
    font-size: 5rem;
  }

  @include mq($from: tablet) {
    font-size: 6rem;
    margin-bottom: 4.875rem;
  }

  // @include mq($from: desktop) {
  //   margin-bottom: 5.875rem;
  // }

  &:only-child {
    margin-bottom: calc(3.75rem / 2);

    @include mq($from: tablet) {
      margin-bottom: calc(4.875rem / 2);
      padding-bottom: 2rem;
    }

    // @include mq($from: desktop) {
    //   margin-bottom: calc(5.875rem / 2);
    //   padding-bottom: calc(5.875rem / 2);
    // }
  }
}

.intro-credits {
  @include font-surveyor-text-book;
  text-transform: uppercase;
  font-size: 0.65rem;
  word-spacing: 0.1rem;
  letter-spacing: 0.1rem;

  @include mq($from: tablet) {
    font-size: 0.8rem;
  }
}

.field-name-field-synopsis-overview {
  padding-top: 1.5rem;
  border-top: 1px solid $grey-800;
  @include font-surveyor-text-book;
  font-size: 1.4rem;
  line-height: 1.14;
  letter-spacing: -0.5px;

  @include mq($from: tablet) {
    font-size: 2rem;
    //margin-top: 5.875rem;
  }
}

.credit-item {
  padding: 0 0.5rem;
  border-right: 1px solid $grey-800;
  word-break: break-word;

  @include mq($from: tablet) {
    padding: 0 1rem;
  }

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    border: none;
  }
}

.intro-title + .intro-credits {
  margin-top: -1.75rem;
  margin-bottom: 3.75rem;

  @include mq($from: tablet) {
    margin-top: -2.75rem;
    margin-bottom: 4.875rem;
  }

  // @include mq($from: desktop) {
  //   margin-top: -3.375rem;
  //   margin-bottom: 5.875rem;
  // }
}

.intro-title + .intro-credits:last-child {
  margin-top: -1.75rem;
  margin-bottom: 1rem;

  @include mq($from: tablet) {
    margin-top: -2.75rem;
    margin-bottom: 1rem;
  }

  // @include mq($from: desktop) {
  //   margin-top: -3.375rem;
  //   margin-bottom: 1rem;
  // }
}

.intro-title + .field-name-field-synopsis-overview {
  margin-top: -1.75rem;
  margin-bottom: 2.5rem;

  @include mq($from: tablet) {
    margin-top: -2.75rem;
  }
}

.field-name-field-page-introduction + .paragraph--type--simple-text-with-cta {
  margin-top: -2rem;

  @include mq($from: tablet) {
    margin-top: 3rem;
  }
}

.field-name-field-page-introduction + .paragraph--type--simple-text {
  padding-top: 0;

  @include mq($from: tablet) {
    padding-top: 0;
  }
}

.field-name-field-page-introduction + .paragraph--type--location-card {
  .paragraph--location-card-content {
    padding-top: 0;
  }
}

// exceptions
.field-name-field-page-introduction ~ .field-name-field-content-search-list .content-search-list {
  padding: 0;

  &.emphasis-regular,
  &.emphasis-highlight {
    padding: 3.375rem 0;
  }
}

