// Double Column Simple Text
.paragraph--type--double-column-simple-text {
  @include contain;
  @include clearfix;
  display: flex;

  .field {
    width: 50%;

    &:first-child {
      margin-right: 1.3rem;
    }
  }

  .field-name-field-text {
    margin-bottom: 0;
  }
}
