// Corporate Members

.paragraph--type--corporate-members-block {
  @include contain;
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;

  .field-name-field-section-title {
    @include font-gotham-bold;
    font-size: 1rem;
  }

  .corporate-members-list {
    margin: 2rem 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    li {
      width: calc(50% - 0.25rem);
      margin: 0 0.25rem 0.25rem 0;
      align-self: center;
      text-align: center;

      @include mq($from: tablet) {
        width: calc(20% - 0.5rem);
        margin: 0 0.5rem 0.5rem 0;
      }
    }
  }
}
