.paragraph--type--hero-banner-video {
  min-height: 100vh;
  min-width: 100%;
  margin-bottom: 74px;
  position: relative;

  @include mq($from: tablet) {
    background: none !important;
    min-height: initial;
    margin-bottom: 74px;
  }

  @include mq($from: mobile) {
    margin-bottom: 82px;
  }
}

.paragraph--type--hero-banner-video .field-name-field-video-upload video,
.paragraph--type--hero-banner-video .field-name-field-video-upload {
  width: 100% !important;
  height: 100% !important;
  display: none;

  @include mq($from: tablet) {
    display: block;
  }
}

.field-name-field-hero-banner + .field-name-field-highlight-section {
  padding-bottom: 0;
}

// Brightcove hero video
.paragraph--type--hero-banner-video-from-brightcov {
  padding-bottom: 56.25%;
  position: relative;

  @include mq($from: mobile) {
    padding: 0;
  }

  .field-name-name {
    display: none;
  }

  .video-js {
    display: none;

    @include mq($from: mobile) {
      display: block;
      width: 100%;
      height: auto;
      padding-bottom: 56.25%;
    }
  }

  .video-js .vjs-dock-text {
    display: none;
  }

  .video-js .vjs-play-progress {
    background-color: $blue-100;
  }
}
