.paragraph--type--hero-banner {
  width: 100%;
  position: relative;
  margin-bottom: 2rem;

  @include mq($from: mobile) {
    margin-bottom: 3rem;
  }

  .sixteen {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 56.25%;
    overflow: hidden;
  }

  .image-info {
    padding: 0.5rem 2rem;
  }

  .image-caption {
    text-align: right;
  }

  .field-name-field-image-caption {
    @include caption;
  }

  &.p-long-caption .image-info {
    display: flex;
    flex-direction: column-reverse;

    @include mq($from: mobile) {
      flex-direction: row;
      justify-content: space-between;
    }

    .long-caption {
      width: 100%;

      @include mq($from: mobile) {
        width: calc(70% - 1rem);
      }
    }

    .image-caption {
      width: 100%;
      margin-bottom: 0.5rem;

      @include mq($from: mobile) {
        width: 30%;
      }
    }
  }
}

.hero-image-w-highlight-card .paragraph--type--hero-banner .field-name-field-image-caption {
  color: $white;
}
