// Accordion Item

.accordion-item-block-title {
  @include contain;
  @include clearfix;

  .field-name-field-section-title {
    @include font-gotham-bold;
    font-size: 1.5rem;
  }

  .field-name-field-synopsis-overview {
    @include font-gotham-book;
    font-size: 1rem;
    padding-top: 0.75rem;
    border: 0;
    line-height: 1.5;
  }
}

.paragraph--type--accordion-item {
  @include contain-only;
  @include clearfix;
}

.paragraph--type--accordion-item .accordion-header {
  display: flex;
  flex-direction: row;
  border-top: 1px solid $grey-200;
  border-bottom: 1px solid transparent;
  padding: 1rem 0;
  cursor: pointer;
  transition: border-bottom-color 0.3s;

  > div {
    transition: color 0.3s;
  }

  &.active {
    border-bottom-color: $grey-200;
    transition: border-bottom-color 0.5s;
  }

  &.active > button,
  &.active > div {
    color: $blue-100;
    transition: color 0.3s;
  }

  &:before {
    display: inline-block;
    content: "";
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    width: 14px;
    height: 12px;
    transform: rotate(-315deg);
    margin: 0.15rem 0 0 0.35rem;
    transition: all 0.3s;
  }

  &.active:before {
    border-color: $blue-100;
    transition: all 0.3s;
    transform: rotate(-135deg);
    margin: 0.5rem 0 0 0.35rem;
  }

  button {
    background: transparent;
    border: 0;
    width: 100%;
    text-align: left;
  }
}

.paragraph--type--accordion-item .accordion-header .field-name-field-main-label,
.paragraph--type--accordion-item .accordion-header .field-name-title {
  width: 77%;
  @include font-gotham-book;
  padding-left: 0.875rem;
  font-size: 0.875rem;

  @include mq($from: tablet) {
    font-size: 1rem;
  }
}

.paragraph--type--accordion-item .accordion-header .field-name-field-short-label,
.paragraph--type--accordion-item .accordion-header .field-name-price {
  width: 23%;
  text-align: right;
  @include font-gotham-book;
  font-size: 0.875rem;

  @include mq($from: tablet) {
    font-size: 1rem;
  }
}

.paragraph--type--accordion-item .accordion-content {
  display: none;
  padding: 2rem 0 0 2rem;
}

.paragraph--type--accordion-item .accordion-cta,
.paragraph--type--accordion-item .accordion-content .buttons {
  margin: 0 0 1rem;

  a,
  button {
    @include cta-button;
    width: 100%;
    margin: 0 0 1rem 0;
    background-color: $white;

    @include mq($from: tablet) {
      width: auto;
      margin: 0 1rem 0 0;
    }

    &:before {
      display: none;
    }
  }
}

// reduce top & bottom padding and margins by 50%
.paragraph--type--accordion-item.paragraph-item-reduce-padding {
  .accordion-content {
    padding-top: 1rem;
  }

  .field-name-field-text {
    margin-bottom: 1rem;
  }
}
