.paragraph--type--text-box-with-quote {
  @include contain;
}

.paragraph--type--text-box-with-quote .field-name-field-quote {
  display: none;

  @include mq($from: tablet) {
    @include font-surveyor-fine-book;
    display: block;
    float: left;
    position: relative;
    width: calc(50% - 20px);
    padding-right: 12.5%;
    padding-left: 20px;
    margin: 66px 24px 50px -12.5%;
    padding-bottom: 54px;
  }
}

.paragraph--type--text-box-with-quote blockquote {
  margin: 0;
  padding: 0;
  max-width: inherit;
  color: $grey-900;
  font-size: 2.25rem;
  line-height: 1;
  letter-spacing: 0;
  position: relative;

  &:before,
  &:after {
    display: inline-block;
    vertical-align: bottom;
    color: $black;
    font-size: 5rem;
    position: absolute;
  }

  &:before {
    left: -2.25rem;
    top: -1rem;
    content: "\201C";
  }

  &:after {
    right: -2rem;
    bottom: -1rem;
    content: "\201D";
  }
}

.paragraph--type--text-box-with-quote .field-name-field-quote:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 20px;
  width: 78px;
  height: 10px;
  background: #000;
}
