.paragraph--type--standard-image-text-with-cta img {
  min-width: 100%;
}

.paragraph--type--standard-image-text-with-cta {
  &.emphasis-regular,
  &.emphasis-highlight {
    padding-top: 0;
  }
}

.paragraph--type--standard-image-text-with-cta .intro-title {
  @include contain-only;
  @include font-gotham-bold;
  font-size: 1.25rem;
  line-height: 1.2;
  padding-top: 1.5rem;

  @include mq($from: desktop) {
    font-size: 1.875rem;
    padding-top: 3rem;
  }
}

.paragraph--type--standard-image-text-with-cta .intro-title + :not(.field-name-field-subtitle) {
  padding-top: 1rem;

  @include mq($from: mobile) {
    padding-top: 0;
  }

  @include mq($from: tablet) {
    padding-top: 2rem;
  }
}

.paragraph--type--standard-image-text-with-cta .field-name-field-subtitle {
  @include contain-only;
  @include font-gotham-bold;
  margin: 2px 0 0;
  font-size: 0.9rem;
  line-height: 1.33;
  letter-spacing: -0.1px;
  word-spacing: -2px;

  @include mq($from: mobile) {
    font-size: 1.125rem;
    line-height: 1.33;
  }

  @include mq($from: tablet) {
    font-size: 1.125rem;
    line-height: 1.33;
    padding: 0 0 1rem;
  }
}

.paragraph--type--standard-image-text-with-cta .field-name-field-text {
  @include contain-only;
  margin: 0 auto 1.3rem;
  font-size: 0.9rem;
  line-height: 1.54;

  @include mq($from: mobile) {
    margin: 1.3rem auto 2rem;
  }

  @include mq($from: tablet) {
    margin: 0 auto 1.3rem;
    font-size: 1rem;
  }
}

.paragraph--type--standard-image-text-with-cta .field-name-field-cta {
  @include contain-only;
  padding: 0 2rem;

  @include mq($from: mobile) {
    display: inline-block;
  }

  @include mq($from: tablet) {
    display: block;
    padding: 1rem 0;
  }
}

.paragraph--type--standard-image-text-with-cta {
  .image-info {
    display: flex;
    flex-direction: column-reverse;
    padding: 0.5rem 2rem;

    @include mq($from: tablet) {
      flex-direction: row;
      justify-content: space-between;
      padding-bottom: 1rem;
    }
  }

  .image-caption {
    @include caption;
    text-align: right;
  }

  &.p-long-caption {
    .long-caption {
      width: 100%;

      @include mq($from: tablet) {
        width: calc(70% - 1rem);
      }
    }

    .image-caption {
      margin-bottom: 0.5rem;
      width: 100%;

      @include mq($from: tablet) {
        width: 30%;
      }
    }
  }
}
