.paragraph--type--member-reservation-links-list {
  @include contain;
  padding-bottom: 2rem;
  @include mq($from: tablet) {
    padding-bottom: 3rem
  }
}

.paragraph--type--member-reservation-links-list h2 {
  margin: 0 0 0.5rem;
}

.paragraph--type--member-reservation-links-list .field-name-field-text {
  margin: 0 0 1.4rem;
}

.paragraph--type--member-reservation-links-list .field-name-field-section-title {
  @include helvetica;
  color: #000000;
  font-size: 1.5rem;
  letter-spacing: -0.55px;
  line-height: 36px;

  @include mq($from: tablet) {
    font-size: 1.875rem;
  }
}

.paragraph--member-reservation-links-list {
  margin: 0 0 1.4rem 1.4rem;
}

.paragraph--member-reservation-links-list a {
  display: block;
  text-align: left;
  font-size: 0.9375rem;
  line-height: 1.6;

  &:before {
    display: none;
  }
}

.paragraph--type--member-reservation-links-list + .paragraph--type--vertical-card {
  padding-top: 3rem;
  padding-bottom: 4rem;

  @include mq($from: tablet) {
    padding-top: 5rem;
    padding-bottom: calc(5rem - 1rem);
  }
}

