.paragraph--horizontal-card-content {
  @include contain-only;
  display: flex;
  flex-direction: column;

  @include mq($from: tablet) {
    flex-direction: row;
  }
}

.paragraph--horizontal-card-content .paragraph--horizontal-card-image a:before {
  background-color: transparent;
}

.paragraph--horizontal-card-image {
  width: 100%;
  margin-bottom: 0.75rem;
  order: 1;

  @include mq($from: tablet) {
    width: calc(50% - 1.5rem);
    margin-right: 1.5rem;
    margin-bottom: 0;
  }
}

.paragraph--horizontal-card-image img {
  display: block;
  width: 100%;
}

.paragraph--horizontal-card-text {
  width: 100%;
  order: 2;

  @include mq($from: tablet) {
    width: 50%;
  }

  h3 {
    @include font-gotham-bold;
    font-size: 0.85rem;
    line-height: 1.4;
    margin: 0 0 1rem;

    @include mq($from: tablet) {
      font-size: 1.125rem;
    }
  }

  .field-name-field-text {
    display: none;

    @include mq($from: tablet) {
      display: block;
    }
  }

  p {
    font-size: 0.85rem;
    line-height: 1.71;
    margin: 0 0 0.65rem;
  }

  .field-name-field-cta a {
    @include font-gotham-bold;
  }
}
