.node-field-section-title {
  @include contain-only;
  @include clearfix;
}

.node-field-section-title h2 {
  @include font-gotham-bold;
  font-size: 1.25rem;
  line-height: 1.2;
  letter-spacing: -0.6px;
  margin-bottom: 0;

  @include mq($from: tablet) {
    font-size: 1.875rem;
    margin-bottom: 2.188rem;
  }
}

.general-information-container {
  @include contain;
  @include clearfix;
}

.general-information-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.paragraph--type--general-information {
  width: 100%;
  margin-bottom: 2.188rem;
  padding: 0;

  a {
    @include font-gotham-bold;
  }

  p,
  a {
    font-size: 0.875rem;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  @include mq($from: tablet) {
    width: 50%;
    padding-right: 0.75rem;

    &:nth-child(even) {
      padding-left: 0.75rem;
    }
  }
}

.general-information-block-title {
  @include font-gotham-bold;
  font-size: 0.875rem;
  line-height: 1.4;
  margin-bottom: 1.375rem;

  @include mq($from: tablet) {
    font-size: 1.125rem;
  }
}
