// Membership

.paragraph--type--membership {
  @include contain-padding;
  @include clearfix;

  h2, h3, h4, h5, h6 {
    @include font-gotham-bold;
  }

  h2 {
    font-size: 2rem;
  }
}

.paragraph--type--membership .paragraph--type--accordion-item {
  width: 100%;
  padding: 0;
}
