// Dashboard card

.paragraph--type--dashboard-card {
  padding: 1rem 0;

  @include mq($from: tablet) {
    padding: 2rem 0;
  }

  &.double .paragraph-dashboard-card-container {
    justify-content: space-between;
    margin-bottom: 0;

    @include mq($from: tablet) {
      justify-content: inherit;
    }

    .paragraph--dashboard-card-content {
      margin-right: 0;

      @include mq($from: tablet) {
        margin-right: 3%;
      }
    }
  }
}

.paragraph-dashboard-card-container {
  @include contain;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 2rem;
  margin-left: 0;
  margin-right: 0;
}

.paragraph--dashboard-card-content {
  width: 47%;
  display: flex;
  flex-direction: column;
  margin: 0 0 2rem;

  @include mq($from: tablet) {
    width: 30%;
    margin: 0;
  }
}

.paragraph--dashboard-card-text {
  order: 2;
}

.paragraph--dashboard-card-text .card-title {
  @include font-gotham-bold;
  font-size: 0.875rem;
  margin: 0;
  padding: 0.5rem 0 0.75rem;
  line-height: 1rem;

  @include mq($from: tablet) {
    font-size: 1.2rem;
    padding: 1.5rem 0 1rem;
  }
}

.paragraph--dashboard-card-text .card-text {
  display: none;

  @include mq($from: tablet) {
    display: block;
    margin-bottom: 0;
  }

  p {
    margin-bottom: 0.75rem;
  }
}

.paragraph--dashboard-card-text .card-link a {
  @include cta-button;
}

.paragraph--dashboard-card-image {
  order: 1;

  img {
    width: 100%;
    height: auto;
  }

  a:before {
    background: none !important;
  }
}
