.paragraph--type--simple-text {
  @include contain;
  @include clearfix;
}

.paragraph:not(.paragraph--type--double-column-simple-text) {
  .field-name-field-text,
  .field-name-field-card-description {
      p a {
      font-weight: 600;
    }
  }
}
