.paragraph--image-list-container {
  @include contain;
}

.emphasis-highlight .paragraph--image-list-container {
  @include contain-only;
}

.paragraph--image-list-content ul {
  list-style: none;
  display: flex;
  margin: 0;
  flex-direction: column;

  @include mq($from: tablet) {
    flex-direction: row;
  }
}

.paragraph--image-list-item {
  width: 100%;
  margin: 0.65rem 0;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin: 0;
  }

  @include mq($from: tablet) {
    margin: 0 0.65rem;
  }
}

.paragraph--image-list-item img {
  display: block;
  width: 100%;
}

.paragraph--type--image-list {
  .image-info {
    padding: 0.5rem 0;
  }

  .credit-line {
    text-align: right;
  }

  &.p-short-caption.p-credit-line .image-info {
    display: flex;
    flex-direction: column-reverse;

    @include mq($from: mobile) {
      flex-direction: row;
      justify-content: space-between;
    }

    .credit-line {
      margin-bottom: 0.5rem;
    }
  }

  &.p-long-caption.p-credit-line .image-info {
    display: flex;
    flex-direction: column;

    @include mq($from: tablet) {
      flex-direction: row-reverse;
      justify-content: space-between;
    }

    .credit-line {
      margin-bottom: 0.5rem;
      width: 100%;

      @include mq($from: tablet) {
        width: 30%;
      }
    }

    .long-caption {
      width: 100%;

      @include mq($from: tablet) {
        width: calc(70% - 1rem);
      }
    }
  }
}
