.paragraph--type--ticket-item {
  @include contain-only;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 2rem 2.188rem;

  @include mq($from: tablet) {
    padding: 0 0 3.438rem;
  }
}

.paragraph--type--ticket-item.paragraph-item-reduce-padding {
  padding-bottom: 0 !important;
}

.paragraph--type--ticket-item .ticket-item-heading-left,
.paragraph--type--ticket-item .ticket-item-heading-right {
  padding: 1rem;
}

.paragraph--type--ticket-item.t--type-1 .ticket-item-heading-left,
.paragraph--type--ticket-item.t--type-1 .ticket-item-heading-right,
.paragraph--type--ticket-item.t--type-2 .ticket-item-heading-left,
.paragraph--type--ticket-item.t--type-2 .ticket-item-heading-right {
  padding: 1.5rem 1rem;
  @include mq($from: tablet) {
    padding: 2rem 1rem;
  }
}

.paragraph--type--ticket-item.t--type-3 .ticket-item-right .ticket-item-price,
.paragraph--type--ticket-item.t--type-3 .ticket-item-right .ticket-item-price {
  display: none;

  @include mq($from: tablet) {
    display: initial;
  }
}

.paragraph--type--ticket-item .ticket-item-heading {
  background: $blue-100;
  min-height: 40px;
  color: $white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex: 0 0 100%;
}

.paragraph--type--ticket-item .ticket-item-heading {
  position: relative;
}

.paragraph--type--ticket-item .ticket-item-heading .tickets--left-trigger {
  background-image: url(../assets/images/icon-right-arrow.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%) rotate(180deg);
  z-index: 2;

  @include mq($from: tablet) {
    opacity: 0;
    z-index: 0;
  }
}

.paragraph--type--ticket-item .ticket-item-heading .tickets--right-trigger {
  background-image: url(../assets/images/icon-right-arrow.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
  z-index: 2;

  @include mq($from: tablet) {
    opacity: 0;
    z-index: 0;
  }
}

.paragraph--type--ticket-item .ticket-item-heading-right-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  flex: 0 0 50%;

  @include mq($from: tablet) {
    width: 100%;
    flex: 0 0 100%;
  }
}

.paragraph--type--ticket-item .ticket-item-heading .ticket-item-heading-left {
  flex: 0 0 35%;
}

.paragraph--type--ticket-item .ticket-item-heading .ticket-item-heading-right {
  flex: 0 0 67%;
}

.paragraph--type--ticket-item .ticket-item-heading .ticket-item-heading-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.paragraph--type--ticket-item .ticket-item-heading-element {
  text-align: center;
  font-size: 0.95rem;
  font-weight: 700;
  transform: scale(0, 0) translateX(0px) translateY(-80%);
  transition: all ease 0.5s;
  position: absolute;
  top: 50%;

  @include mq($from: tablet) {
    word-spacing: 100vw;
    font-size: 0.75rem;
    display: initial;
    top: initial;
    transform: scale(1, 1);
    position: relative;
  }

  @include mq($from: desktop) {
    font-size: 0.95rem;
  }
}

.paragraph--type--ticket-item .ticket-item-heading-element.active {
  display: initial;
  transform: scale(1, 1) translateX(0px) translateY(-50%);
  transition: all ease 0.5s;

  @include mq($from: tablet) {
    word-spacing: 100vw;
    font-size: 0.75rem;
    display: initial;
    top: initial;
    transform: scale(1, 1);
  }

  @include mq($from: desktop) {
    font-size: 0.95rem;
  }
}

.paragraph--type--ticket-item  .ticket-item-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex: 0 0 100%;

  @include mq($from: tablet) {
    border: 1px solid $grey-200;
  }
}

.paragraph--type--ticket-item  .ticket-item-row.no-pricing .ticket-item-left {
  flex: 0 0 50%;
  @include mq($from: tablet) {
    flex: 0 0 65%;
  }
}

.paragraph--type--ticket-item  .ticket-item-row.no-pricing .ticket-item-right {
  flex: 0 0 50%;
  @include mq($from: tablet) {
    flex: 0 0 35%;
  }
}

.paragraph--type--ticket-item  .ticket-item-row.no-pricing .ticket-item-right .ticket-item-right-wrapper {
  display: none;
}

.paragraph--type--ticket-item.row--even .ticket-item-row {
  background: $white;
}

.paragraph--type--ticket-item.row--odd .ticket-item-row {

  @include mq($from: tablet) {
    background: $grey-100;
  }
}

.paragraph--type--ticket-item .ticket-item-left,
.paragraph--type--ticket-item .ticket-item-right {
  padding: 0.5rem;
}

.paragraph--type--ticket-item .ticket-item-left {
  flex: 0 0 35%;
  display: flex;
  align-items: center;
}

.paragraph--type--ticket-item .ticket-item-left .field-name-field-headline {
  color: $blue-100;
  margin: 0 0 0.5rem;
  line-height: 1.25;
  font-size: 0.95rem;
  letter-spacing: 0.3px;
  font-weight: 400;

  @include mq($from: tablet) {
    font-size: 1.5rem;
    letter-spacing: 0.5px;
    line-height: 1.25;
  }
}

.paragraph--type--ticket-item .ticket-item-left .field-name-field-text {
  color: $black;
  margin: 0;
  font-size: 0.75rem;
  line-height: 1.25;
  display: none;

  @include mq($from: tablet) {
    display: block;
  }
}

.paragraph--type--ticket-item .ticket-item-left .field-name-field-text p {
  margin: 0;
}

.paragraph--type--ticket-item .ticket-item-right {
  flex: 0 0 65%;
  align-items: center;
  display: flex;
  padding: 0.5rem;
  position: relative;
  flex-direction: row;
  justify-content: flex-start;

  @include mq($from: tablet) {
    padding: 1rem 0.5rem;
    display: block;
    flex-direction: column;
    justify-content: center;
  }
}

.paragraph--type--ticket-item .ticket-item-right .ticket-item-right-wrapper {
  min-width: initial;
  flex: 0 0 50%;
  @include mq($from: tablet) {
    min-width: initial;
    flex: 0 0 100%;
  }
}

.paragraph--type--ticket-item .ticket-item-right .field-name-field-cta {
  margin: 0 0 0 auto;
  float: right;

  @include mq($from: tablet) {
    margin: 1rem 0 0;
  }
}

.paragraph--type--ticket-item.t--type-1 .ticket-item-right {
  @include mq($from: tablet) {
    padding: 2rem 0.5rem 0.85rem;
  }
}

.paragraph--type--ticket-item .ticket-item-right.inline-items {
  display: flex;
  flex-direction: row;
  justify-content: center;

  .ticket-item-right-wrapper {
    min-width: initial;
    flex: 0 0 50%;
  }

  .field-name-field-cta {
    margin: 0 0 0 auto;
  }
}

.paragraph--type--ticket-item .ticket-item-right-wrapper {
  min-width: 100%;
}

.paragraph--type--ticket-item .ticket-item-right .field-name-field-ticket-prices {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  flex: 0 0 50%;

  @include mq($from: tablet) {
    flex: 0 0 100%;
  }

}

.paragraph--type--ticket-item .ticket-item-price {
  text-align: center;
  font-size: 0.95rem;
  transform: scale(0, 0) translateX(0) translateY(-80%);
  transition: all ease 0.5s;
  position: absolute;
  top: 50%;

  @include mq($from: tablet) {
    position: relative;
    display: initial;
    top: initial;
    font-size: 1.25rem;
    transform: scale(1, 1) translateX(0) translateY(0%);
  }
}

.paragraph--type--ticket-item .ticket-item-price.active {
  display: initial;
  transform: scale(1, 1) translateX(0) translateY(-50%);
  transition: all ease 0.5s;

  @include mq($from: tablet) {
    display: initial;
    transform: scale(1, 1) translateX(0) translateY(0);
  }
}

.paragraph--type--ticket-item .field-name-field-cta {

  @extend .cta-button;
  margin: 0;
  max-width: 200px;
  padding: 0.3rem;

  @include mq($from: tablet) {
    align-self: flex-end;
    width: 70%;
    margin: 1.5rem 0 0;
    padding: 0.75rem;
  }
}

.paragraph--type--ticket-item .field-name-field-cta:hover a {
  color: white;
}

.paragraph--type--ticket-item .field-name-field-cta a {
  text-transform: uppercase;
  font-size: 0.65rem;
  font-weight: 400;

  &:before {
    display: none;
  }

  @include mq($from: tablet) {
    font-size: 0.75rem;
  }
}

.ticket-item-block-title {
  @include contain-only;
  @include clearfix;
  @include font-gotham-bold;
  
  > div {
    padding: 0 0 1rem;
  }
}
