.paragraph--type--simple-text-with-cta {
  // padding: 0 0 2.188rem;

  // @include mq($from: tablet) {
  //   padding: 0 0 3.438rem;

  //   &.emphasis-regular,
  //   &.emphasis-highlight {
  //     padding: 3.438rem 0;
  //   }
  // }

  // &.emphasis-regular {
  //   background-color: $grey-100;
  //   padding: 2.188rem 0;
  // }

  // &.emphasis-highlight {
  //   padding: 3.438rem 0;
  //   background-color: $blue-100;
  //   color: $white;
  // }

  // &.emphasis-highlight,
  // &.emphasis-highlight a,
  // &.emphasis-highlight h2,
  // &.emphasis-highlight h3,
  // &.emphasis-highlight h4,
  // &.emphasis-highlight p {
  //   color: $white;
  // }

  // &.emphasis-highlight a:before,
  // &.emphasis-highlight a:hover:before {
  //   background-color: $white;
  // }

  // &.emphasis-highlight .cta-button {
  //   border-color: $white;
  // }

  // &.emphasis-highlight .cta-button:hover {
  //   background-color: $white;
  //   color: $blue-100;
  //   box-shadow: none;
  // }
}

.paragraph--simple-text-with-cta-content {
  @include contain-only;
}

.cta-title {
  @include font-gotham-bold;
  font-size: 1.25rem;

  @include mq($from: tablet) {
    font-size: 2rem;
  }
}

// for component with emphasis of the same type in a row
// .paragraph--type--simple-text-with-cta.emphasis-regular + .paragraph--type--simple-text-with-cta:not(.emphasis-regular),
// .paragraph--type--simple-text-with-cta.emphasis-regular + .paragraph--type--simple-text-with-cta:not(.emphasis-highlight),
// .paragraph--type--simple-text-with-cta.emphasis-highlight + .paragraph--type--simple-text-with-cta:not(.emphasis-regular),
// .paragraph--type--simple-text-with-cta.emphasis-highlight + .paragraph--type--simple-text-with-cta:not(.emphasis-highlight) {
//   padding: 2.188rem 0;

//   @include mq($from: tablet) {
//     padding: 3.438rem 0;
//   }
// }

// for component with emphasis of the same type in a row
.paragraph--type--simple-text-with-cta.emphasis-regular + .paragraph--type--simple-text-with-cta.emphasis-regular {
  padding-top: 0;

  @include mq($from: tablet) {
    padding-top: 0;
  }
}

// for component with emphasis of the same type in a row
.paragraph--type--simple-text-with-cta.emphasis-highlight + .paragraph--type--simple-text-with-cta.emphasis-highlight {
  padding-top: 0;

  @include mq($from: tablet) {
    padding-top: 0;
  }
}
