.paragraph--type--blog-page-introduction {
  @include contain;
}

.paragraph--type--blog-page-introduction .field-name-field-long-title-headline {
  @include font-surveyor-text-book;
  font-size: 2rem;
  line-height: 1;
  margin-bottom: 1.8rem;

  @include mq($from: mobile) {
    font-size: 3rem;
  }

  @include mq($from: tablet) {
    font-size: 4.5rem;
  }
}

.paragraph--type--blog-page-introduction .field-name-field-image-file {
  padding-top: 1.5rem;
  margin-top: 1.5rem;
  border-top: 1px solid $grey-800;

  @include mq($from: tablet) {
    padding-top: 2rem;
    margin-top: 2rem;
  }
}

.paragraph--type--blog-page-introduction .field-name-field-blog-main-image-caption {
  @include caption;
}

.paragraph--type--blog-page-introduction .field-name-field-synopsis-overview {
  border-top: 0;
  margin-top: 0;
}
