.paragraph--image-content {
  @include clearfix;
}

.paragraph--image-full-bleed .field-type-image {
  background: $grey-100;
}

.paragraph--image-full-bleed .image-wrapper img,
.paragraph--image-standard .image-wrapper img {
  display: block;
  width: 100%;
}

.paragraph--image-standard,
.paragraph--image-1-2,
.paragraph--image-1-4 {
  .image-wrapper,
  .image-info {
    @include contain-only;
  }
}

.paragraph--image-1-2 {
  max-width: 480px;
}

.field-name-field-credit-line {
  @include caption;
}

.field-name-field-image-caption,
.field-name-field-long-caption {
  @include font-gotham-bold;
  font-size: 0.65rem;
}

.paragraph--image-standard {

  .image-info {
    padding: 0.5rem 2rem;

    @include mq($from: tablet) {
      padding: 0.5rem 0;
    }
  }

  &.p-short-caption.p-credit-line .image-info {
    display: flex;
    flex-direction: column-reverse;

    @include mq($from: mobile) {
      flex-direction: row;
      justify-content: space-between;
    }

    .credit-line {
      margin-bottom: 0.5rem;
    }
  }

  &.p-credit-line {
    .credit-line {
      text-align: right;
    }
  }

  &.p-long-caption.p-credit-line .image-info {
    display: flex;
    flex-direction: column;

    @include mq($from: tablet) {
      flex-direction: row-reverse;
      justify-content: space-between;
    }

    .credit-line {
      margin-bottom: 0.5rem;
      width: 100%;

      @include mq($from: tablet) {
        width: 30%;
      }
    }

    .long-caption {
      width: 100%;

      @include mq($from: tablet) {
        width: calc(70% - 1rem);
      }
    }
  }
}

.paragraph--image-full-bleed {

  .image-info {
    padding: 0.5rem 2rem;
  }

  &.p-short-caption.p-credit-line .image-info {
    display: flex;
    flex-direction: column-reverse;

    @include mq($from: mobile) {
      flex-direction: row;
      justify-content: space-between;
    }

    .credit-line {
      margin-bottom: 0.5rem;
    }
  }

  &.p-long-caption.p-credit-line .image-info {
    display: flex;
    flex-direction: column;

    @include mq($from: tablet) {
      flex-direction: row-reverse;
      justify-content: space-between;
    }

    .credit-line {
      margin-bottom: 0.5rem;
      width: 100%;

      @include mq($from: tablet) {
        width: 30%;
      }
    }

    .long-caption {
      width: 100%;

      @include mq($from: tablet) {
        width: calc(70% - 1rem);
      }
    }
  }

  &.p-credit-line {
    .credit-line {
      text-align: right;
    }
  }

  &.emphasis-regular,
  &.emphasis-highlight {
    padding-top: 0 !important;
  }

  .image-wrapper {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 56.25%;
    overflow: hidden;
  }
}
