.paragraph--type--text-block-with-image {
  @include contain;
  @include clearfix;
  clear: both;

  .paragraph--type--text-block-with-image + .field-name-field-text {
    margin: 0;
  }
}

.paragraph--text-w-image-image-caption {
  width: 100%;
  float: none;
  margin: 0 0 1.5rem;
  padding: 0;

  @include mq($from: tablet) {
    display: block;
    float: left;
    position: relative;
    width: 56.25%;
    padding-right: 6.25%;
    margin: 0 1.5rem 3.75rem -12.5%;
  }
}

.paragraph--type--text-block-with-image .field-name-field-long-caption {
  margin: 0.5rem 0 0;
}

.paragraph--type--text-block-with-image .field-name-field-long-caption p {
  font-size: 0.75rem;
}

.paragraph--text-w-image-image-caption.image-inline {

  @include mq($from: tablet) {
    display: block;
    float: left;
    position: relative;
    width: 56.25%;
    padding-right: 6.25%;
    margin: 0 1.5rem 3.75rem 0;
  }
}

.paragraph--text-w-image-image-caption img,
.paragraph--text-w-image-image-caption-right img {
    min-width: 100%;
}

.paragraph--text-w-image-image-caption-right {
  width: 100%;
  float: none;
  margin: 0 0 1.875rem;
  padding: 0;

  @include mq($from: tablet) {
    display: block;
    float: right;
    position: relative;
    width: 56.25%;
    padding-left: 6.25%;
    margin: 0 -5.625rem 3.75rem 3%;
  }
}

.paragraph--text-w-image-image-caption-right.image-inline {
  @include mq($from: tablet) {
    display: block;
    float: right;
    position: relative;
    width: 56.25%;
    padding-left: 6.25%;
    margin: 0 0 3.75rem 3%;
  }
}

.paragraph--text-w-image-image-caption-right .field-name-field-image-caption {
  text-align: left;
  margin-left: auto;
  text-transform: uppercase;
  font-size: 0.625rem;
}

.paragraph--text-w-image-image-caption .field-name-field-image-caption {
  text-align: right;
  margin-left: auto;
  text-transform: uppercase;
  font-size: 0.625rem;
}
