.paragraph--vertical-card-container {
  @include contain-only;
}

.paragraph--vertical-card-content {
  display: flex;
  flex-direction: column;
}

.paragraph--type--vertical-card.double {
  .paragraph--vertical-card-container {
    display: flex;
  }

  .paragraph--vertical-card-content {
    width: 50%;

    &:first-child {
      margin-right: 1.3rem;
    }
  }
}

.paragraph--type--vertical-card .field-headline-vert-card-title {
  @include font-gotham-bold;
  font-size: 0.875rem;
  margin: 0;
  padding: 0.5rem 0 0;
  line-height: 1.5rem;

  @include mq($from: tablet) {
    font-size: 1.2rem;
    padding: 1.5rem 0 1rem;
  }
}

.paragraph--type--vertical-card .paragraph--vertical-card-image {
  order: 1;
}

.paragraph--type--vertical-card .paragraph--vertical-card-text {
  order: 2;
}

.paragraph--vertical-card-content .field-name-field-text,
.paragraph--vertical-card-content .field-name-field-text-2 {
  display: none;

  @include mq($from: tablet) {
    display: block;
    margin-bottom: 0;
  }
}

.paragraph--vertical-card-content .field-name-field-text p,
.paragraph--vertical-card-content .field-name-field-text-2 p {
  margin-bottom: 0.75rem;
}

.paragraph--vertical-card-image img {
  display: block;
  width: 100%;
}

.paragraph--vertical-card-content .field-type-link {
  @include font-gotham-bold;
  font-size: 0.875rem;

  @include mq($from: tablet) {
    font-size: 1rem;
  }
}
