.paragraph--type--webform-content {
  background-color: $grey-100;
}

.paragraph--type--webform-content .webform-required {
  visibility: hidden;
  height: 0;
}

.paragraph--type--webform-content .webform-required + .form-item {
  @include font-gotham-bold;
  font-size: 1.25rem;
  margin-bottom: 0;

  @include mq($from: tablet) {
    font-size: 1.875rem;
    margin-bottom: 2.188rem;
  }
}

.paragraph--type--webform-content .webform-required + .form-item + .form-item {
  font-size: 0.8125rem;

  @include mq($from: tablet) {
    font-size: 1rem;
  }
}

.paragraph--type--webform-content .field-type-webform {
  @include contain-padding;
  @include clearfix;
}

.paragraph--type--webform-content .webform-button--submit {
  @include cta-button;
  width: 100%;
  background-color: transparent;
  margin: 1.5rem 0;

  @include mq($from: tablet) {
    width: auto;
  }
}

// Title
.paragraph--type--webform-content .webform-submission-form .form-item {
  display: block;
  position: relative;
  margin: 0 auto 1.675rem !important;

  &.js-form-type-select {
    display: flex;
    margin-bottom: 0 !important;

    select {
      border-color: $blue-100;
      border-radius: 2px;
    }
  }

  input {
    outline: none;
    margin: 0;
  }
}

.paragraph--type--webform-content .webform-submission-form .form-item input:not([type=radio]).active,
.paragraph--type--webform-content .webform-submission-form .form-item input:not([type=checkbox]).active,
.paragraph--type--webform-content .webform-submission-form .form-item textarea.active {
  border-color: $blue-100;
  transition: all .2s ease-out;
}

.paragraph--type--webform-content .webform-submission-form .form-item input[required="required"] + label:after,
.paragraph--type--webform-content .webform-submission-form .form-item select[required="required"] + label:after,
.paragraph--type--webform-content .webform-submission-form .form-item textarea[required="required"] + label:after  {
  content: ' *';
}

.paragraph--type--webform-content .webform-submission-form .form-item input:not([type=radio]) + label ,
.paragraph--type--webform-content .webform-submission-form .form-item input:not([type=checkbox]) + label,
.paragraph--type--webform-content .webform-submission-form .form-item textarea + label {
  @include font-gotham-book;
  // color: $black;
  position: absolute;
  top: 0 !important;
  left: 0.4rem;
  font-size: 1rem;
  opacity: 1;
  cursor: text;
  transition: color .2s ease-out, -webkit-transform .2s ease-out;
  transform-origin: 0% 100%;
  text-align: initial;
  transform: translateY(12px);
  padding: 0 0.35rem;
  background-color: $grey-100;
}

.paragraph--type--webform-content .webform-submission-form .form-item textarea + label {
  top: -8px !important;
  left: 4px;
  font-weight: bold;
  font-size: 0.8rem;
}

.paragraph--type--webform-content .webform-submission-form .form-item input + label.active,
.paragraph--type--webform-content .webform-submission-form .form-item textarea + label.active {
  @include font-gotham-bold;
  color: $grey-800;
  transform: translateY(-5px) scale(0.8);
  transform-origin: 0 0;
}

.paragraph--type--webform-content .webform-submission-form .form-item input[type=checkbox]+ label,
.paragraph--type--webform-content .webform-submission-form .form-item input[type=radio]+ label {
  position: relative !important;
  color: $grey-800;
  font-size: 0.75rem;
}

.paragraph--type--webform-content .webform-submission-form .form-item input[type=checkbox],
.paragraph--type--webform-content .webform-submission-form .form-item input[type=radio] {
  margin-right: 0.5rem;
  margin-bottom: -0.35rem;
  height: 16px;
  width: 16px;
}

.paragraph--type--webform-content .webform-submission-form .form-item.selectbox--item {
  display: inline-block;
}

.paragraph--type--webform-content .webform-submission-form .form-item input[type="checkbox"] {
  height: 16px;
  width: 16px;
  -moz-appearance: none;
  appearance: none;
  padding: 0.65rem;
  border: 1px solid $blue-100;
}

.paragraph--type--webform-content .webform-submission-form .form-item input[type="checkbox"]:checked {
  background: url(../assets/images/icon-tick.svg) no-repeat;
  background-size: 66%;
  background-position: center;
}

.paragraph--type--webform-content .webform-submission-form .js-form-item-checkbox {
  margin-bottom: 0;

  + label {
    display: inline-block;
  }
}

.paragraph--type--webform-content .webform-submission-form .js-form-type-select > label {
  background-color: $grey-100;
}

// checkbox
.paragraph--type--webform-content {
  label {
    @include font-gotham-bold;
    font-size: 1rem;
  }

  description,
  .webform-element-more,
  .webform-element-description {
    @include font-gotham-book;
    font-size: 0.75rem;
  }

  .webform-element-description {
    margin-top: 1.5rem;
  }

  .description {
    margin-bottom: 1.5rem;
  }

  .webform-element-more--content {
    padding: 0.5rem 0 0 0.75rem;
  }
}
