.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

input[type="radio"]:focus + label,
input[type="checkbox"]:focus + label {
  outline: -webkit-focus-ring-color auto 5px;
  outline-offset: -2px;
}
