// Global

html {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

::selection {
  background: $blue-100;
  color: #fff;
}

.medium-zoom-overlay,
.medium-zoom-image--opened {
  z-index: 999;
}

.messages {
  padding: 1rem 1rem 1rem 2rem;
}

//temp
.field-name-field-content .field__label,
.page--node-type-event .field-name-field-event-date {
  display: none;
}

.gallery--img-container img {
  width: 100%;

  &:hover {
    cursor: pointer;
  }
}
