body {
  @include font-gotham-book;
  line-height: 1.5;
  color: $grey-800;
  -webkit-font-smoothing: antialiased;
}

// Reset Headers

h1,
h2,
h3,
h4,
h5,
h6 {
  @include font-surveyor-fine-book;
  line-height: 1;
  color: $grey-900;
  margin-bottom: 1rem;
}

// Default Header Sizes

h1 {
  font-size: 4rem;
  line-height: 1;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1rem;
}

.main-content p {
  margin: 0 0 1rem;
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

sup {
  vertical-align: super;
}

blockquote {
  display: block;
  max-width: 100%;
  padding: 0.5em 0 0;
  margin-bottom: 1.5em;
  font-size: 1.2rem;
  @include font-surveyor-fine-book;

  @include mq($from: tablet) {
    max-width: 90%;
  }
}

blockquote p {
  display: inline;
  margin: 0;
}

hr {
  margin: 1rem 0;
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
