{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - content.children: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - content: The field item content.
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}

{#
/**
 * @file
 * Default theme implementation to each level of menu.
 */
#}

<nav class="block block-menu navigation">

  {% for key, item in items if key|first != '#' %}
    {% if item.parent %}
      <h2 class="nav-link-wrapper block-menu-parent-link">
        <i class="fas fa-sort-down"></i>
        {{ link(item.parent.title, item.parent.url, { 'class':['nav-link']}) }}
      </h2>
    {% else %}
      <h2 class="nav-link-wrapper block-menu-parent-link">
        <i class="fas fa-sort-down"></i>
        {{ link(item.title, item.url, { 'class':['nav-link']}) }}
      </h2>
    {% endif %}

  {% endfor %}

  <ul class="menu menu-level-0 sidebar-menu" {{ attributes|without('class') }} >
    {% for key, item in items if key|first != '#' %}

      {% set menu_item_classes = [
        'menu-item', item.parent.in_active_trail ? 'menu-item--active-trail',
      ] %}

    <li {{ item.attributes.addClass(menu_item_classes, item.url.getOption('attributes').class) }} >

      {% if item.parent %}
        <h3 class="nav-link-wrapper {{ item.parent.in_active_trail ? 'menu-item--active-trail' }}">
          {{ link(item.title, item.url) }}
        </h3>
      {% endif %}

      {% if item.below %}
        <ul class="menu-level-1 {{ item.parent.in_active_trail ? 'menu-item--active-trail' }} {{ item.in_active_trail ? 'menu-item--active-trail' }}">
        {% for key, item_child in item.below %}

          {% set menu_item_classes = [
          'menu-item', item_child.in_active_trail ? 'menu-item--active-trail',
          ] %}

          <li {{ item.attributes.addClass(menu_item_classes, item_child.url.getOption('attributes').class) }} >
            {% if item.parent %}
              <h4 class="nav-link-wrapper">
                {{ link(item_child.title, item_child.url, { 'class':['nav-link']}) }}
              </h4>
            {% else %}
              <h3 class="nav-link-wrapper">
                {{ link(item_child.title, item_child.url, { 'class':['nav-link']}) }}
              </h3>
            {% endif %}
          </li>
        {% endfor %}
        </ul>
      {% endif %}
      </li>
    {% endfor %}
  </ul>
</nav>