{#
/**
 * @file
 * Default theme implementation to present a menu link entity entity.
 *
 * Available variables:
 * - menu_link_content: Menu link entity.
 * - show_item_link: Indicator for menu item link.
 *
 * @see template_preprocess_menu_link_content()
 *
 * @ingroup themeable
 */
#}

{% set menu_dropdown_classes = [
  'menu-dropdown',
  elements['#menu_level'] is defined ? 'menu-dropdown-' ~ elements['#menu_level'],
  elements['#view_mode'] ? 'menu-type-' ~ elements['#view_mode'],
] %}

<div{{ attributes.addClass(menu_dropdown_classes) }} aria-hidden="true">
  <h2 class="menu-link-level-0">{{ link(content.linkName, content.linkUrl, { 'class':['menu-link-title']}) }} </h2>
  {% if show_item_link %}
    {{ link(menu_link_content.getTitle(), menu_link_content.getUrlObject()) }}
  {% endif %}
  {% if content %}
      <ul class="menu menu-level-{{ content.children|first.menu_level }} {{ attributes.class }}" {{ attributes|without('class') }} >
        {% for keyWrapper, itemWrapper in content.childs if ( key|first != '#' ) %}
          <div class="column">
            {% for key, item in itemWrapper if ( key|first != '#' ) %}
                {% set menu_item_classes = [
                'menu-item',
                item.is_expanded ? 'menu-item--expanded',
                item.is_collapsed ? 'menu-item--collapsed',
                item.in_active_trail ? 'menu-item--active-trail',
                ] %}
              <li {{ item.attributes.addClass(menu_item_classes, item.url.getOption('attributes').class) }} >
                  {%  if item.link_wrap %}
                  <{{item.link_wrap}} class="nav-link-wrapper"> {{ link(item.title, item.url, { 'class':['nav-link']}) }}
                    {% if item.is_expanded %} <button class="menu-link-toggle collapsed" data-toggle="collapse" data-target="#{{ item.linkId|lower }}" aria-expanded="false" aria-controls="collapseMenuLink" aria-label="{{ item.title }}"><span></span>
                      <span></span></button> {% endif %}
                  </{{item.link_wrap}}>
                {% else %}
                  {{ link(item.title, item.url, { 'class':['nav-link']}) }}
                  {% if item.is_expanded %} <button class="menu-link-toggle collapsed" data-toggle="collapse" data-target="#{{ item.linkId|lower }}" aria-expanded="false" aria-controls="collapseMenuLink" aria-label="{{ item.title }}"><span></span>
                    <span></span></button> {% endif %}
                {% endif %}

                {% set rendered_content = item.content|without('field_menu_hero_image') %}
                {% if rendered_content|render %}
                  {{ rendered_content }}
                {% endif %}
              </li>
            {% endfor %}
          </div>
        {% endfor %}
      </ul>
  {% endif %}
</div>
