{#
/**
 * @file
 * Default theme implementation to present a menu link entity entity.
 *
 * Available variables:
 * - menu_link_content: Menu link entity.
 * - show_item_link: Indicator for menu item link.
 *
 * @see template_preprocess_menu_link_content()
 *
 * @ingroup themeable
 */
#}

{% set menu_dropdown_classes = [
'menu-dropdown',
elements['#menu_level'] is defined ? 'menu-dropdown-' ~ elements['#menu_level'],
elements['#view_mode'] ? 'menu-type-' ~ elements['#view_mode'],
] %}

{% if content.linkId %}
  {% set menu_dropdown_classes = menu_dropdown_classes|merge(['collapse']) %}
{% endif %}

<div{{ attributes.addClass(menu_dropdown_classes) }} {% if content.linkId %} id="{{ content.linkId|lower }}" {% endif %}>
  {% if show_item_link %}
    {{ link(menu_link_content.getTitle(), menu_link_content.getUrlObject()) }}
  {% endif %}
  {% if content %}
    {{ content|without('field_menu_hero_image') }}
  {% endif %}
</div>