{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - content.children: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - content: The field item content.
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}

{#
/**
 * @file
 * Default theme implementation to each level of menu.
 */
#}
{% if parent.link_wrap %}
<{{parent.link_wrap}} class="nav-link-wrapper block-menu-parent-link">
  <i class="fas fa-sort-down"></i>
  {{ link(parent.title, parent.url, { 'class':['nav-link']}) }}
</{{parent.link_wrap}}>
{% endif %}


<ul class="menu menu-level-{{ items|first.menu_level }} {{ attributes.class }}" {{ attributes|without('class') }} >
  {% for key, item in items if key|first != '#' %}
    {% set menu_item_classes = [
    'menu-item',
    item.is_expanded ? 'menu-item--expanded',
    item.is_collapsed ? 'menu-item--collapsed',
    item.in_active_trail ? 'menu-item--active-trail',
    ] %}

  {% if parent.link_wrap %}
    {% set menu_item_classes = menu_item_classes.removeClass('menu-item--collapsed') %}
  {% endif %}

  <li {{ item.attributes.addClass(menu_item_classes, item.url.getOption('attributes').class) }} >
    {%  if item.link_wrap %}
      <{{item.link_wrap}} class="nav-link-wrapper">
        {% if item.field_menu_link_logo %}
          <div class="logo" style="background: url({{  item.field_menu_link_logo }}) no-repeat; background-size: cover;"></div>
        {% endif %}
        {% if item.is_expanded  %}
          {{ item.title }}
        {% else %}
          {{ link(item.title, item.url, { 'class':['nav-link']}) }}
        {% endif %}
      </{{item.link_wrap}}>
    {% else %}
    <div class="nav-link-wrapper">
      {{ link(item.title, item.url, { 'class':['nav-link']}) }}
    </div>
    {% endif %}

    {% set rendered_content = item.content|without('field_menu_hero_image') %}
    {% if rendered_content|render %}
      {{ rendered_content }}
    {% endif %}
    {% if item.is_expanded %}
      <button class="sr-only">{{ item.title }}</button>
    {% endif %}
    </li>
  {% endfor %}
</ul>
