{#
/**
 * @file
 * Default theme implementation to each level of menu.
 */
#}

<ul class="menu menu-level-{{ items|first.menu_level }} {{ attributes.class }}" {{ attributes|without('class') }} >
  {% for key, item in items if key|first != '#' %}
    {% set menu_item_classes = [
      'menu-item',
      item.is_expanded ? 'menu-item--expanded',
      item.is_collapsed ? 'menu-item--collapsed',
      item.in_active_trail ? 'menu-item--active-trail',
    ] %}

    <li {{ item.attributes.addClass(menu_item_classes, item.url.getOption('attributes').class) }} >
      {%  if item.link_wrap %}
        <{{item.link_wrap}} class="nav-link-wrapper">
          {{ link(item.title, item.url, { 'class':['nav-link']}) }}
          {% if item.is_expanded  %}
            {% if item.is_expanded %} <button class="menu-link-toggle collapsed" data-toggle="collapse" data-target="#{{ item.linkId|lower }}" aria-expanded="false" aria-controls="collapseMenuLink" aria-label="{{ item.title }}"><span></span>
              <span></span></button> {% endif %}
          {% endif %}
        </{{item.link_wrap}}>
      {% else %}
        {{ link(item.title, item.url, { 'class':['nav-link']}) }}
        {% if item.is_expanded  %}
          {% if item.is_expanded %} <button class="menu-link-toggle collapsed" data-toggle="collapse" data-target="#{{ item.linkId|lower }}" aria-expanded="false" aria-controls="collapseMenuLink" aria-label="{{ item.title }}"><span></span>
            <span></span></button> {% endif %}
        {% endif %}
      {% endif %}

      {% set rendered_content = item.content|without('field_menu_hero_image') %}
      {% if rendered_content|render %}
        {{ rendered_content }}
      {% endif %}
    </li>
  {% endfor %}
</ul>
