{#
/**
 * @file
 *
 * Default theme implementation for profiles.
 *
 * Available variables:
 * - content: Items for the content of the profile.
 *   Use 'content' to print them all, or print a subset such as
 *   'content.title'. Use the following code to exclude the
 *   printing of a given child element:
 *   @code
 *   {{ content|without('title') }}
 *   @endcode
 * - attributes: HTML attributes for the wrapper.
 * - profile: The profile object.
 * - url: The profile URL, if available.
 *
 * @ingroup themeable
 */
#}
{%
set classes = [
'profile',
'profile--type-' ~ profile.bundle|clean_class,
view_mode ? 'profile--view-mode-' ~ view_mode|clean_class,
]
%}
<div{{ attributes.addClass(classes) }}>
  <div class="profile-image">
    <a href="{{ url }}">
      {% if content.museum_artist_registry_featured_image %}
        {{ content.museum_artist_registry_featured_image }}
      {% else %}
        <img src="/themes/custom/nine_eleven/assets/images/Image.png" class="ar-default-image" />
      {% endif %}
    </a>
  </div>
  <div class="profile-content">
    {{ content|without('museum_artist_registry_featured_image') }}

    <div class="profile-actions">
      <div class="profile-actions-view">
        <a class="btn profile-action-view" href="{{ url }}">{{ 'View Portfolio'|t }}</a>
      </div>
    </div>
  </div>

</div>
