{#
/**
 * @file
 *
 * Default theme implementation for profiles.
 *
 * Available variables:
 * - content: Items for the content of the profile.
 *   Use 'content' to print them all, or print a subset such as
 *   'content.title'. Use the following code to exclude the
 *   printing of a given child element:
 *   @code
 *   {{ content|without('title') }}
 *   @endcode
 * - attributes: HTML attributes for the wrapper.
 * - profile: The profile object.
 * - url: The profile URL, if available.
 *
 * @ingroup themeable
 */
#}
{%
set classes = [
'profile',
'profile--type-' ~ profile.bundle|clean_class,
view_mode ? 'profile--view-mode-' ~ view_mode|clean_class,
]
%}
<div{{ attributes.addClass(classes) }}>
  <header>
    <h1 class="intro-text">{{ 'Artists Registry'|t }}</h1>
  </header>

  <div class="profile-container">
    <div class="profile-content">
      <div class="artist-registry-listing">
          {{ content.artist_registry_eva_profile_form }}
      </div>

       {{ content|without('artist_registry_eva_profile_form') }}
    </div>
  </div>
</div>
