{#
/**
 * @file
 * Theme override to display a taxonomy term.
 *
 * Available variables:
 * - url: URL of the current term.
 * - name: Name of the current term.
 * - content: Items for the content of the term (fields and description).
 *   Use 'content' to print them all, or print a subset such as
 *   'content.description'. Use the following code to exclude the
 *   printing of a given child element:
 *   @code
 *   {{ content|without('description') }}
 *   @endcode
 * - attributes: HTML attributes for the wrapper.
 * - page: Flag for the full page state.
 * - term: The taxonomy term entity, including:
 *   - id: The ID of the taxonomy term.
 *   - bundle: Machine name of the current vocabulary.
 * - view_mode: View mode, e.g. 'full', 'teaser', etc.
 *
 * @see template_preprocess_taxonomy_term()
 */
#}

{%
set classes = [
'taxonomy-term',
'social-link'
]
%}

{% if content.field_url is empty %}
  <a {{ attributes.addClass(classes) }} style="background: url({{ social_icon }}) no-repeat center center; background-size: cover;" href="{{ url }}" target="_blank">{{ name|striptags|trim }}</a>
{% else %}
  <a{{ attributes.addClass(classes) }}  style="background: url({{ social_icon }}) no-repeat center center; background-size: cover;" href="{{ content.field_url|render|striptags|trim }}" target="_blank">{{ name|render }}</a>
{% endif %}


