{#
/**
 * @file
 *
 * Default template for product variations.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - product_variation: The rendered product variation fields.
 *   Use 'product_variation' to print them all, or print a subset such as
 *   'product_variation.title'. Use the following code to exclude the
 *   printing of a given field:
 *   @code
 *   {{ product_variation|without('title') }}
 *   @endcode
 * - product_variation_entity: The product variation entity.
 * - product_url: The product URL.
 *
 * @ingroup themeable
 */
#}
{% set level %}
  {{ product_variation.title }}
{% endset %}
{% set level %}
  {{ level|striptags|trim }}
{% endset %}
<div class="paragraph--type--accordion-item">
  <div class="accordion-header">
    <button aria-expanded="false">{{ product_variation.title }}</button>
    {{ product_variation.price }}
  </div>
  <div class="accordion-content">
    <div class="buttons">
      {% if 'member' not in user.getroles %}
        <button aria-label="Join as {{ level }} member" class="membership-trigger" data-sku="{{ product_variation.sku }}" data-type="membership_join">{{ 'Join'|t }}</button>
      {% endif %}
      <button aria-label="Renew as {{ level }} member" class="membership-trigger" data-sku="{{ product_variation.sku }}" data-type="membership_renew">{{ 'Renew'|t }}</button>
      <button aria-label="Gift as {{ level }} member" class="membership-trigger" data-sku="{{ product_variation.sku }}" data-type="membership_gift">{{ 'Gift'|t }}</button>
    </div>
    {{ product_variation.field_description }}    
  </div>
</div>
