{#
/**
 * @file
 * Default theme implementation for first.
 */
#}
{% for key, item in items if key|first != '#' %}
  {% set menu_item_classes = [
  'menu-item',
  item.is_expanded ? 'menu-item--expanded',
  item.is_collapsed ? 'menu-item--collapsed',
  item.in_active_trail ? 'menu-item--active-trail',
  'menu-item-level-0'
  ] %}

  <div{{ item.attributes.addClass(menu_item_classes) }}>
    <h4 class="nav-link menu-block-title prefooter-title" id="{{ item.title }}">{{  item.title }}</h4>
    {% set rendered_content = item.content|without('') %}
    {% if rendered_content|render %}
      {{ rendered_content }}
    {% endif %}
  </div>
{% endfor %}
