{#
/**
 * @file
 * Default theme implementation to each level of menu.
 */
#}

<ul class="menu menu-level-{{ items|first.menu_level }} {{ attributes.class }}" {{ attributes|without('class') }} >
  {% for key, item in items if key|first != '#' %}
    {% set menu_item_classes = [
    'menu-item',
    item.is_expanded ? 'menu-item--expanded',
    item.is_collapsed ? 'menu-item--collapsed',
    item.in_active_trail ? 'menu-item--active-trail',
    ] %}

    <li {{ item.attributes.addClass(menu_item_classes, item.url.getOption('attributes').class) }} >
      {%  if item.link_wrap %}
        <{{item.link_wrap}} class="nav-link"> {{ link(item.title, item.url, { 'class':['nav-link']}) }} </{{item.link_wrap}}>
      {% else %}
        {{ link(item.title, item.url, { 'class':['nav-link']}) }}
      {% endif %}

      {{ link(item.title, item.url, { 'class':['nav-link', 'hidden']}, { 'aria-hidden' :['hidden']}) }}

      {% set rendered_content = item.content|without('') %}
      {% if rendered_content|render %}
        {{ rendered_content }}
      {% endif %}
    </li>
  {% endfor %}
</ul>
