{#
/**
 * @file
 * Template to output the menu toggle icon (burger).
 */
#}
<a title="Menu" href="#off-canvas" id="toggle-icon" class="toggle responsive-menu-toggle-icon" aria-controls="mobile-main-menu" aria-expanded="false" role="button">
  <span class="icon"></span><span class="label">{{ 'Menu'|t }}</span>
</a>
