{%
set classes = [
'page',
'page-wrap',
]
%}

{{ page.notifications }}

{% for child in theme_hook_suggestions %}
  {% set classes = classes|merge([child|replace({'_':'-'})]) %}
{% endfor %}

{% if page.page_node_type %}
  {% set classes = classes|merge(['page--node-type-' ~ page.page_node_type]) %}
{% endif%}

<div {{ attributes.addClass(classes) }}>

 <header class="header">
    <h2 class="sr-only">{{ 'Header' }}</h2>
    <a class="logo" href="{{ path('<front>') }}" title="{{ '9/11 Memorial | Home'|t }}" rel="home">9/11 Memorial | Home</a>
    {% if page.nav %}
        {{ page.nav }}
    {% endif %}

    {% if page.header %}
      {{ page.header }}
    {% endif %}
</header>

<main>
  <div id="container" class="container">
 
    <!-- Main Content -->
    <div class="main-content">
        <div class="visually-hidden"><a id="main-content" tabindex="-1"></a></div>
        {{ messages }}
        {% if page.help %}
          <div class="help">
            {{ page.help }}
          </div>
        {% endif %}
        {% if action_links %}
          <ul class="action-links">
            {{ action_links }}
          </ul>
        {% endif %}

        {% if secondary_local_tasks %}
          <div class="tabs-secondary clearfix" role="navigation">{{ secondary_local_tasks }}</div>
        {% endif %}

        {{ title_prefix }}
        {% if title %}
          <h1 class="page-title">{{ title }}</h1>
        {% endif %}
        {{ title_suffix }}
        {% if primary_local_tasks %}
          {{ primary_local_tasks }}
        {% endif %}

        {{ page.content }}

        {% if page.content_bottom %}
          {{ page.content_bottom }}
        {% endif %}
        
        <!-- Front Page -->
        {% if is_front %}
          {% if page.quick_access_ribbon %}
            {{ page.quick_access_ribbon }}
          {% endif %}
        {% endif %}
    </div>
  </div>
</main>

<footer class="footer">
  <h2 class="sr-only">Footer</h2>

  {% if page.prefooter %}
    <div class="container-block-prefooter">
        <h3 class="sr-only">{{ "Information about the 9 11 Memorial &amp; Museum" }}</h3>
        {{ page.prefooter }}
    </div>
  {% endif %}

  {% if page.footer %}
    <div class="container-block-footer">
      <h3 class="sr-only">{{ "Language selector, additional information and social media links" }}</h3>
        {{ page.footer }}
    </div>
    <div class="footer-settings-content-container">
      {% if site_settings.footer.copyright %}
        <h3 class="sr-only">{{ "Copyright information" }}</h3>
        <div class="footer-copyright">
          {{ site_settings.footer.copyright.field_text }}
        </div>
      {% endif %}
    </div>
  {% endif %}
</footer>

</div>
